{embed="default_site:inc/head"}

<body class="info-page one-col booking step6">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

    {embed="default_site:inc/progress-indicator"}	

    <div id="main" class="step6" role="main">
        <div class="content-block">
            <div class="content-wrapper rounded-corners gradient-border clearfix">
                <div class="checkout-wrapper">
                    <p class="lock">Secure Credit Card Payment</p>
                    <form id="process_sale" class="uniform">
                        <fieldset>
                                <div>
                                    <label>First Name</label>
                                    <input name="first_name" type="text" class="text">
                                </div>
                                <div>
                                    <label>Last Name</label>
                                    <input name="last_name" type="text" class="text">
                                </div>
                            </fieldset>
                        <fieldset>
                            <div>
                                <label>Email Address</label>
                                <input name="e_mail" type="text" class="text">
                            </div>
                            <div>
                                <label>Billing Address</label>
                                <input name="address" type="text" class="text">
                            </div>
                            <div>
                                <label>Zip Code</label>
                                <input name="zip" type="text" class="text zip">
                            </div>
                             <div class="phone-num">
                                <label>Cell Phone Number</label>
                                <input name="cell_phone1" type="text" class="text phone3" maxlength="3" onKeyDown="TabNext(this,'down',3)" onKeyUp="TabNext(this,'up',3,this.form.cell_phone2)">
                                <input name="cell_phone2" type="text" maxlength="3" class="text phone3" onKeyDown="TabNext(this,'down',3)" onKeyUp="TabNext(this,'up',3,this.form.cell_phone3)">
                                <input name="cell_phone3" type="text" maxlength="4" class="text phone4">
                            </div>                            
                            <!--<div>
                                <label>Cell Phone Number</label>
                                <input name="cell_phone" type="text" class="text phone" maxlength="10">
                            </div>-->
                            
                        </fieldset>
                        <fieldset class="payment-method">
                            <label>Method of Payment</label>
                            <div>
                                <input name="paytype" type="radio" value="cc" checked>
                                <label>Credit Card</label>
                            </div>
                            <div>
                                <input name="paytype" type="radio" value="gc">
                                <label>Gift Card</label>
                            </div>
                            <div>
                                <input name="paytype" type="radio" value="multiple">
                                <label>Multiple Forms of Payment</label>
                            </div><!---->
                            <div id="ccOnFile" class="log-req">
                                <input name="paytype" type="radio" value="cc-onfile">
                                <label>Use my card on file</label>
                            </div>
                            <div id="account" class="log-req">
                                <input name="paytype" type="radio" value="ifly-account">
                                <label>Use my iFly account</label>
                            </div>
                        </fieldset>
                        <div class="pay-fields">
                        <div class="cc pay-option">
                            <fieldset class="cc-info">
                                <div>
                                    <input name="credit_card_no" type="text" class="text" value="Credit Card #" maxlength="16" size="23">
                                    <label class="cc ir"><span class="visa"></span><span class="mastercard"></span><span class="amex"></span><span class="discover"></span><span class="iflycard"></span></label>
                                </div>
                                <div class="expiry">
                                    <select name="exp_month" id="month">
                                        <option>MONTH</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <div class="expiry">
                                    <select name="exp_year" id="year">
                                        <option>YEAR</option>
                                        <option value="13">2013</option>
                                        <option value="14">2014</option>
                                        <option value="15">2015</option>
                                        <option value="16">2016</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                    </select>
                                </div>
                                <div>
                                    <input type="text" name="cvv2" value="CVV2" maxlength="4" class="text phone3">
                                    <label class="ccv ir">CCV</label>	
                                </div>
                                
                            </fieldset>
                            <fieldset class="save-cc">
                                <div>
                                    <input type="radio" name="savecc">
                                    <label for="savecc">Save my credit card information</label>
                                </div>	
                            </fieldset>
                            </div>
                        <div class="multiple pay-option disabled">
                            <!--<fieldset class="mc-gcard">
                                <div class="mc-gcard"><input type="checkbox" name="gift_cert" title="gift_cert"><label for="gift_cert">This payment is a gift certificate or gift card.</label></div>
                            </fieldset>-->
                            <fieldset class="cc-info">
                                <div>
                                    <input type="text" name="credit_card_no" class="text" value="Credit Card/Gift Card #" maxlength="16"  size="23">
                                    <label class="cc ir"><span class="visa"></span><span class="mastercard"></span><span class="amex"></span><span class="discover"></span><span class="iflycard"></span></label>
                                </div>
                                <div class="expiry">
                                    <select name="exp_month" id="month">
                                        <option>MONTH</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                                <div class="expiry">
                                    <select name="exp_year" id="year">
                                        <option>YEAR</option>
                                        <option value="12">2012</option>
                                        <option value="13">2013</option>
                                        <option value="14">2014</option>
                                        <option value="15">2015</option>
                                        <option value="16">2016</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                    </select>
                                </div>
                                <div>
                                    <input type="text" name="ccv2" value="CCV2#" class="text" maxlength="3" size="8">
                                </div>
                                <div>
                                    <input type="text" value="$ Amount" name="amount" class="text" size="10">
                                    <input type="button" value="APPLY" class="apply">
                                </div>
                            </fieldset>
                            <!--<fieldset class="gc-info disabled">
                                <div>
                                    <input type="text" class="text" value="16-digit gift card number" name="credit_card_no" maxlength="16" size="25">
                                </div>
                                <div>
                                    <input type="text" value="$ Amount" name="amount" class="text" size="10">
                                    <input type="button" value="APPLY" class="apply">
                                </div>
                            </fieldset>-->
                            <div class="payment-summary"></div>
                        </div> <!-- multicard payment -->
                        <div class="gc pay-option disabled">
                            <fieldset class="gc-info">
                                <div>
                                    <input type="text" class="text" value="16-digit gift card number" name="credit_card_no" maxlength="16" size="25">
                                </div>
                            </fieldset>
                        </div> <!-- giftcard -->
                        <div class="cc-onfile pay-option disabled">
                            <fieldset class="mc-gcard">
                                <div><input type="checkbox" name="gift_cert" title="gift_cert"><label for="gift_cert">This payment is a gift certificate or gift card.</label></div>
                            </fieldset>
                            <fieldset class="cc-info">
                                <div>
                                    <input type="text" name="credit_card_no" class="text" value="Credit Card #" size="22">
                                    <label class="cc ir">Credit card</label>
                                </div>
                                    <div class="expiry">
                                        <select name="exp_month" id="month">
                                            <option>MONTH</option>
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        </select>
                                    </div>
                                    <div class="expiry">
                                        <select name="exp_year" id="year">
                                            <option>YEAR</option>
                                        <option value="12">2012</option>
                                        <option value="13">2013</option>
                                        <option value="14">2014</option>
                                        <option value="15">2015</option>
                                        <option value="16">2016</option>
                                        <option value="17">2017</option>
                                        <option value="18">2018</option>
                                        <option value="19">2019</option>
                                        <option value="20">2020</option>
                                        <option value="21">2021</option>
                                        <option value="22">2022</option>
                                        </select>
                                    </div>
                                <div>
                                    <input type="text" name="ccv2" value="CCV2#" class="text" size="8">
                                 </div>
                                <div>
                                    <input type="text" value="$ Amount" name="$ Amount" class="text" size="10">
                                    <input type="button" value="APPLY" class="apply">
                                </div>
                            </fieldset>
                            <fieldset class="gc-info disabled">
                                <div>
                                    <input type="text" class="text" value="16-digit gift card number" name="gc_num" size="25">
                                </div>
                            </fieldset>
                        </div> <!-- cc-onfile -->
                        <div class="ifly-account pay-option disabled">
                        </div> <!-- ifly-account -->
                        </div> <!-- pay-fields -->
                            <div class="sale-submit"><input type="submit" value="PLACE YOUR ORDER" class="process disabled"></div>
                    </form>
                    <div class="seal"><span id="siteseal"><script type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=PNvTLwT8mET8eNxqbNbdtGqqu5bnDkxNUJrbUKMCKc4FDbmADgiV"></script></span></div>
                </div><!-- /.checkout-wrapper -->
       				<div class="row booking-terms"><a href="/legal/terms" target="_blank">Terms</a>  |  <a href="/legal/privacy" target="_blank">Privacy</a></div>
            </div><!-- /.content-wrapper -->
        </div><!-- /.content-block -->
    </div><!-- /#main -->
    <div class="pay-templates">
        <div class="cc pay-option disabled">
            <fieldset class="cc-info">
                <div>
                    <input name="credit_card_no" type="text" class="text" value="Credit Card #" maxlength="16" size="23">
                    <label class="cc ir">Credit card</label>
                </div>
                <div class="expiry">
                    <select name="exp_month" id="month">
                        <option>MONTH</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="expiry">
                    <select name="exp_year" id="year">
                        <option>YEAR</option>
                        <option value="12">2012</option>
                        <option value="123">2013</option>
                        <option value="14">2014</option>
                        <option value="15">2015</option>
                        <option value="16">2016</option>
                    </select>
                </div>
                <div>
                    <input type="text" name="cvv2" value="CVV2" maxlength="4" class="text phone3">
                    <label class="ccv ir">CCV</label>	
                </div>
                
            </fieldset>
            <fieldset class="save-cc">
                <div>
                    <input type="radio" name="savecc">
                    <label for="savecc">Save my credit card information</label>
                </div>	
            </fieldset>
        </div> <!-- cc -->
        <div class="multiple pay-option disabled">
            <fieldset class="mc-gcard">
                <div><input type="checkbox" name="gift_cert" title="gift_cert"><label for="gift_cert">This payment is a gift certificate or gift card.</label></div>
            </fieldset>
            <fieldset class="cc-info">
                <div>
                    <input type="text" name="credit_card_no" class="text" value="Credit Card #" maxlength="16"  size="23">
                    <label class="cc ir">Credit card</label>
                </div>
                <div class="expiry">
                    <select name="exp_month" id="month">
                        <option>MONTH</option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>
                <div class="expiry">
                    <select name="exp_year" id="year">
                        <option>YEAR</option>
                        <option value="12">2012</option>
                        <option value="13">2013</option>
                        <option value="14">2014</option>
                        <option value="15">2015</option>
                        <option value="16">2016</option>
                    </select>
                </div>
                <div>
                    <input type="text" name="ccv2" value="CCV2#" class="text" maxlength="3" size="8">
                </div>
                <div>
                    <input type="text" value="$ Amount" name="$ Amount" class="text" size="10">
                    <input type="button" value="APPLY" class="apply">
                </div>
            </fieldset>
            <fieldset class="gc-info">
                <div>
                    <input type="text" class="text" value="16-digit gift card number" maxlength="16" size="25">
                </div>
                <div>
                    <input type="text" value="$ Amount" name="$ Amount" class="text" size="10">
                    <input type="button" value="APPLY" class="apply">
                </div>
            </fieldset>
            <div class="payment-summary"></div>
        </div> <!-- multicard payment -->
        <div class="gc pay-option disabled">
            <fieldset class="gc-info">
                <div>
                    <input type="text" class="text" value="16-digit gift card number" maxlength="16" size="25">
                </div>
            </fieldset>
        </div> <!-- giftcard -->
        <div class="cc-onfile pay-option disabled">
            <fieldset class="mc-gcard">
                <div><input type="checkbox" name="gift_cert" title="gift_cert"><label for="gift_cert">This payment is a gift certificate or gift card.</label></div>
            </fieldset>
            <fieldset class="cc-info">
                <div>
                    <input type="text" name="credit_card_no" class="text" value="Credit Card #" size="22">
                    <label class="cc ir">Credit card</label>
                </div>
                    <div class="expiry">
                        <select name="exp_month" id="month">
                            <option>MONTH</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>
                    <div class="expiry">
                        <select name="exp_year" id="year">
                            <option>YEAR</option>
                            <option value="12">2012</option>
                            <option value="13">2013</option>
                            <option value="14">2014</option>
                            <option value="15">2015</option>
                            <option value="16">2016</option>
                        </select>
                    </div>
                <div>
                    <input type="text" name="ccv2" value="CCV2#" class="text" size="8">
                 </div>
                <div>
                    <input type="text" value="$ Amount" name="$ Amount" class="text" size="10">
                    <input type="button" value="APPLY" class="apply">
                </div>
            </fieldset>
            <fieldset class="gc-info disabled">
                <div>
                    <input type="text" class="text" value="16-digit gift card number" size="25">
                </div>
            </fieldset>
        </div> <!-- cc-onfile -->
        <div class="ifly-account pay-option disabled">
        </div> <!-- ifly-account -->
    </div>
	{embed="default_site:inc/footer"}
    {embed="default_site:inc/scripts"}
    {embed="default_site:inc/modals"}
    
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.booking.init.step6();
		});
	</script>
    
</body>
</html>