{embed="default_site:inc/head"}
<body class="info-page one-col booking step3">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	{embed="default_site:inc/progress-indicator"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<a class="btn-prev" href="#">&lt;</a>
				<a class="btn-next disabled" href="#">&gt;</a>
				<div class="single-step">
                
				{exp:channel:entries channel="booking" site="default_site" disable="categories|category_fields|member_data|pagination" entry_id="40"} 
						<h1  class='underline'>{title}</h1>
				{/exp:channel:entries}
						<h2 class="note"></h2>
				<table id="rec-packages" class="main">
					<thead>
						<tr>
							<th>Package</th>
							<th>Description</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Total</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
                    
					</tbody>
				</table>

				<div class="actions">
					<a href="#" class="btn view-all"><em></em><span>VIEW ALL PACKAGES</span></a>
				</div>
                
            </div>
                <!--<div class="row"><a href="/legal/terms" class="booking-terms">Terms</a></div>-->
        </div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.booking.init.step3();
		});

	</script>
	
</body>
</html>