{embed="default_site:inc/head"}
<body class="info-page one-col booking step5">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	{embed="default_site:inc/progress-indicator"}

	<div id="main" class="step5" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<a class="btn-prev" href="#">&lt;</a>
				<a class="btn-next" href="#">&gt;</a>
				<div class="single-step">

				<div class="continue">
					<a href="/book-now/" class="btn"><em></em><span>CONTINUE SHOPPING</span></a>
				</div>
				
				{exp:channel:entries channel="booking" site="default_site" disable="categories|category_fields|member_data|pagination" entry_id="8"} 
					<h1  class='underline'>{title}</h1>
					{if booking_sub_heading}<h2 class="note">{booking_sub_heading}</h2>{/if}

				<table id="your-cart" class="main">
					<thead>
						<tr>
							<th>Quantity</th>
							<th>Item</th>
							<th>Description</th>
							<th>#Flyers</th>
							<th>Price</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
				<div class="row booking-terms"><a href="/legal/terms" target="_blank">Terms</a>  |  <a href="/legal/privacy" target="_blank">Privacy</a></div>

				<div id="promo-code">
					<form>
						<fieldset>
							<legend>ENTER PROMOTIONAL CODE</legend>
							<input type="text" name="promo_code" value="ENTER PROMOTIONAL CODE" title="Enter your promotion code and select enter to redeem offer. Note that if your promotion code is not valid or expired you will not see any discount" class="text">
							<input type="submit" value="ENTER" class="enter">
						</fieldset>
					</form>
				</div>

				<div id="restrictions">
					{booking_legal}
				</div>

				{/exp:channel:entries}

				<div id="summary">

					<table class="main">
						<tr class="sales-total">
							<th>Sales Total</th>
							<td></td>
						</tr>
						<tr class="discount">
							<th>Discount</th>
							<td></td>
						</tr>
						<tr class="sub-total">
							<th>Sub Total</th>
							<td></td>
						</tr>
						<tr class="tax">
							<th>Tax</th>
							<td></td>
						</tr>
						<tr class="fee">
							<th>Fee</th>
							<td></td>
						</tr>
						<tr class="grand-total">
							<th>Grand Total</th>
							<td></td>
						</tr>
						
					</table>

					<form class="uniform">
						<input type="submit" value="checkout" class="checkout">
						<label>I accept the restrictions<br />and requirements.</label>
						<input type="checkbox" name="restrictions" value="yes">
						
					</form>

				</div>
				
				
			</div>

			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.booking.init.step5();
		});
	</script>
	
</body>
</html>