{if segment_3!=""} {redirect="home/404"} {/if}

{embed="default_site:inc/head"}
<body class="photo-video info-page">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">
			<div class="content-wrapper clearfix">
				<section class=" clearfix">
                    {exp:channel:entries channel="gifting" entry_id="89" site="default_site" disable="categories|category_fields|member_data|pagination"} 
			         <h1>{title}</h1>
                     {if gifting_sub}<h2>{gifting_sub}</h2>{/if}
                     {if gifting_copy}{gifting_copy}{/if}
                    {/exp:channel:entries}
						<form action="#" class="uniform find-photovid">
							<fieldset>
                                <div class="row">
                                {embed="default_site:form-elements/select-tunnel-locations"}
                                <span class="vert-divider"></span>
									<!--<input type="text" name="name" placeholder="Enter Reservation #" class="text"><span class="formtext">OR</span>-->
									<a href="#" class="btn date" id="book-date" title="Find the day that you flew" ><em></em><span>DATE</span></a>
                                    <div id="calendar-quickbook"></div>
                                <select name="FLIGHT TIME" title="Find the time that you flew" id="photovid-flight-time" class="">
                                    <option selected="selected">TIME</option>
                                    <option>9:00 AM</option>
                                    <option>10:00 AM</option>
                                    <option>11:00 AM</option>
                                    <option>12:00 PM</option>
                                    <option>1:00 PM</option>
                                    <option>2:00 PM</option>
                                    <option>3:00 PM</option>
                                    <option>4:00 PM</option>
                                    <option>5:00 PM</option>
                                    <option>6:00 PM</option>
                                    <option>7:00 PM</option>
                                    <option>8:00 PM</option>
                                    <option>9:00 PM</option>
                                    <option>10:00 PM</option>
                                    <option>11:00 PM</option>
                                    <option>12:00 AM</option>
                                </select>
								</div>
							</fieldset>
						</form>
                        <div class="row media-toggle"><a href="javascript:void(0);" class="btn photo-toggle red"><em></em><span>PHOTOS</span></a><a href="javascript:void(0);" class="btn video-toggle inactive"><em></em><span>VIDEOS</span></a><a href="javascript:void(0);" id="checkout" class="btn green inactive"><em></em><span>CHECKOUT</span></a> <div class="paginate"><!--<a class="previous" href="javascript:void(0);">previous</a><span> - </span><a class="next" href="javascript:void(0);">next</a>--></div></div>

			</section>
            <div id="grid-photo">
                
            </div>
            <div id="grid-video">
                
            </div>
            <div class="footer-nav"><p><a href="#" class="btn more"><em></em><span>MORE</span></a></p><div class="paginate"><!--<a class="previous" href="javascript:void(0);">previous</a><span> - </span><a class="next" href="javascript:void(0);">next</a>--></div></div>
            </div><!-- /.content-wrapper -->

            {if gifting_legal}
            <div class="legal">
                {gifting_legal}
            </div>
            {/if}

            

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
    {embed="default_site:inc/scripts"}
    {embed="default_site:inc/modals"}
	
	
</body>
</html>