{embed="default_site:inc/head"}
<body class="info-page one-col booking gifting step2">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	{embed="default_site:inc/progress-indicator-gifting"}

	<div id="main" class="gifting step2" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<a class="btn-prev" href="#">&lt;</a>
				<a class="btn-next" href="#">&gt;</a>
				<div id="step-holder">
                	<div class="single-step">

				{exp:channel:entries channel="gifting" entry_id="23" site="default_site" disable="categories|category_fields|member_data|pagination"} 
				
				<h1 class='underline'>{title}</h1>
				{if gifting_sub}<h2 class="note">{gifting_sub}</h2>{/if}
				{if gifting_copy}<div class="intro">{gifting_copy}</div>{/if}
    			<div id="booking-details">
					<form action="#" class="uniform tunnel-locator">
						<fieldset>
							<div class="row">
								{embed="default_site:form-elements/select-flyer-type"}
								<!--{embed="default_site:form-elements/select-how-many-flyers"}-->
							</div>
						</fieldset>
					</form>
						<article class="tunnel-info">
							<aside>
								<img src="" alt="iFly Location Image">
							</aside>
                            <div>
                                <h2></h2>
                                <ul>
                                </ul>
                                <div class="row">
                                    {embed="default_site:form-elements/select-tunnel-locations"}
                                </div>
                                <div class="row">
                                    <a href="#" class="btn map-locator iframe"><em></em><span>Map Location</span><div></div></a>
                                </div>
                            </div>
							<div class="next">
								<input type="submit" value="Next" class="next">
							</div>
						</article>
                    </div>
					<!--<div class="legal">
						{gifting_legal}
					</div>-->
				{/exp:channel:entries}
                </div>
            </div>
			</div><!-- /.content-wrapper -->
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.booking.init.step2gifting();
		});
	</script>
</body>
</html>