		<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
		<script type="text/javascript" src="/js/libs/swfobject.js"></script>
		<script type="text/javascript" src="/js/libs/jquery.uniform.min.js"></script>
		<script type="text/javascript" src="/js/libs/jquery.colorbox.js" ></script>
		<script type="text/javascript" src="/js/jquery.main.js" ></script>
		<script type="text/javascript" src="/js/plugins.js" ></script>
		<script type="text/javascript" src="/js/script.js" ></script>
		<script type="text/javascript" src="/js/booking.js"></script>
		<script type="text/javascript" src="/js/ratingsreviews.js"></script>
		<script type="text/javascript" src="/js/photovid.js"></script>

		{embed="inc/tunnel-geo-location"}