	<footer id="footer">
		<div class="block-holder">
			{exp:navee:custom nav_title="global_nav_footer" wrap_type="none"}

		      	{if level == "1"}
		         <div class="block {if is_last_item_on_level}last{/if}">
		            <h4>{text}</h4>

		      	{if:else}
		        	{if is_first_item_on_level}<nav class="footer-list"><ul>{/if}
		         	<li><a href="{link}">{text}</a></li>
		         	{if is_last_item_on_level}</ul></nav>{/if}
		      	{/if}

		      	{if level == "2" && is_last_item_on_level}
		        	</div>
		      	{/if}
		   		{kids}
			{/exp:navee:custom}
		</div>
		<p>{copyright}</p>
	</footer>
