                    {exp:low_search:form search_in="entries" result_page="home/search-results" no_result_page="home/no-results" form_class="search-form"}
					  <fieldset>
							<input class="text" name="keywords" id="keywords" type="text" />
							<input class="btn-search" type="submit" value="search" />
						</fieldset>
					{/exp:low_search:form}
                