		<header id="header">
			<div class="logo"><a href="/">iFly indoor skydiving</a></div>
			<div class="logo alt"><a href="/">iFly indoor skydiving</a></div>
			<div class="header-block">
				<div class="header-top">
					<nav class="add-nav">
						{exp:navee:nav nav_title="global_nav_tertiary"}
					</nav>
				</div><!-- /.header-top -->
				<div class="header-holder">
					<div class="social-search">
                        <div class="social">
                            {exp:navee:nav nav_title="nav_social"}
                        </div>
                        {embed="default_site:inc/global-search-form"}
                    </div>
				</div>
				<nav id="nav">
					{exp:navee:custom nav_title="global_nav_header" wrap_type="ul"}
						<li id="{id}">
							<a href="{link}">
					   		{if level == "1"}
					   			<span class="ir">{text}</span>
					   		{if:else}
					   			{text}
					   		{/if}
					   		</a>
					   		<div class="drop">{kids}</div>
					   </li>
					{/exp:navee:custom}
				</nav>
			</div><!-- /.header-block -->
		</header>