{exp:channel:entries channel="modals" disable="categories|category_fields|member_data|pagination" dynamic="no"} 
<div class="modal">
    <div id="{modal_id}" class="overlay">
        <h2>{title}</h2>
        {if modal_intro_copy}{modal_intro_copy}{/if}
        {if modal_form}

          <div class="form-area">
            {modal_form}
            <div class="errors">
                <div class="correct-errors">
                  <a href="#" class="btn red"><em></em><span>Correct Errors</span></a>
                </div>
            </div>
            <div class="success">
              {modal_form_success_messsage}
            </div>
            <div class="fail">
              <h4>Failure to Send</h4>
              <p>We apologize but due to a server error we failed to send your enquiry.</p>
              <p>Please visit our Tunnel Page to contact your local tunnel directly.</p>
              <div class="tunn">
                <a href="/find-a-tunnel/" class="btn red"><em></em><span>View Tunnel Contact Info</span></a>
              </div>
            </div>
          </div>
          {/if}
    </div>
</div>
{/exp:channel:entries}

<div class="modal login">
    <div id="login" class="overlay" >
    	<div id="guestcheckout">
            <h1>Checkout as a Guest</h1>
            <div class="row"><a href="/book-now/booking-step6" class="btn green guest"><em></em><span>CONTINUE</span></a></div>
        </div>
        <div class="row"><h1>Login</h1>
                 <div class="row location logloc">
                    <label>PLEASE SELECT A TUNNEL LOCATION</label>
                    {embed="default_site:form-elements/select-tunnel-locations"}
                </div>
            <div class="return-user">
                <form id="lgn" name="" method="get" class="validate" validate="validate">
                   <fieldset>
                    <div class="clearfix">
                    <label>USERNAME/EMAIL ADDRESS</label>
                    <input type="text" name="web_user" class="text required username" value="">
                    </div>
                    <div class="clearfix">
                    <label>PASSWORD</label>
                    <input type="password" name="password" class="text required password" value="">
                    </div>
                    <div class="clearfix">
                    <a href="#" class="lost-password">Forgot Password?</a><br />
                    <a href="#" class="btn login"><em></em><span>LOGIN</span></a>
                    </div>
                    </fieldset>
                    <div class="row status"><p></p></div>
                </form>
            </div>
            <div class="new-user">
                <div class="row"><a href="#" class="btn myifly"><em></em><span>CREATE A MYiFLY ACCOUNT</span></a></div>
               <div class="row"><a href="#" class="btn facebook"><div></div><em></em><span>SIGN IN WITH FACEBOOK</span></a></div>
               <!--<div class="row fb-login"><fb:login-button></fb:login-button></div>
                 <div class="row"><a href="#" class="btn twitter"><em></em><span>SIGN IN WITH TWITTER</span></a></div>
                -->
            </div>
            	<form class="reset-password" method="post">
                        <div class="row location">
                            <label>Select a Tunnel Location*</label>
                            {embed="default_site:form-elements/select-tunnel-locations"}
                        </div>
                        <div class="clearfix">
                            <label>Enter your email address to reset your password:</label>
                            <input name="web_user" type="text" class="text">
                            <a href="#" class="btn send_email"><em></em><span>RESET PASSWORD</span></a>
                        </div>
                    <div class="row status"><p></p></div>
            	</form>
                <form id="register-ifly-acct" name="register" method="post">
                	<p>Fill out the required fields below. A valid password must include at least 8 characters,<br />one capital letter, and one number.</p>
                    <div class="row location">
                    	<label>Select a Tunnel Location*</label>
	                    {embed="default_site:form-elements/select-tunnel-locations"}
                    </div>
                    <fieldset>
                        <div class="clearfix">
                        <label>First Name*</label>
                        <input name="first_name" type="text" class="text">
                        </div>
                        <div class="clearfix">
                        <label>Last Name*</label>
                        <input name="last_name" type="text" class="text">
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="clearfix"><label for="web_user">Email Address*</label><input type="text" id="web_user" name="web_user" class="text required email" size="6" value=""></div>
                        <div class="clearfix"><label for="guest_no">Guest ID#</label><input type="text" id="guest_no" name="guest_no" class="text" size="6" value=""></div>
                    </fieldset>
                    <fieldset>
                        <div class="clearfix">
                        <label for="password">Enter a Password*</label>
                        <input type="password" id="password" name="password" class="text required password" size="6" value="">
                        </div>
                        <div class="clearfix">
                        <label for="confirm_password">Re-enter your password*</label>
                        <input type="password" id="confirm_password" name="confirm_password" class="text required password" size="6" value="">
                        </div>
                    </fieldset>
                    <p class="register-status"></p>
                    <a href="#" class="btn register"><em></em><span>REGISTER</span></a>
                    <div class="row status"><p></p></div>
                </form>
        </div>
        </div>
    </div>
<div class="modal balance">
    <div id="gc-balance" class="overlay" >
		<h2>Get Gift Card Balance</h2>
		<form name="" method="get" class="validate">
			<fieldset>
				<div class="clearfix">
					<label for="name">Enter Gift Card #:</label>
					<input type="text" name="voucher_number" class="text required">
				</div>
				<div class="clearfix">
					<input type="submit" value="submit" class="submit">
				</div>
			</fieldset>
		</form>
        <div class="status"></div>
	</div>
</div>

<div class="modal legal">
	<div class="overlay" >
		<h2>Legal Discalaimer</h2>
		<p>Lorem Ipsum</p>
		
	</div>
</div>

<div class="tooltip">
	<div id="tooltip" class="overlay event">
		<a class="closeButton" href="#">close</a>
		<h2></h2>
		<p></p>
	</div>
</div>