		<script type="text/javascript" src="https://www.iflyworld.com/js/libs/jquery-ui.min.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/libs/swfobject.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/libs/jquery.uniform.min.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/libs/jquery.colorbox.js" ></script>

		<script type="text/javascript" src="https://www.iflyworld.com/js/plugins.js" ></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/script.js" ></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/analyticshandler.js" ></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/booking.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/ratingsreviews.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/video-testimonials.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/photovid.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/specials.js"></script>
        <div id="fb-root"></div>
        <!--<script type="text/javascript" src="https://dev.iflyworld.com/min/?b=js/libs&amp;f=swfobject.js,jquery.uniform.min.js,jquery.colorbox.js"></script>
        <script type="text/javascript" src="https://dev.iflyworld.com/min/?b=js&amp;f=plugins.js,script.js,booking.js,ratingsreviews.js,video-testimonials.js,photovid.js"></script> -->
		<script>
			var fbObj = null;
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '409878702400471', // App ID
              channelUrl : 'www.iflyworld.com/channel.php', // Channel File
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              xfbml      : true  // parse XFBML
            });
        FB.Event.subscribe('auth.login', function(response) {
          window.location.reload();
        });
          };
//                           Load the SDK Asynchronously
          (function(d){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/en_US/all.js";
             ref.parentNode.insertBefore(js, ref);
           }(document));
        </script>

        		{embed="default_site:inc/tunnel-geo-location"}


