.box-form .btn-date em,
.box-form .btn-now em{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76a460', endColorstr='#5c9b40',GradientType=0 );}
.btn-find em,
.block .btn em,
.box .btn-more em{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d26c70', endColorstr='#d35459',GradientType=0 );}

.ff_composer input[type=text] {
		border:#555	thin !important;
	    outline:#555 solid thin !important;
		line-height:37px;
}

.content-block.box-section{
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg-box-section.jpg',sizingMethod='scale');
	-ms-filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/images/bg-box-section.jpg', sizingMethod='scale')";
}
body.booking.step5 div#summary form {
	width: 278px;
}
