@font-face {
    font-family: 'iFLYMonospace2Regular';
    src: url('iflymonospace2-webfont.eot');
    src: url('iflymonospace2-webfont.eot?#iefix') format('embedded-opentype'),
         url('iflymonospace2-webfont.woff') format('woff'),
         url('iflymonospace2-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

*{
	margin: 0;
	padding: 0;
}

article, div, footer, header, span, section
{
	display: block;
}

#background01{
	background: url(../images/girl1.png) no-repeat;
	float: left;
	height: 372px;
	position: absolute;
	width: 354px;
	z-index: -1000;
	left: -250px;
	top: 300px;
	
}

#background02{
	background: url(../images/girl2.png) no-repeat;
	float: left;
	height: 372px;
	position: absolute;
	width: 746px;
	z-index: -1;
	left: 650px;
	top: -100px;
	
}

body {
	background: url(../images/background.jpg);
	color: #ffffff;
	font-family: 'Arial', serif;
	font-size: 16px;
	font-weight: normal;
	overflow-x: hidden;
}

body, html{
	height: 100%;
	 
}

/*
.button a:link, .button a:visited, .disable{
	background-color: #b9b9b9;
	border: solid #b9b9b9 7px;
	border-radius: 8px 8px 8px 8px;		
	box-shadow: 0 0 3px 1px #333333;
	color: #0a3062;
	display: block;
	font-family: 'iFLYMonospace2Regular';
	font-size: 24px;
	height: 29px;
	margin-bottom: 13px;
	padding: 2px 2px 2px 2px;
	text-align: center;
	text-decoration: none;
	text-shadow:
		1px 1px 0px rgba(255,255,255,0.4),
    1px 1px 0px rgba(255,255,255,0.4);
  	-moz-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
	  -webkit-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
	  -o-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
	width: 200px;
	
	
}*/

.button a:link, .button a:visited, .disable{
	background-image: url('../images/button.png');
	background-repeat: no-repeat;
	color: #0a3062;
	display: block;
	font-family: 'iFLYMonospace2Regular';
	font-size: 18px;
	height: 30px;
	margin-bottom: 1px;
	padding: 2px 2px 2px 2px;
	text-align: center;
	text-decoration: none;
	text-shadow:
		1px 1px 0px rgba(255,255,255,0.4),
    1px 1px 0px rgba(255,255,255,0.4);
  	-moz-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
	  -webkit-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
	  -o-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
	width: 220px;
	
	
}

.button a:hover{
	
	background-image: url('../images/bluebutton.png');
	background-repeat: no-repeat;		
	
	color: #b9b9b9;
	text-shadow:
		1px 1px 0px #0a3062,
    1px 1px 0px #0a3062;
  	
}

.disable{
	color: #7e7d7d;
}

#channel{
	margin-top: 30px;
	height: 160px;
	overflow: hidden;
}

#channel ul{
	 width: 5700px;
	 transition-duration: 1000ms;
	-moz-transition-duration: 1000ms;
	-webkit-transition-duration: 1000ms;
	-o-transition-duration: 1000ms;
}

.channel_photo{
	background-color: black;
	float: left;
	height: 90px;
	margin-left: 10px;
	margin-top: 0px;
	width: 120px;
}

.channel_item{
	/*
	border: solid #b9b9b9 7px;
	border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		-o-border-radius: 5px 5px 5px 5px; */
	background-image: url('../images/botonbottom.png');
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	height: 141px;
	margin-left: 9px;
	margin-top: 10px;
	width: 361px;
}

.channel_text{
	color: #000000;
	float: left;
	font-size: 12px;
	height: 90px;
	margin-left: 10px;
	margin-top: 0px;
	width: 213px;
}

.channel_title{
	color: #0a3062;
	float: left;
	font-size: 14px;
	font-weight: bold;
	height: 36px;
	margin-left: 10px;
	margin-top: 5px;
	text-transform: uppercase;
	text-shadow:
		1px 1px 0px rgba(255,255,255,0.4),
    1px 1px 0px rgba(255,255,255,0.4);
  	-moz-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
	  -webkit-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
	  -o-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
	width: 340px;
}


.container{
	border: solid #a09f9f 8px;
	border-radius: 15px 15px 15px 15px;
		-moz-border-radius: 15px 15px 15px 15px;
		-webkit-border-radius: 15px 15px 15px 15px;
		-o-border-radius: 15px 15px 15px 15px;
	width: 100%;
	z-index: 5000px;
}

#facebook a:link, #facebook a:visited{
	background-image: url('../images/facebook.png');
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	height: 50px;
	margin-top: -10px;
	margin-left: 5px;
	width: 50px;
}

#facebook a:hover{
	background-image: url('../images/facebook_over.png');
}

footer{
	padding-top: 30px;
	width: 100%;
}

footer li{
	float: left
}

#footer_facebook{
	width: 150px;
}

#footer_facebook iframe{
	width: 120px  !important;
}

#footer_logo{
	background-image: url('../images/logo_footer.png');
	background-repeat: no-repeat;
	color: #9b9b9b;
	font-size: 10px;
	padding-left: 110px;
	padding-top: 8px;
	text-shadow:
			1px 1px 0px #0a3062,
    	1px 1px 0px #0a3062;
  	-moz-text-shadow:
			1px 1px 0px #0a3062,
    	1px 1px 0px #0a3062;
	  -webkit-text-shadow:
			1px 1px 0px #0a3062,
    	1px 1px 0px #0a3062;
	  -o-text-shadow:
			1px 1px 0px #0a3062,
    	1px 1px 0px #0a3062;
  width: 720px;
}

#footer_twitter{
	width: 130px;
}

#footer_twitter iframe{
	width: 120px  !important;
}


h2{
	background: no-repeat url(../images/logo.png);
	height: 55px;
	margin-top: 70px;
	text-align: right;
	padding-top: 30px;
	width: 680px;
}

#left{
	cursor: pointer;
	float: left;
	left: -50px;
	position: absolute;
	top: 770px;
	z-index: 1000;
}

#lines1{
	background: url(../images/lines1.png) no-repeat;
	float: left;
	height: 1000px;
	position: absolute;
	width: 100px;
	z-index: -1000;
	left: -80px;
	top: -80px;
}

#lines2{
	background: url(../images/lines2.png) no-repeat;
	float: left;
	height: 1000px;
	position: absolute;
	width: 100px;
	z-index: -1000;
	left: 1150px;
	top: -80px;
}

#right{
	cursor: pointer;
	float: left;
	left: 1150px;
	position: absolute;
	top: 770px;
	z-index: 1000;
}

.rotatedown {


	/* Safari */
	-webkit-transform: rotate(90deg);
	
	/* Firefox */
	-moz-transform: rotate(90deg);
	
	/* IE */
	-ms-transform: rotate(90deg);
	
	/* Opera */
	-o-transform: rotate(90deg);
	
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
	
	writing-mode: tb-rl;
}


.rotateup {
	/* Safari */
	-webkit-transform: rotate(-90deg);
	
	/* Firefox */
	-moz-transform: rotate(-90deg);
	
	/* IE */
	-ms-transform: rotate(-90deg);
	
	/* Opera */
	-o-transform: rotate(-90deg); 
	
	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	
	writing-mode: tb-rl;
}

section{
	z-index: 2000;
}

#social{
	background: url(../images/bg_social.png) no-repeat;
	float: left;
	height: 56px;
	position: absolute;
	width: 246px;
	z-index: 400000;
	left: 864px;
	top: 628px;
	padding-top: 15px;
	padding-left: 45px;
}

#social_share{
	color: #333333;
	float: left;
	font-size: 24px;
	font-weight: bold;
	
	text-shadow:
		1px 1px 0px rgba(255,255,255,0.4),
    1px 1px 0px rgba(255,255,255,0.4);
  	-moz-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
	  -webkit-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
	  -o-text-shadow:
			1px 1px 0px rgba(255,255,255,0.4),
	    1px 1px 0px rgba(255,255,255,0.4);
}

#twitter a:link, #twitter a:visited{
	background-image: url('../images/twitter.png');
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	height: 50px;
	width: 50px;
	margin-top: -10px;
}

#twitter a:hover{
	background-image: url('../images/twitter_over.png');
}

ul,li{

	list-style: none;
}

#video{
	 
}

#video_menu{
	float: left;
	height: 513px;
	margin-top: 20px;	
	width: 248px;
}

#video_menu ul{
	margin-left: 15px;
}

#video_menu_items{
	 transition-duration: 1000ms;
	-moz-transition-duration: 1000ms;
	-webkit-transition-duration: 1000ms;
	-o-transition-duration: 1000ms;
}

#video_menu_box{
	height: 420px;
	overflow: hidden;
}


#video_player{
	background-color: #9b9b9b;
	border: solid #9b9b9b 7px;
	border-radius: 5px 5px 5px 5px;
		-moz-border-radius: 5px 5px 5px 5px;
		-webkit-border-radius: 5px 5px 5px 5px;
		-o-border-radius: 5px 5px 5px 5px;
	float: left;
	height: 513px;
	margin-top: 20px;
	width: 840px;
}

#video_player iframe{
	margin-left: 10px;
	margin-top: 8px;
}

#wrapper{
	height: auto;
	margin: 0 auto;
	min-height: 100%;
	position: relative;
	width: 1116px;
	z-index: 400000 !important;
}
