/*

Uniform Theme: Agent
Version: 1.0
By: Collin Allen
License: Creative Commons Share Alike
---
For use with the Uniform plugin:
http://pixelmatrixdesign.com/uniform/

*/

/* Global Declaration */

div.selector, 
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action {
  background-image: url(../images/sprite-ifly.png);
  background-repeat: no-repeat;
}

.selector, 
.radio, 
.checker, 
.uploader, 
.selector *, 
.radio *, 
.checker *, 
.uploader *{
	margin: 0;
	padding: 0;
}

/* SPRITES */

/* Select */

div.selector {
  background-position: -484px -161px;
  line-height: 36px;
	height: 36px;
}

div.selector span {
  background-position: right -2px;
  height: 36px;
	line-height: 36px;
}

div.selector select {
  /* change these to adjust positioning of select element */
  top: 0px;
	left: 0px;
}

div.selector:active, 
div.selector.active {
	background-position: -484px -161px;
}

div.selector:active span, 
div.selector.active span {
	background-position: right -32px;
}

div.selector.focus, div.selector.hover, div.selector:hover {
background-position: -484px -161px;
}

div.selector.focus span, div.selector.hover span, div.selector:hover span {
	background-position: right -2px;
}

div.selector.focus:active,
div.selector.focus.active,
div.selector:hover:active,
div.selector.active:hover {
	background-position: -484px -161px;
}

div.selector.focus:active span,
div.selector:hover:active span,
div.selector.active:hover span,
div.selector.focus.active span {
	background-position: right -2px;
}

div.selector.disabled,
div.selector.disabled:hover,
div.selector.disabled:active,
div.selector.disabled.active {
	background-position: -483px -280px;
}

div.selector.disabled span,
div.selector.disabled:hover span,
div.selector.disabled:active span,
div.selector.disabled.active span {
  background-position: right -121px;
}

/* Checkbox */

div.checker {
  width: 23px;
  height: 23px;
}

div.checker input {
  width: 23px;
  height: 23px;
}

div.checker span {
  background-position: 0px -320px;
  height: 23px;
  width: 23px;
}

div.checker:active span, 
div.checker.active span {
	background-position: -23px -320px;
}

div.checker.focus span,
div.checker:hover span {
	background-position: -2px -363px;
}

div.checker:active:hover span,
div.checker.active:hover span{
	background-position: -2px -363px;
}
	
div.checker.focus:active span,
div.checker.focus.active span {
	background-position: -69px -320px;
}

div.checker span.checked {
	background-position: -92px -320px;
}

div.checker:active span.checked, 
div.checker.active span.checked {
	background-position: -115px -320px;
}

div.checker.focus span.checked,
div.checker:hover span.checked {
	background-position: -138px -320px;
}

div.checker.focus:active span.checked,
div.checker:hover:active span.checked,
div.checker.active:hover span.checked,
div.checker.active.focus span.checked {
	background-position: -161px -320px;
}

div.checker.disabled span,
div.checker.disabled:active span,
div.checker.disabled.active span {
	background-position: -184px -320px;
}

div.checker.disabled span.checked,
div.checker.disabled:active span.checked,
div.checker.disabled.active span.checked {
	background-position: -207px -320px;
}

/* radio */

div.radio {
  width: 23px;
  height: 23px;
}

div.radio input {
  width: 23px;
  height: 23px;
}

div.radio span {
  height: 23px;
  width: 23px;
  background-position: 0px -343px;
}

div.radio:active span, 
div.radio.active span {
	background-position: -23px -343px;
}

div.radio.focus span, 
div.radio:hover span {
	background-position: -46px -343px;
}

div.radio.focus:active span,
div.radio:active:hover span,
div.radio.active:hover span,
div.radio.active.focus span {
	background-position: -69px -343px;
}

div.radio span.checked {
	background-position: -92px -343px;
}

div.radio:active span.checked,
div.radio.active span.checked {
	background-position: -115px -343px;
}

div.radio.focus span.checked, div.radio:hover span.checked {
	background-position: -138px -343px;
}

/*div.radio:hover:active span.checked,*/
div.radio.focus:active span.checked, 
div.radio.focus.active span.checked,
div.radio.active:hover span.checked {
	background-position: -161px -343px;
}

div.radio.disabled span,
div.radio.disabled:active span,
div.radio.disabled.active span {
	background-position: -184px -343px;
}

div.radio.disabled span.checked,
div.radio.disabled:active span.checked,
div.radio.disabled.active span.checked {
	background-position: -207px -343px;
}

/* uploader */

div.uploader {
  background-position: 0px -366px;
  height: 32px;
}

div.uploader span.action {
  background-position: right -494px;
  height: 24px;
  line-height: 24px;
}

div.uploader span.filename {
  height: 24px;
  /* change this line to adjust positioning of filename area */
  margin: 4px 0px 4px 4px;
  line-height: 24px;
}

div.uploader.focus,
div.uploader.hover,
div.uploader:hover {
  background-position: 0px -430px;
}

div.uploader.focus span.action,
div.uploader.hover span.action,
div.uploader:hover span.action {
  background-position: right -526px;
}

div.uploader.active span.action,
div.uploader:active span.action {
  background-position: right -558px;
}

div.uploader.focus.active span.action,
div.uploader:focus.active span.action,
div.uploader.focus:active span.action,
div.uploader:focus:active span.action {
  background-position: right -590px;
}

div.uploader.disabled {
  background-position: 0px -398px;
}

 div.uploader.disabled span.action {
  background-position: right -462px;
}

/* PRESENTATION */

/* Select */
div.selector {
  margin-bottom: 20px;
  width: 190px;
  font-weight: bold;
  color: #464545;
  font-size: 14px;
}

div.selector select {
  width: 190px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	border: solid 1px #fff;
}
body.booking.step1 div.selector select#flyer-location {
	width: 220px;
}
body.booking.step3 div.selector select, body.booking.step3 div.selector{
	width: 100%;
}
body.booking.step3 div.selector span{
	 width: 30px;
}
div.selector span {
  padding: 0px 25px 0px 2px;
  cursor: pointer;
}

div.selector span {
  color: #ffffff;
  text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
}

div.selector.disabled span {
	color: #444;
}

/* checker */
div.checker {
  margin-right: 10px;
}

/* radio */
div.radio {
  margin-right: 10px;
}

/* uploader */
div.uploader {
  width: 190px;
  margin-bottom: 20px;
  cursor: pointer;
}

div.uploader span.action {
  width: 83px;
  text-align: center;
  text-shadow: rgba(0,0,0,0.5) 0px -1px 0px;
  background-color: #1a1a1a;
  font-weight: bold;
  color: #ffffff;
}

div.uploader span.filename {
  color: #1a1a1a;
  width: 82px;
  border-right: solid 1px #2e2e2e;
  font-size: 90%;
  font-size: 11px;
}

div.uploader input {
  width: 190px;
}

 div.uploader.disabled span.action {
  color: #aaa;
}

 div.uploader.disabled span.filename {
  border-color: #ddd;
  color: #aaa;
}
/*

CORE FUNCTIONALITY 

Not advised to edit stuff below this line
-----------------------------------------------------
*/

.selector select:focus, .radio input:focus, .checker input:focus, uploader input:focus {
  outline: 0;
}

/* Select */

 div.selector {
	position: relative;
	padding-left: 10px;
}

 div.selector span {
	display: block;
	float: left;
}
#register-ifly-acct div#uniform-flyer-location.selector, form.reset-password select[id$="flyer-location"] {
	margin: 0px auto;
}
#register-ifly-acct div#uniform-flyer-location.selector span {
	width:160px;	
}

div#uniform-waiver-location.selector span {
	width: 180px;
}

div.selector select {
	position: absolute;
	opacity: 0;
}

/* checker */

 div.checker {
	position: relative;
	float: left;
}

 div.checker span {
	display: block;
	float: left;
	text-align: center;
}

div.checker input {
  opacity: 0;
  display: inline-block;
}

/* radio */

div.radio {
	position: relative;
	float: left;
}

div.radio span {
	display: block;
	float: left;
	text-align: center;
}

 div.radio input {
  opacity: 0;
  text-align: center;
  display: inline-block;
}

/* uploader */

div.uploader {
  position: relative;
  float: left;
  overflow: hidden;
}

div.uploader span.action {
  float: left;
  display: inline;
  padding: 4px 0px;
  overflow: hidden;
  cursor: pointer;
}

div.uploader span.filename {
  padding: 0px 10px;
  float: left;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.uploader input {
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  float: right;
}


/* Global Style Over rides */
div.selector, 
div.selector span,
div.checker span,
div.radio span,
div.uploader,
div.uploader span.action {
  background-image: url(../images/sprite-ifly.png);
  background-repeat: no-repeat;
}
 div.selector {
  position: relative;
  padding-left: 8px;
}
div.selector.focus, div.selector.hover, div.selector:hover {
  background-position: -484px -161px;
}
div.selector select {
  height: 100%;
  margin-left: 12px;
}
div.selector {
  margin-bottom: 0px;
  font-size: 13px;
  }

/********************************** Page level styles *************************/

/* FLYER TYPE */
#uniform-flyer-type,
#uniform-flyer-type select {
  width : 122px;
  float: left;
}
#uniform-flyer-type.selector span {
  width: 95px;
}

body.step2 #uniform-flyer-type, body.step2 #uniform-flyer-type select {
	width: 188px;
}
body.step2 #uniform-flyer-type.selector span {
	width: 163px;
	overflow: hidden;
}
form.quickbook #uniform-flyer-type,
form.quickbook #uniform-flyer-type select {
  width : 224px;
  float: left;
}

form.quickbook #uniform-flyer-type.selector span, 
form.quickbook #uniform-flyer-location.selector span {
  width: 205px;
  overflow: hidden;
}
form.quickbook #uniform-flyer-location.selector select {
  width: 224px;
}

/* HOW MANY FLYERS */
form.tunnel-locator #uniform-how-many-fliers.selector span {
    width : 113px;
}

#uniform-how-many-fliers, 
#uniform-how-many-fliers select {
  width: 150px;
  float : left;
}
div#uniform-how-many-fliers.selector span {
  width: 96px;
}
form.quickbook #uniform-how-many-fliers,
form.quickbook #uniform-how-many-fliers select {
  width : 114px;
  float : left;
}
form.quickbook #uniform-how-many-fliers.selector span {
    width : 95px;
}

/* FLYER LOCATION */
#flyer-location span {
	width:100px;
}

form.quickbook #uniform-flyer-type.selector span, 
form.quickbook #uniform-flyer-location.selector span {
  width: 205px;
}


/* CHANGE LOCATION */
#uniform-change-location span, body.booking.step2 #uniform-flyer-location span, body.info-page.booking.step1 #uniform-flyer-location span {
  width : 205px;
}
body.info-page.booking.step1 #uniform-flyer-location {
	float: right;
	margin-right: 40px;
}
#uniform-change-location select, body.booking.step2 #uniform-flyer-location select {
    width : 226px;
    height: 36px;
}

/* CHANGE LOCATION */
#uniform-waiver-location span {
  width : 205px;
}
#uniform-waiver-location select {
    width : 226px;
    height: 36px;
}
body.video-testimonials #uniform-flyer-location span {
	width:150px;
}

/* QUANTITY */
#uniform-quantity.selector{
  width : 55px;
}
#uniform-quantity span {
  width : 30px;
}
#uniform-quantity  select {
  width : 50px;
}

/* REVIEWS PAGE */
#uniform-sort-recent.selector,
#uniform-sort-all.selector{
  float : left;
  width: 140px;
}
#uniform-sort-recent span {
  width : 110px;
}
#uniform-sort-recent select {
  width : 140px;
}
#uniform-sort-all span {
  width : 40px;
}
body.ratings #uniform-sort-all span {
	width: 60px;
}
#uniform-sort-all select {
  width : 70px;
}

div#uniform-tunnel-order.selector span {
	width: 140px;
}
div#uniform-tunnel-order {
	position: absolute;
	right: -24px;
	top: -43px;
	clear: none;

}
/* month */
div#uniform-month.selector,
div#uniform-month span {
  width: 60px;
}
div#uniform-month select {
  margin-top: 10px;
  width : 90px;
  height : 36px;
}

/* YEAR */
div#uniform-year.selector,
div#uniform-year span {
  width: 50px;
}
div#uniform-year select {
  margin-top: 10px;
  width : 80px;
  height : 36px;
}

/* RADIO BUTTONS */
div.radio span {
  background-position: -2px -363px;
}
div.radio.hover span, 
div.radio:hover span {
  background-position: -2px -363px;
}
div.radio.focus span, 
div.radio.active:hover  span{
  background-position: -111px -363px;
}
div.radio.focus span.checked,
div.radio:hover span.checked,
div.radio.hover.active span.checked,
div.radio span.checked {
  background-position: -111px -363px;
}

div.radio-large span {
  width : 40px;
  height: 40px;
  background-position: -2px -400px;
}
div.radio-large.focus span, 
div.radio-large.hover span, 
div.radio-largehover span,
div.radio-large.active:hover  span{
  background-position: -110px -363px;
}
div.radio-large.focus span.checked,
div.radio-large:hover span.checked,
div.radio-large.hover.active span.checked,
div.radio-large span.checked {
  background-position: -110px -363px;
}


/* CHECKBOXES */
div.checker {
  position: relative;
  float: left;
}
div.checker span {
  background-position: -2px -363px;
}
 
div.checker.hover span, 
div.checker:hover span,
div.checker.active:hover  span{
	background-position: -2px -363px;
}

div.checker.focus span{
  background-position: -111px -363px;
}
div.checker:hover span.checked,
div.checker.hover.active span.checked {
  background-position: -111px -363px;
}
div.checker.focus span.checked,
div.checker span.checked {
  background-position: -111px -363px;
}



/* Photo/Video Manager */

form.find-photovid div.selector {
	display:inline-block;
}
form.find-photovid #uniform-flyer-location.selector span {
	width:133px;
}

