/**************************************************************************
FONTS
**************************************************************************/

@font-face{
	font-family:'ifly_monospaceregular';
	src:url('../fonts/iflymonospace-webfont.eot');
	src:url('../fonts/iflymonospace-webfont.eot?#iefix') format('embedded-opentype'),
		url('../fonts/iflymonospace-webfont.woff') format('woff'),
		url('../fonts/iflymonospace-webfont.ttf') format('truetype'),
		url('../fonts/iflymonospace-webfont.svg#ifly_monospaceregular') format('svg');
	font-weight:normal;
	font-style:normal;
}


/**************************************************************************
Markup Elements
***************************************************************************/
body{
	margin:0;
	color:#000;
	font:12px/17px Helvetica, Arial, sans-serif;
	background:#2a2a2e;
	-webkit-text-size-adjust:none;
}

h1, h2, h3, h4 {
	margin : 0;
	font-weight: 400;
}

h1 {
	color: #fff;
	text-align: center;
	font: 30px Helvetica, Arial, sans-serif;
	font-weight: 700;
	line-height: 1.4em;
	margin-bottom: 15px;
}
.box-holder .description h1 {
	text-align: left;
	line-height: 1em;
	margin-bottom: 0px;
}

.modal.login h1 {
	color:#000;
}

h2 {
	color : #fff;
	font: 24px Helvetica, Arial, sans-serif;
	/*text-shadow: -1px -1px 1px #999, 1px 1px 1px #999;*/
}
h3 {
	color : #fff;
	letter-spacing: 0.05em;
	font: 26px/32px Helvetica, Arial, sans-serif;
	/*text-shadow: -1px -1px 1px #999, 1px 1px 1px #999;*/
}

div.event-overlay h3 {
	color:#000;
}

body.booking.step1 .package h3 {
	font-size:22px	
}
h4 {
	color : #fff;
	letter-spacing: 0.05em;
	font: 17px/22px Helvetica, Arial, sans-serif;
}
p {
	padding:4px 0px;
	line-height:1.4em;
	color:#FFF;
	font: 17px Helvetica, Arial, sans-serif;
	margin: 0px;
	font-weight: 400;
}

li, label, dt, dd, td {
	color : #fff;
	font-size : 13px;
}

a {
	color : #fff;
	text-decoration: underline;
}
.video-block div.video a {
	position:relative;
	height: 89px;
	display: block;
	background-position: 50% 50%;
	width: 160px;
	background-size: 160px;
	background-repeat: no-repeat;	
}

a:hover {
	color : #999;
	text-decoration: none;
}
a:visited {
	color : #fff;
}
div.row {
	padding-bottom: 6px;
}
div.row.location {
	padding: 10px 0px 0px;
}
div.row.location.logloc {
	padding: 10px 0px 12px;
}
.logloc label {
	padding:10px;
}
#lgn div.row.location {
	padding: 0px 0px 20px;	
}
#colorbox div.row {
	overflow:auto;
}
div.row.booking-terms {
	margin: -16px 0px 0px 10px;
	color:#FFF;
}
body.booking.step6 div.row.booking-terms {
	margin: 32px 0px -40px -10px;		
}
.booking-terms a {
	color:#ccc;
}
.booking-terms a:hover {
	color:#fff;
}
div.row.continue {
	text-align:center;
}
div.row.extra-email {
	padding-right: 120px;
}

/**************************************************************************
Structural Elements
***************************************************************************/
#skyline {
	width: 100%;
	height: 560px;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	background: #020a3d url(/images/bg-wrapper.jpg) no-repeat top left;
	background-size: cover;
}
#wrapper{
	width:100%;
	overflow:hidden;
	position: relative;
	top: 0;
	left: 0;
	z-index: 9;
}

#main{
	position:relative;
	z-index:1;
	min-height: 300px; /* in case there is no main content adding height gives room for drop-down navigation */
}
#parallax-wrapper { 
	width: 100%;
	/*height: 520px;*/
	height:544px;
	margin: 0 auto;
	z-index: 0;
	position: absolute;
	top: 0;
	/*left: 0;*/
	text-align: center;
	overflow: hidden;
	background-color: #02093D;
}
#upper {
	width : 1300px;
	height : 520px;
	margin: 0 auto;
	position: relative;
	z-index: 11;
}
.content-block{
	width:100%;
	overflow:hidden;
	border-bottom:3px solid #757575;
	padding: 0 0 40px 0;
}
#thanks {
	text-align: center;
	margin: 20px 0;
}

/**************************************************************************
STYLING Elements
***************************************************************************/

.uppercase {
	text-transform: uppercase;
	margin-bottom: 20px;
}
.outline {
	/*text-shadow: -1px -1px 1px #5985DB, 1px 1px 1px #555;*/
}
.drop-shadow {
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.6);
}
.rounded-corners {
	border-radius:6px;
	-webkit-border-radius:6px;
}

.gradient-border {
	margin:0 2px;
	border:3px solid transparent;
	background-color : #999;
	background-image: linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -o-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(180,182,191)),
        color-stop(0.53, rgb(255,255,255)),
        color-stop(1, rgb(172,175,189))
    );
}
.metal-bg{
	background:#25262b url(../images/bg-block-section.jpg) no-repeat 50% 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
span.vert-divider {
	display:inline-block;
	overflow:visible;
	width:50px;
	background: transparent url(/images/vertical-divider.png) top center no-repeat;
}
p.note {
	font-size: 22px;
	line-height: 1.4em;
	text-align: center;
	padding: 15px 0;
	color : #fff;
	margin: 0;
}
.underline {
	padding-bottom:  2px;
	background: transparent url(/images/header-underline.png) 50% 100% no-repeat;
}

/**************************************************************************
FORM ELEMENTS
***************************************************************************/

label {
    font-size: 20px;
    display: block;
    margin: 0 0 5px 0;
    letter-spacing: 0.05em;
}
input.text,
textarea.text,
.ff_composer input[type=text],
.ff_composer textarea {
    height: 37px;
    text-align: center;
    font-size: 13px;
    font-weight: 700;
    /*text-transform: uppercase;*/
    outline: none;
    padding: 0px 5px;
    border-radius:5px;
    -webkit-border-radius:7px;
    border:thin #DDD;
    background:white;
   -moz-box-shadow:    inset 0 0 10px #222;
   -webkit-box-shadow: inset 0 0 10px #222;
   box-shadow:         inset 0 0 10px #222;
}
input.text[disabled] {
	background: #222222;
	color:#333333;
}
.ff_composer input[type=checkbox]{
	float : left;
	margin-right: 10px;
}
/* Modal Forms */
.form-area {
	margin-top: 40px;
}
#colorbox .form-area {
	margin-top:0px;	
}
.form-area .errors,
.form-area .success,
.form-area .fail {
	display: none;
}
.form-area .errors h4 {
	color: red;
	margin: 40px 0 20px 0;
	font-weight: 700;
	text-transform: uppercase;
}
.form-area .errors p {
	margin-bottom: 10px;
	font-weight: 600;
}
.form-area .errors span.field_name {
	float : left;
	width : 100px;
	text-transform : capitalize;
}
.form-area .errors .correct-errors,
.form-area .fail .tunn {
	margin : 20px 0;
}
.form-area .success {
	margin : 40px 0;
}
textarea.text,
.ff_composer textarea {
	height: 100px;
	text-align: left;
}

.ff_composer .line {
	margin-bottom: 20px;
}
.ff_composer label {
	color : #FFF;
}
#colorbox .ff_composer label {
	color: #000;
}
.ff_composer input[type=text],
.ff_composer textarea {
	width : 400px;
}
.ff_composer .selector,
.ff_composer .selector span {
	width : 200px;
}
.ff_composer .selector select {
	width : 220px;
}
.ff_composer label[for="freeform_mailing_list_y_2"] {
	display:inline-block;
		
}

div.glow {
    display:inline-block;
    border-radius:7px;
    -webkit-border-radius:7px;
    -moz-box-shadow:    0px 0px 10px 4px #3569d6;
    -webkit-box-shadow: 0px 0px 10px 4px #3569d6;
    box-shadow:         0px 0px 10px 4px #3569d6;    
    
    border:1px solid transparent;
    background: #ffffff;
    background: -moz-linear-gradient(-45deg,  #ffffff 0%, #777777 37%, #777777 67%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffffff), color-stop(37%,#777777), color-stop(67%,#777777), color-stop(100%,#ffffff));
    background: -webkit-linear-gradient(-45deg,  #ffffff 0%,#777777 37%,#777777 67%,#ffffff 100%); 
    background: -o-linear-gradient(-45deg,  #ffffff 0%,#777777 37%,#777777 67%,#ffffff 100%); 
    background: -ms-linear-gradient(-45deg,  #ffffff 0%,#777777 37%,#777777 67%,#ffffff 100%); 
    background: linear-gradient(135deg,  #ffffff 0%,#777777 37%,#777777 67%,#ffffff 100%); 
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=1 ); */
}
​
#register-ifly-acct input.text {
	width:100px;
	background-position: -216px 0px;
}
input.text.zip {
	width : 100px;
	background-position: -216px 0px;
}
input.text.phone4 {
	width : 84px;
	background-position: -216px 0px;
}
input.text.phone3 {
	width : 55px;
	background-position: -426px 0px;
}
input.text.amount {
	width : 126px;
	height : 38px;
	padding : 0;
	color : #fff;
	background-position: -500px -8px;
}
body.gifting.step3 input.text.amount {
	color:#000;	
}
input.submit,
.ff_composer input[type=submit] {
	text-indent: -999em;
	width : 73px;
	height: 37px;
	border : none;
	background : transparent url(/images/sprite-form.png) 0 -59px no-repeat;
}
input.submit:hover,
.ff_composer input[type=submit]:hover {
	background-position: -168px -59px;
}
input.enter{
	text-indent: -999em;
	width : 73px;
	height: 37px;
	border : none;
	background : transparent url(/images/sprite-form.png) 0 -100px no-repeat;
}
input.enter:hover {
	background-position: -168px -100px;
}
input.checkout{
	text-indent: -999em;
	width : 90px;
	height: 39px;
	border : none;
	background : transparent url(/images/sprite-form.png) 0 -148px no-repeat;
}
input.checkout.disabled, input.checkout.disabled:hover{
	background-position: -337px -148px;	
}
input.checkout:hover {
	background-position: -168px -148px;
}
input.send{
	text-indent: -999em;
	width : 66px;
	height: 39px;
	border : none;
	background : transparent url(/images/sprite-form.png) 0 -199px no-repeat;
}
body.step7 input.send {
	margin: 15px 0px 0px;
}

input.send:hover {
	background-position: -168px -199px;
}
input.book-now{
	text-indent: -999em;
	width : 148px;
	height: 70px;
	margin: 20px auto;
	border : none;
	background : transparent url(/images/sprite-form.png) 0 -249px no-repeat;
}
input.book-now.disabled:hover, input.book-now.disabled {
	background-position: -337px -249px;	
}
input.book-now:hover {
	background-position: -168px -249px;	
}
input.add{
	text-indent: -999em;
	width : 58px;
	height: 39px;
	border : none;
	background : transparent url(/images/sprite-form.png) 0px -327px no-repeat;
}
input.add:hover {
	background-position: -168px -327px;	
}
input.purchase{
	text-indent: -999em;
	width : 168px;
	height: 39px;
	border : none;
	background : transparent url(/images/sprite-form.png) 0px -379px no-repeat;
}
input.purchase:hover {
	background-position: -168px -379px;	
}
input.submit.green{
	text-indent: -999em;
	width : 67px;
	height: 36px;
	border : none;
	background : transparent url(/images/sprite-form.png) 0px -429px no-repeat;
}
input.submit.green:hover{
	background-position: -168px -429px;
}
input.find-flights{
	text-indent: -999em;
	width : 108px;
	height: 36px;
	border : none;
	background : transparent url(/images/sprite-form.png) 0px -479px no-repeat;
}
input.find-flights:hover {
	background-position: -168px -479px;	
}
input.find-flights.disabled:hover, input.find-flights.disabled {
	background-position: -336px -479px;	
}
input.next{
	text-indent: -999em;
	width : 65px;
	height: 36px;
	border : none;
	background : transparent url(/images/sprite-form.png) 0px -540px no-repeat;
}
input.next:hover {
	background-position: -168px -540px;	
}
input.next.disabled:hover, input.next.disabled {
	background-position: -337px -540px;	
}

/***********************************************************************
BUTTONS
************************************************************************/
.btn{
	color:#fff;
	height:34px;
	text-align:center;
	padding:0 2px 0 0;
	position:relative;
	background:#3e3f45;
	border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #9da1b1;
	font:bold 13px/26px Helvetica, Arial, sans-serif;
	text-decoration:none !important;
	margin:0px 1px 0px 0px;
	display: inline-block;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4) inset;
}
.btn:hover{
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}
.btn span {
	position:relative;
	z-index:2;
	display:block;
	margin:-16px 0 0;
	padding: 4px 11px 0 8px;
	text-transform: uppercase;
}
.overlay .btn span {
	color:#FFF;
	text-align:center;
	
}
.btn.myifly span{
	text-transform:none;
}
.btn em{
	display:block;
	margin:1px 1px 0px 1px;
	width:100%;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height:15px;
	border-radius:4px;
	-webkit-border-radius:4px;
	background: rgb(124,122,126);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdjN2E3ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM4JSIgc3RvcC1jb2xvcj0iIzc2Nzc3YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ODY5NmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(124,122,126) 0%, rgb(118,119,123) 38%, rgb(104,105,110) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(124,122,126)), color-stop(38%,rgb(118,119,123)), color-stop(100%,rgb(104,105,110)));
	background: -webkit-linear-gradient(top,  rgb(124,122,126) 0%,rgb(118,119,123) 38%,rgb(104,105,110) 100%);
	background: -o-linear-gradient(top,  rgb(124,122,126) 0%,rgb(118,119,123) 38%,rgb(104,105,110) 100%);
	background: -ms-linear-gradient(top,  rgb(124,122,126) 0%,rgb(118,119,123) 38%,rgb(104,105,110) 100%);
	background: linear-gradient(to bottom,  rgb(124,122,126) 0%,rgb(118,119,123) 38%,rgb(104,105,110) 100%);
}
.btn.green{
	background:#358313;
	box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5) inset;
	-webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.5) inset;
}

.btn.green em{
	background: rgb(118,164,96);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc2YTQ2MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjI1JSIgc3RvcC1jb2xvcj0iIzcyYTg1YSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1YzliNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(118,164,96) 0%, rgb(114,168,90) 25%, rgb(92,155,64) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(118,164,96)), color-stop(25%,rgb(114,168,90)), color-stop(100%,rgb(92,155,64)));
	background: -webkit-linear-gradient(top,  rgb(118,164,96) 0%,rgb(114,168,90) 25%,rgb(92,155,64) 100%);
	background: -o-linear-gradient(top,  rgb(118,164,96) 0%,rgb(114,168,90) 25%,rgb(92,155,64) 100%);
	background: -ms-linear-gradient(top,  rgb(118,164,96) 0%,rgb(114,168,90) 25%,rgb(92,155,64) 100%);
	background: linear-gradient(to bottom,  rgb(118,164,96) 0%,rgb(114,168,90) 25%,rgb(92,155,64) 100%);
}
.btn.red {
	border:1px solid #9da1b1;
	background:#c7262d;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4) inset;
	text-align:center;
}

.btn.red:hover, .btn.green:hover {
	color : #fff;
	-moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.btn.red em{
	background: rgb(210,108,112);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QyNmM3MCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjM2JSIgc3RvcC1jb2xvcj0iI2Q3NjY2YiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkMzU0NTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgb(210,108,112) 0%, rgb(215,102,107) 36%, rgb(211,84,89) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(210,108,112)), color-stop(36%,rgb(215,102,107)), color-stop(100%,rgb(211,84,89)));
	background: -webkit-linear-gradient(top,  rgb(210,108,112) 0%,rgb(215,102,107) 36%,rgb(211,84,89) 100%);
	background: -o-linear-gradient(top,  rgb(210,108,112) 0%,rgb(215,102,107) 36%,rgb(211,84,89) 100%);
	background: -ms-linear-gradient(top,  rgb(210,108,112) 0%,rgb(215,102,107) 36%,rgb(211,84,89) 100%);
	background: linear-gradient(to bottom,  rgb(210,108,112) 0%,rgb(215,102,107) 36%,rgb(211,84,89) 100%);
}
.btn.red:hover em, .btn.green:hover em {
	margin:2px 2px 0px 2px;
	width:99%;
	height:14px;
}

.btn-block{
	text-align:center;
}
.btn.large {
	height:66px;
	padding:1px 4px 1px 0;
	font:bold 19px/23px Helvetica, Arial, sans-serif;
}
div.btn-block a.btn.red.large.uppercase {
	display:none;	
}
.btn.large em{
	height:32px;
	margin:1px 2px;
}
.btn.large:hover em {
	height:32px;
	width : 100%;
}

a.btn-prev,
span.arrow a,
a.btn-next {
	background: url(/images/sprite-general.png) no-repeat -56px 0;
	width: 44px;
	height: 45px;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
}

span.arrow a.disabled,
a.btn-next.disabled, a:hover.btn-next.disabled,
span.arrow.forward a:hover.disabled, body.booking span.arrow a.disabled,
body.booking a.btn-next.disabled, body.booking a:hover.btn-next.disabled,
body.booking span.arrow.forward a:hover.disabled {
	background-position: -144px -61px;
}

a:hover.btn-prev,
span.arrow a:hover{
	background-position: -100px 0px;
}

a.btn-next,
span.arrow.forward a{
	background-position: -56px -61px;
}

body.booking a.btn-next,
body.booking span.arrow.forward a{
	background-position: -12px -61px;
}

a:hover.btn-next,
span.arrow.forward a:hover{
	background-position: -100px -61px;
}
span.arrow a{
	top : 140px;
}
span.arrow.back a{
	left : 10px;
}
span.arrow.forward a{
	right : 10px;
}


.btn.map-locator,
.btn.facebook {
	position: relative;
}
.btn.map-locator span,
.btn.facebook span{
	margin-left: 28px;
	margin-right: -6px;
}
body.booking .btn.map-locator span {
	width: 184px;
}
body.booking.step7 .btn.map-locator span {
	width: 184px;
}
.btn.map-locator div,
.btn.facebook div {
	width : 28px;
	height : 28px;
	position: absolute;
	top : 2px;
	left : 5px;
	
	background : url(/images/sprite-general.png) -64px -126px no-repeat;
}
.btn.facebook div {
	background : url(/images/sprite-general.png) -64px -169px no-repeat;
}
div.fb-login {
	text-align: left;
	padding-left: 111px;
	padding-top: 6px;
}

a.btn.inactive, a.btn.inactive:hover {
	color:#444;	
}

/****PHOTO/VIDEO BUTTONS *******/
div.photo-share {
	position:relative;
	overflow:auto;
}
div.photo-share a.btn{
	position: absolute;
	top: 370px;
	right: 31px;
	text-indent: -999em;
	width: 53px;
	height: 30px;
	border: none;
	background: transparent url(/images/sprite-form.png) 0 -627px no-repeat;
}
.photo-share a.btn:hover{
	background-position: -168px -627px;
}
a.photo-add{
	text-indent: -999em;
	width: 108px;
	height: 36px;
	border: none;
	background: transparent url(/images/sprite-form.png) 0 -659px no-repeat;
	display: inline-block;
}
a.photo-add:hover{
	background-position: -168px -659px;
}
a.photo-add.added, a.photo-add.added:hover{
	background-position: 0px -698px;
}
#colorbox #photo-cart {
	margin: 0 auto;
	text-align: center;
}

#colorbox #photo-cart p{
	color: #FFF;
}

/********************************************************************************
LINKS
*********************************************************************************/
a.more-info {
	text-transform: uppercase;
	border-bottom : 1px solid #fff;
}
a.more-info:hover {
	text-decoration: none;
	border-bottom : 1px solid #fff;
}
a.tooltip {
	width : 15px;
	height : 15px;
	display: inline-block;
	background: url(/images/booking-sprite.png) 0 -80px no-repeat;
	border-bottom:none;
	margin-left:-3px;
}
a.tooltip:hover {
 text-decoration:none;	
}

/********************************************************************************
PAGE HEADER
*********************************************************************************/
#header{
	background:#092a6c url(/images/bg-header.jpg) no-repeat;
	max-width:907px;
	margin:0 auto 10px;
	padding:0px 20px 0px 24px;
	border-radius:0 0 8px 8px;
	-webkit-border-radius:0 0 8px 8px;
	box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.6);
	position:relative;
	z-index:3;
}
#header:after{
	clear:both;
	display:block;
	content:'';
}
.logo{
	margin:51px 0 0;
	float:left;
	background:url(/images/logo.png) no-repeat;
	width:230px;
	height:72px;
	text-indent:-9999px;
	overflow:hidden;
}
.logo.alt {
	display: none;
}
.logo a{
	height:100%;
	display:block;
}
.header-block{float:right;}
.header-top{
	overflow:hidden;
	padding:0 0 3px;
}
.add-nav{
	float:right;
	padding:3px 0 0;
}
.add-nav ul{
	float:left;
	padding:0;
	margin:0;
	list-style:none;
	font:bold 11px/15px Helvetica, Arial, sans-serif;
}
.add-nav li{
	float:left;
	padding:0 6px;
	background:url(/images/sep-add-nav.gif) no-repeat 100% 2px;
}
.add-nav .phone{
	color:#dddbdb;
	padding:0 0 0 7px;
	background: none;
	padding-right: 0;
	font:bold 14px/18px Helvetica, Arial, sans-serif;
}
.add-nav a{color:#dddbdb;}
.header-holder{
	overflow:hidden;
	margin:0 -3px 0 0;
}
.social{
	float:right;
	padding:0;
	margin:0 0 0 3px;
	list-style:none;
}
.social ul {
	margin : 0;
	padding: 0;
	list-style-type: none;
}
.social li{
	float:left;
	margin:0 0 0 4px;
}
.social a{
	display:block;
	width:26px;
	height:26px;
	text-indent:-9999px;
	overflow:hidden;
}
.social li.inline.gradient-border, span.inline.gradient-border {
	border:2px solid transparent;
	border-radius:4px;
    -webkit-border-radius:4px;

	background: rgb(102,104,110); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(102,104,110,1) 0%, rgba(254,254,254,1) 51%, rgba(102,104,110,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(102,104,110,1)), color-stop(51%,rgba(254,254,254,1)), color-stop(100%,rgba(102,104,110,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(102,104,110,1) 0%,rgba(254,254,254,1) 51%,rgba(102,104,110,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(102,104,110,1) 0%,rgba(254,254,254,1) 51%,rgba(102,104,110,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(102,104,110,1) 0%,rgba(254,254,254,1) 51%,rgba(102,104,110,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(102,104,110,1) 0%,rgba(254,254,254,1) 51%,rgba(102,104,110,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66686e', endColorstr='#66686e',GradientType=1 ); /* IE6-9 */
	
}
span.inline.gradient-border {
	padding:4px 0px;	
}
.social li.inline.gradient-border a, span.inline.gradient-border a{
	padding: 2px 4px 0px;
	text-indent: 0px;
	width: auto;
	height: 20px;
	overflow: visible;
	background: #07389A;
	text-decoration: none;
}
span.inline.gradient-border a{
	padding:4px;
}

.social li.facebook a{background:url(/images/ico-social.png) no-repeat;}
.social li.ytube a {background:url(/images/ico-social.png) no-repeat -30px 0;}
.search-form{
	float:right;
	padding:1px 0 0;
}
.search-form .text{
	float:left;
	background:rgba(255, 255, 255, 0.44);
	border:0;
	width:115px;
	padding:4px 7px;
	color:#d2d6e7;
	height:16px;
	border-radius:0px;
    -webkit-border-radius:0px;
   	-moz-box-shadow : none;
   	-webkit-box-shadow: none;
   	box-shadow:         none;
	font:bold 13px/16px Helvetica, Arial, sans-serif;
}
.btn-search{
	float:left;
	text-align:center;
	background:#135ffa;
	border:0;
	width:68px;
	height:24px;
	color:#d2d6e7;
	font:bold 13px/16px Helvetica, Arial, sans-serif;
	padding:0 0 2px;
	text-transform:uppercase;
	cursor:pointer;
	line-height: 25px;
}

/* Main Navigation */

#nav{
	float:right;
	z-index: 8;
}
#nav ul{
	padding:10px 0 0 0;
	margin:0;
	list-style:none;
	float:left;
	background:url(/images/sep-nav.png) no-repeat 100% 50%;
	font: 400 16px/20px Helvetica, Arial, sans-serif;
}
#nav li{
	float:left;
	text-align:center;
	position:relative;
	background:url(/images/sep-nav.png) no-repeat 0 50%;
}
#nav li span {
	width: 122px;
	height: 57px;
	background: transparent url(/images/nav.png) -20px -20px no-repeat;
}
#nav li#shop span {
	width : 95px;
	background-position: -179px -20px;
}
#nav li#media span {
	width: 103px;
	background-position: -309px -20px;	
}
#nav li#find span {
	width : 129px;
	background-position: -448px -20px;
}
#nav a{
	display:block;
	color:#fff;
	min-height:76px;
	padding:11px 18px 0;
}
#nav img{
	display:block;
	margin:0 auto -5px;
}

#nav li:hover a,
#nav .active a,
#nav a:hover{
	text-decoration:none;
	background:url(/images/bg-nav-h.png) repeat-x;
}
#nav li.active a:before,
#nav li.active a:after,
#nav li:hover a:before,
#nav li:hover a:after{
	content:'';
	position:absolute;
	top:50%;
	left:0;
	height:70px;
	margin:-35px 0 0;
	width:18px;
	box-shadow:-8px 0 13px -5px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow:-8px 0 13px -5px rgba(0, 0, 0, 0.75);
}
#nav li.active a:before,
#nav li:hover a:before{
	right:0;
	left:auto;
	box-shadow:8px 0 13px -5px rgba(0, 0, 0, 0.75);
	-webkit-box-shadow:8px 0 13px -5px rgba(0, 0, 0, 0.75);
}
#nav li:hover .drop{display:block;}
#nav .drop{
	position:absolute;
	display:none;
	/*top:100%;*/
	top: 82px;
	left:50%;
	margin:0 0 0 -80px;
	width:160px;
	background:url(/images/bg-drop.png) repeat-y;
	box-shadow: 0px 6px 7px -5px rgba(0, 0, 0, 0.6) inset;
	-webkit-box-shadow: 0px 6px 7px -5px rgba(0, 0, 0, 0.6) inset;
	border-radius:0 0 5px 5px;
	-webkit-border-radius:0 0 5px 5px;
}
body.local #nav .drop {
	top: 86px;	
}
#nav .drop ul{
	background:none;
	padding:0;
	margin:0;
	list-style:none;
	float:none;
	font:bold 13px/17px Helvetica, Arial, sans-serif;
}
#nav .drop ul li{
	background:url(/images/sep-drop.png) no-repeat 50% 0;
	float:none;
	text-align:center;
}
#nav .drop ul li:first-child{background:none;}
#nav .drop ul a{
	display:block;
	color:#fff;
	height:auto;
	min-height:0;
	padding:17px 5px 9px;
	background:none;
}
#nav .drop ul a:hover{
	text-decoration:none;
	background:url(/images/bg-drop-h.png) repeat-y;
}
#nav li.active .drop a:before,
#nav li.active .drop a:after,
#nav li:hover .drop a:before,
#nav li:hover .drop a:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	height:0;
	margin:0;
	width:0;
	box-shadow:none;
	-webkit-box-shadow:none;
}
#nav li.active .drop a:before,
#nav li:hover .drop a:before{
	right:0;
	left:auto;
	box-shadow:none;
	-webkit-box-shadow:none;
}

/********************************************************************************
OVERLAYS
*********************************************************************************/
.modal {
	display: none;
}
#gc-balance input.text {
	margin-bottom: 10px;
}

#gc-balance .status {
 height: 30px;
}

div.overlay {
    z-index: 2;
}
div.overlay a {
	color:#000;
	text-decoration:underline;
}
div.overlay a:hover {
	text-decoration:none;
}
div.overlay h2 {
    line-height:20px;
	font-size:20px; 
	margin: 20px 0;
 	text-transform:none; 
 	color : #000; 
}
div.overlay p {
    font-size:13px;
	padding:0px;
	margin:0px;
	color : #000;
}
div.overlay form {
	margin-top: 20px;
}
div.overlay form#lgn {
	margin-top: 0px;
}
div.overlay label, body.booking.step6 div.overlay label {
	color: black;
	font-size: 15px;
	font-weight: 700;
	margin: 5px 0px 0px;
}
form.reset-password label {
	margin:5px 0px;	
}
div.overlay .text {
	width : 250px;
}
div.overlay {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
	background: rgb(255, 255, 255); /* The Fallback */
    padding:12px 16px 12px 16px;
    margin:-20px 0px 0px;
	overflow:hidden;
    font-family:Helvetica, Arial, sans-serif;
	color:#000;
	text-align:left;
}
div.overlay a.closeButton {
    background:transparent url(/images/calendar_sprite.png) no-repeat top right;
    height:19px;
    width:19px;	
    text-indent:-10000px;
    float:right;
	clear:both;
	position:relative;
	overflow:hidden;
}
div.overlay.event {
	position:absolute;
    display:none;
    clear:none;
}
body.booking.step3 div.overlay.event {
	width: 240px;	
}

#large-party div {
	margin-bottom: 20px;
}
#large-party div:last-child {
	margin: 0 0 0 100px;

}
#large-party label{
	line-height: 44px;
	float : left;
	width: 100px;
}
#large-party input[type=text],
#large-party select {
	float : left;
}

/********************************************************************************
TOOLTIPS
*********************************************************************************/
#tooltip h2,
#tooltip p {
	color : #000;
}
#tooltip.event-overlay {
	width : auto;
	height : auto;
	max-width: 315px;
}
#tooltip {
	display:none;
}


/********************************************************************************
HERO SPACE
*********************************************************************************/

.visual-block{
	max-width:1368px;
	min-height:392px;
	position:relative;
	margin:0 auto;
	z-index: 2;
}
.visual-holder{
	max-width:950px;
	margin:0 auto;
	max-height: 392px;
	position: relative;
}
.visual-block .video-block, .visual-block .image-block{
	padding:0 0 0 24px;
	font:12px/14px Helvetica, Arial, sans-serif;
	color:#fefefe;
	position:relative;
	z-index:2;
}
.visual-block .image-block .copy {
	width : 45%;
}
.visual-block .img {
	transform:rotate(2deg);
	-ms-transform:rotate(2deg); /* IE 9 */
	-moz-transform:rotate(2deg); /* Firefox */
	-webkit-transform:rotate(2deg); /* Safari and Chrome */
	-o-transform:rotate(2deg); /* Opera */
	transform-origin: bottom left;
	position: absolute;
	top: 10px;
	right: 40px;
}
.visual-block .video-block .copy {
	width : 49%;
	float : left;
}
.visual-block h2{
	margin:0 0 10px;
	font:33px/37px 'ifly_monospaceregular', Helvetica, Arial, sans-serif;
}
.visual-block p{
	padding: 0;
	margin:0 0 14px 2px;
	width: 70%;
}
.visual-block .image{
	position:absolute;
	bottom:0;
	right:-53px;
}

.visual-block .video, .visual-block .img{
	border: 3px solid transparent;
	border-radius:7px;
	-webkit-border-radius:7px;
	display:inline-block;

	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.6);
	background-color:#B4B6BF;
	background-image: linear-gradient(bottom, #B4B6BF 0%, white 53%, #ACAFBD 100%);
	background-image: -o-linear-gradient(bottom, #B4B6BF 0%, white 53%, #ACAFBD 100%);
	background-image: -moz-linear-gradient(bottom, #B4B6BF 0%, white 53%, #ACAFBD 100%);
	background-image: -webkit-linear-gradient(bottom, #B4B6BF 0%, white 53%, #ACAFBD 100%);
	background-image: -ms-linear-gradient(bottom, #B4B6BF 0%, white 53%, #ACAFBD 100%);
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #B4B6BF), color-stop(0.53, white), color-stop(1, #ACAFBD) );
}
.visual-block .video {
	width : 440px;
	float: left;
}
.video-block div.video a {
	position:relative;
	height: 248px;
	display: block;
	background-position: 50% 50%;
	width: 440px;
	background-size: 440px;
	background-repeat: no-repeat;	
}
.visual-block .video span.cta {
	text-align: center;
	color: black;
	font-size: 15px;
	font-weight: 700;
	padding: 4px 0px;
	display: block;
}
.visual-block .video img{
	border-radius:6px;
	-webkit-border-radius:6px;
	display:block;
}
.video .play{
	position:absolute;
	top: 60%;
	left: 50%;
	margin:-32px 0 0 -18px;
	width:36px;
	height:38px;
	border-radius:6px;
	-webkit-border-radius:6px;
	border:1px solid #9da1b1;
	background:#c7262d;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4) inset;
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.4) inset;
}
.video .play em{
	display:block;
	margin:1px;
	width:34px;
	height:18px;
	background:#d7656a;
	border-radius:4px;
	-webkit-border-radius:4px;
	position:absolute;
}
.video .play strong{
	display:block;
	background:url(/images/sprite-general.png) no-repeat 12px 9px;
	width:36px;
	height:38px;
	position:relative;
	z-index:2;
}
#slider li {
	position: relative;
}
#video-modal {
	display: none;
	position: absolute;
	top : 0;
	left : 0;
	z-index: 4;
	width : 100%;
}
.video-wrapper {
	width: 750px;
	height:350px;
	margin: 0 auto;
	position: relative;
}
.video-wrapper .video-player{
	width : 590px;
	margin : 0 auto;
	text-align: center;
}
.video-wrapper a.btn-prev,
.video-wrapper a.btn-next {
	top : 140px;
}
.video-wrapper a.btn-prev{
	left : 10px;
}
.video-wrapper a.btn-next {
	right: 10px;
}
.video-wrapper a.btn {
	float : right;
}

/* Hero Navigation */
.menu-block{
	overflow:hidden;
	text-align:center;
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	z-index:2;
}

.menu{
	display:inline-block;
	background:url(/images/bg-menu.png) no-repeat 100% 0;
	height:43px;
	padding:0 17px 0 0;
}
.menu ul{
	background:url(/images/bg-menu.png) no-repeat 0 -57px;
	height:34px;
	padding:9px 29px 0 39px;
	margin:0;
	list-style:none;
	text-align:center;
	/*text-transform:uppercase;*/
	font:bold 14px/18px Helvetica, Arial, sans-serif;
}
.menu li{
	display:inline-block;
	padding:8px 16px 8px 23px;
	background:url(/images/sep-menu.gif) no-repeat;
}
.menu li:first-child{background:none;}
.menu a{
	color:#909091;
	text-decoration:none;
	}
.menu .active a,
.menu a:hover{
	text-decoration:none;
	color:#184ba4;
}

/***********************************************************************
CAROUSEL
***********************************************************************/
.gallery-block{
	width:1017px;
	margin:0 auto;
	padding:0 0 38px;
}
.gallery-block h1{
	margin: 0;
    color: #07389A;
    font: bold 34px/38px Helvetica, Arial, sans-serif;
    text-transform:none;
    text-align: center;
    padding: 0 0 13px 20px;
    text-shadow: -1px -1px 1px #5985DB, 1px 1px 1px #555;
    font-weight: 400;
}
.gallery{
	width:100%;
}
.gallery .gholder{
	padding:0 37px 0 42px;
	position:relative;
}
.gallery .gholder:after{
	content:"";
	display:block;
	clear:both;
}
.gallery .gmask {
	position:relative;
	overflow:hidden;
	width:100%;
	float:left;
}
.gallery .gmask ul{
	list-style:none;
	width:99999px;
	float:left;
	padding:0;
	margin:0;
}
.gallery .gmask ul li{
	float:left;
	border:3px solid #979696;
	border-radius:6px;
	-webkit-border-radius:6px;
	margin:0 9px 0 0;
}
.gallery .gmask ul img{
	display:block;
	border-radius:3px;
	-webkit-border-radius:3px;
}
.gallery li.video-block{
	position: relative;
}
.gallery li.video-block .play{
	top : 60%;
}
.gallery a.btn-prev,
.gallery a.btn-next{
	position:absolute;
	top:30px;
	left:-6px;
	background:url(/images/sprite-general.png) no-repeat -56px 0;
	width:44px;
	height:45px;
	text-indent:-9999px;
	overflow:hidden;
}
.gallery a.btn-next{
	left:auto;
	right:-11px;
	top:32px;
	background-position:-56px -61px;
}
iframe#waiver {
	border:none;	
}

/***********************************************************************
FOOTER
***********************************************************************/
#footer{
	color : #a6a6a7;
	background: #2a2a2e;
	padding :0 0 40px;
	text-align:center;
	font:10px/14px Helvetica, Arial, sans-serif; 
}
#footer p{
	color: #a6a6a7;
	margin : 4em 0 2em 0;
}
#footer .block-holder{
	padding: 2% 0 0 0;
	max-width:950px;
	margin:0 auto;
	overflow:hidden;
}
#footer .block{
	display:inline-block;
	margin:0 ;
	margin-right: 8%;
	color:#b7b7b7;
	text-align:left;
	float : left;
}
#footer .block.last {
	margin : 0;
}
#footer .block h4{
	margin:0 0 7px;
	color:#b7b7b7;
	font:bold 22px/26px Helvetica, Arial, sans-serif;
}
.footer-list{
	font:11px/15px Helvetica, Arial, sans-serif;
}
.footer-list ul{
	padding:0;
	margin:0;
	list-style:none;
}
.footer-list li{
	padding:0 0 9px;
}
.footer-list a{
	color:#a6a6a7;
}


