/* CSS Document */

body.booking.step6 .mc-gcard div label {
	color : #fff;
	padding-top: 5px;
	font-size: 12px;
	display: inline-block;
	clear:right;
}
body.booking.step6 div.tally {
	color:#FFF;
}
body.booking.step6 div.expiry {
	margin: 0px 35px 0 0;
	padding-right: 10px;
}
input.apply {
	text-indent: -999em;
	width: 108px;
	height: 36px;
	border: none;
	margin-left: 7px;
	background: transparent url(/images/sprite-form.png) 0px -588px no-repeat;
}
input:hover.apply {
	background-position:-168px -588px;
}
input.remove {
	text-indent: -999em;
	width: 108px;
	height: 36px;
	border: none;
	background: transparent url(/images/sprite-form.png) 0px -736px no-repeat;
}
input:hover.remove {
	background-position:-168px -736px;
}

input.process {
	text-indent: -999em;
	width: 148px;
	height: 36px;
	border: none;
	background: transparent url(/images/sprite-form.png) -336px -60px no-repeat;
}
input:hover.process {
	background-position:-487px -60px;
}

input:hover.process.disabled, input.process.disabled {
	background-position:-639px -60px;
}

body.booking.step6 h3 {
	font-size: 20px;
	display: block;
	margin: 0 0 5px 0;
	letter-spacing: 0.05em;
}
body.booking.step6 div.payment-title h3 {
	display: inline-block;
	width:25%;
}

body.booking.step6 .payment-summary table {
	width: 590px;
	text-align:enter;
}
.payment-summary table td.total {
	text-align:right;	
}
.card-total.line {
	/*border-bottom:#FFF 1px solid;*/
	text-decoration:underline;	
}
body.booking.step6 div.payment-summary div {
	display:inline-block;
}
body.booking.step6 div.payment-summary div.items {
	width: 100%;
	
}

body.booking.step6 div.payment-summary div.line-item {
	display:block;
	padding:5px 4px 5px 0px;
}
body.booking.step6 div.payment-summary div.line-item div {
	width:25%;
	margin:0px auto;	
}

div.line-item div.card-total {
	text-align:right;
}

body.booking.step6 div.tally, .payment-title {
	width:100%;
}
body.booking.step6 div.pay-total {
	float:right;
	width:50%;
}
body.booking.step6 div.pay-total div{
	width:50%;
}
body.booking.step6 div.pay-total h3 {
	text-align:right;
	padding-right:5px;
}
body.booking.step6 div.total .pay-total .total-sale, body.booking.step6 div.total .pay-total .total-pay, body.booking.step6 div.total .pay-total .total-remain,  {
	text-align:left;
}
.pay-option.multiple, .multiple fieldset.gc-info {
	/*display:none;*/
}
.pay-option.disabled, fieldset.disabled {
	display:none;
}

body.booking.step6 fieldset.cc-info div {
	margin-right: 12px;
}
.checkout-wrapper div.seal {
	float: right;
	margin: 15px -12px -31px 0px;
}

#cboxLoadedContent div.timeout{
	margin: 38px auto;
	text-align: center;
}
#cboxLoadedContent div.status{
	min-height: 25px;
	color:#000;
	text-align: center;
}
fieldset.payment-method {
	border-top: #BBB solid thin;
	margin: 15px 55px 0px 0px;
	padding-top: 10px;
}