body.booking #progress-indicator li {
	letter-spacing: 0em;
}
body.booking.step5 div#promo-code input.text {
	float: left;
	margin-right: 4px;
	padding-top: 10px;
}
body.booking.step5 div#promo-code input.text {
	height: 27px;
}
body.booking.step5 div#summary form {
	width: 270px;
}
