/* Home page hero background */
body.local #skyline{
	width:100%;
	height : 544px;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	background: #020a3d url(/images/local-home-static-cloud.jpg) no-repeat 50% 0;
	background-size:100% auto;
}

/* City Name */

 #city-name {
	width: 250px;
	z-index: 10;
	position: absolute;
	left: 50%;
	margin-left: -125px;
}
 #city-name span {
	height : 38px;
	display: block;	
	text-align: center;
	font-size: 19px;
	font-family: "ifly_monospaceregular", sans-serif;
	color: #1d3a88;
	padding-top: 10px;
	background : transparent url(/images/local-title-background.png) 50% 0 no-repeat;
}

/* Hero Area */
body.local #city-scape {
	width: 100%;
	height : 200px;
	float: left;
	margin-bottom: -43px;
	z-index: 2;
	position: absolute;
	top : 183px;
	background : transparent url(/images/local-seattle.png) 0 100% no-repeat;
}
.menu-block.local {
	display: none
}
body.local .menu-block.local{
	display: block;
	z-index: 4;
}
body.local .menu-block.global{
	display: none;
}
body.local .menu {
	min-width: 577px;
	float: right;
}
body.local .menu li{
	padding:8px 16px;
}
body.local .menu li:first-child {
	padding-left:30px;
}

body.local .menu ul {
	padding : 9px 0 0 0;
}
body.local #slider {
	z-index: 3;
}

body.local .visual-block .static-image {
	position: absolute;
	display: inline-block;
	background: transparent;
	clear: none;
	top: 0px;
	/*border: 3px solid #979696;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.2);
	-webkdit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.2);*/
	right: 20px;
}
