/**************************************************************************
TESTIMONIALS
***************************************************************************/

.star-testimonial {
    display:inline-block;
    background:transparent url(/images/stars.png) 0px 0px no-repeat;
    text-indent:-10000px;
    margin:0px;
    padding:0px;
    width: 77px;
    height:13px;
    
}
.star-testimonial.star5 {
    background-position:0px 0px;
}
.star-testimonial.star4 {
    background-position:0px -13px;
}
.star-testimonial.star3 {
    background-position:0px -26px;
}
.star-testimonial.star2 {
    background-position:0px -39px;
}
.star-testimonial.star1 {
    background-position:0px -52px;
}
body.testimonials #testimonials-distribution p{
	margin: 0 1.5em;
}
body.testimonials .progress-bar {
	color : #fff;
	font-style: 12px;
	height : 25px;
}
body.testimonials .progress-bar span {
	width: 100px;
	height : 7px;
	background: #fff;
	display: inline-block;
	line-height: 7px;
	margin : 0 5px;
}
body.testimonials .progress-bar span em {
	height: 7px;
	background : #c7262d;
	display: inline-block;
}

body.testimonials div.note{
	text-align: center;
	margin-bottom: 35px;
}
body.testimonials div.note p {
	font-size: 17px;
	margin: 0.5em 0;
}
body.testimonials span.average,
body.testimonials  h3 {
	font-size : 17px;
	color: #fff;
	line-height: 22px;
}
body.testimonials div.pagination {
	float : left;
	width : 20%;
	padding-top: 10px;
}
body.testimonials div.sort {
	float : left;
	width : 80%;
}
body.testimonials div.sort span,
body.testimonials div.sort form {
	float : left;
}
body.testimonials a.btn.take-survey{
	float: right;
}
body.testimonials div.review {
	padding : 15px 0 25px 0;
	font-size: 14px;
	border-top: 1px solid #9b9b9b;
}

body.testimonials div.info {
	float : left;
	width : 15%;
}
body.testimonials div.info span.star-testimonial{
	margin-bottom: 6px;
}
body.testimonials div.info span,
body.testimonials div.info em {
	color: #fff;
	display: block;
}
body.testimonials div.info em {
	font-style: normal;
	font-weight: 700;
}
body.testimonials div.comment {
	float : left;
	width : 80%;
	margin-left: 20px;
}
body.testimonials div.comment h2 {
	text-align:left;
}

body.testimonials div.comment p {
	margin-top : 0;
	padding-top:0px;
}
body.testimonials div.comment strong {
	font-size : 17px;
}

body.testimonials #sort-pagination {
	margin-bottom: 25px;
}
body.testimonials .pagination div {
	float : left;
}
body.testimonials .pagination div.pages {
	line-height: 22px;
	color : #fff;
	margin : 0 10px;
}
body.testimonials .pagination div.pages span {
	padding : 0 2px;
}
body.testimonials a.prev,
body.testimonials a.next {
	width : 22px;
	height: 22px;
	background:transparent url(/images/sprite-photovid.png) no-repeat;
}
body.testimonials a.next {
	background-position: top right;
}
body.testimonials .sort > span {
	line-height: 36px;
	color: #fff;
	margin-right: 10px;
}



#social{
	background: url(/images/bg_social.png) no-repeat;
	float: left;
	height: 56px;
	position: absolute;
	width: 246px;
	z-index: 400000;
	left: 864px;
	top: 628px;
	padding-top: 15px;
	padding-left: 45px;
}

