/**************************************************************************
TESTIMONIALS
***************************************************************************/

body.video-testimonials #testimonials-distribution p{
	margin: 0 1.5em;
}
body.video-testimonials .progress-bar {
	color : #fff;
	font-style: 12px;
	height : 25px;
}
body.video-testimonials .progress-bar span {
	width: 100px;
	height : 7px;
	background: #fff;
	display: inline-block;
	line-height: 7px;
	margin : 0 5px;
}
body.video-testimonials .progress-bar span em {
	height: 7px;
	background : #c7262d;
	display: inline-block;
}

body.video-testimonials div.note{
	text-align: center;
	margin-bottom: 35px;
}
body.video-testimonials div.note p {
	font-size: 17px;
	margin: 0.5em 0;
}
body.video-testimonials span.average,
body.video-testimonials  h3 {
	font-size : 17px;
	color: #fff;
	line-height: 22px;
}
body.video-testimonials div.pagination {
	float : left;
	width : 20%
	padding-top: 10px;
}
body.video-testimonials div.sort {
	float : left;
	width : 80%;
}
body.video-testimonials div.sort span,
body.video-testimonials div.sort form {
	float : left;
}
body.video-testimonials a.btn.take-survey{
	float: right;
}
body.video-testimonials div.review {
	padding : 15px 0 25px 0;
	font-size: 14px;
	border-top: 1px solid #9b9b9b;
}

body.video-testimonials div.info {
	float : left;
	width : 15%;
}
body.video-testimonials div.info span.star-testimonial{
	margin-bottom: 6px;
}
body.video-testimonials div.info span,
body.video-testimonials div.info em {
	color: #fff;
	display: block;
}
body.video-testimonials div.info em {
	font-style: normal;
	font-weight: 700;
}
body.video-testimonials div.comment {
	float : left;
	width : 80%;
	margin-left: 20px;
}
body.video-testimonials div.comment h2 {
	text-align:left;
}

body.video-testimonials div.comment p {
	margin-top : 0;
	padding-top:0px;
}
body.video-testimonials div.comment strong {
	font-size : 17px;
}

body.video-testimonials #sort-pagination {
	margin-bottom: 25px;
}
body.video-testimonials .pagination div {
	float : left;
}
body.video-testimonials .pagination div.pages {
	line-height: 22px;
	color : #fff;
	margin : 0 10px;
}
body.video-testimonials .pagination div.pages span {
	padding : 0 2px;
}
body.video-testimonials a.prev,
body.video-testimonials a.next {
	width : 22px;
	height: 22px;
	background:transparent url(/images/sprite-photovid.png) no-repeat;
}
body.video-testimonials a.next {
	background-position: top right;
}
body.video-testimonials .sort > span {
	line-height: 36px;
	color: #fff;
	margin-right: 10px;
}

.vt_channel_photo  div {
	background-size: 120px 90px;
}

body.video-testimonials #tunnel_selector {
	width: 182px;
	margin: 10px auto 0px;	
}
body.video-testimonials.local #tunnel_selector {
}

body.video-testimonials iframe, body.home #colorbox iframe{
	border:none;
	overflow:visible	
}
body.video-testimonials #colorbox .video-share, body.home #colorbox .video-share {
	position: absolute;
	top: 520px;
	margin: 0px auto;
	text-align: center;
	right: 380px;	
	overflow:visible;
}
body.video-testimonials #colorbox #cboxClose {
	right: 5px;
	top:5px;
}
body.video-testimonials #like_screen {
	position:absolute;
	clear:none;
	width: 840px;
	height:500px;
	z-index:100;
	display:none;
	background:transparent url(/images/click-like-button.png) top center no-repeat;	
	top: 3px;
	left: 9px;
}
.video-share a#vt_twitter {
	width: 50px;
	height:46px;
	text-indent:-10000px;
	overflow:hidden;
	background:transparent url(/images/twitter.png) top center no-repeat;	
	position: absolute;
	left: 134px;
}
a#vt_twitter:hover {
	background-position:bottom center;	
}
.fb_iframe_widget iframe {
	overflow: visible;
}
body.video-testimonials #cboxWrapper, body.video-testimonials #colorbox {
	overflow:visible;
}
body.video-testimonials .fb-like {
	margin-top: 12px;
}