{embed="default_site:inc/head"}
	{if site_id != '1'}
    <body class="video-testimonials info-page one-col local">
	  	{embed="default_site:inc/local-identifier"}
	{if:else}
	    <body class="video-testimonials info-page one-col ">
    {/if}

	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div id="vt_wrapper" class="content-wrapper rounded-corners gradient-border clearfix" style="border:0px solid #ff0000;">
				<section class=" clearfix">
					<!-- <h1>Video Testimonials</h1>-->
					{exp:channel:entries channel="video_testimonials" limit="1" disable="categories|category_fields|member_data|pagination"}
						<h1>{title}</h1>
						{if booking_sub_heading}<h2>{booking_sub_heading}</h2>{/if}
						{if booking_page_copy}
						<div class="intro">
						{booking_page_copy}
						</div>
						{/if}
					{/exp:channel:entries}
                    <div id="bignav" class='clearfix row'>
                        <div id="tunnel_selector">{embed="default_site:form-elements/select-tunnel-locations"}</div>
                    </div>
                    <div id="sort-pagination" class="clearfix"></div><!-- /#sort-pagination -->
					<div id="search_results"></div>
				</section>
            <div class="footer-nav"><p><a href="#" class="btn more"><em></em><span>MORE</span></a></p><div class="paginate"><!--<a class="previous" href="javascript:void(0);">previous</a><span> - </span><a class="next" href="javascript:void(0);">next</a>--></div></div>
            </div><!-- /.content-wrapper -->
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}

</body>
</html>