{embed="inc/head"}

<body class="info-page one-col">
	
	{embed="inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<section class=" clearfix">

					{exp:channel:entries channel="template_one" limit="1" disable="categories|category_fields|member_data|pagination"}	
					
					<article>
						<h1>{title}</h1>
						{info_copy}
						{info_form}
					</article>

					{/exp:channel:entries}

				</section>

			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="inc/footer"}
	{embed="inc/scripts"}
	{embed="inc/modals"}
	
</body>
</html>