{embed="default_site:inc/head"}
<body class="info-page one-col ratings">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<section class=" clearfix">
					
					{exp:channel:entries channel="what_is_ifly_ratings_reviews" limit="1" disable="categories|category_fields|member_data|pagination"}
						<h1>{title}</h1>
						{if booking_sub_heading}<div class="note"><h2>{booking_sub_heading}</h2></div>{/if}
						{if booking_page_copy}
						<div class="intro">
						{booking_page_copy}
						</div>
						{/if}
					{/exp:channel:entries}
						<h2>Rating Distribution</h2>
                        <div>
					<div id="ratings-dist">
						<span class="star-rating">X-star review</span> <span class="average"></span>
						<div class="progress-bar prog5">
							5 stars <span><em></em></span>
						</div>
						<div class="progress-bar prog4">
							4 stars <span><em ></em></span>
						</div>
						<div class="progress-bar prog3">
							3 stars <span><em></em></span>
						</div>
						<div class="progress-bar prog2">
							2 stars <span><em></em></span>
						</div>
						<div class="progress-bar prog1">
							1 stars <span><em></em></span>
						</div>
						<p></p>
					</div>
						<div id="take-survey"><a href="/surveys" class="btn take-survey"><em></em><span>Write a Review</span></a></div>
                    </div>

					<div id="sort-pagination" class="clearfix">
						<div class="sort">
                            {if site_id == '1'}
                                {embed="default_site:form-elements/select-tunnel-locations"}
                            {/if}		
							<span>Sort by:</span>
							<form class="uniform">
								<select id="sort-recent">
									<option value="asc">MOST RECENT</option>
									<option value="desc">OLDEST</option>
								</select>
								<select id="sort-all">
									<option value="">ALL</option>
									<option value="5">5-STAR</option>
									<option value="4">4-STAR</option>
									<option value="3">3-STAR</option>
									<option value="2">2-STAR</option>
									<option value="1">1-STAR</option>
								</select>
							</form>
   							 <input name="search" id="ratingSearch" type="text" class="text" value="Search by Instructor"  size="23"><a href="#" class="btn search"><em></em><span>SEARCH</span></a>
						</div><!-- /.sort -->
   						<div class="pagination">
							<div>
								<a href="#" class="prev ir" title="Previous Page">&lt;</a>
							</div>
							<div class="pages">
								<span class="active"></span> of <span class="total"></span>
							</div>
							<div>
								<a href="#" class="next ir" title="Next Page">&gt;</a>
							</div>
						</div>
					</div><!-- /#sort-pagination -->

					<div id="reviews">
                    
                    </div>
					<p><a href="#" class="btn more"><em></em><span>MORE</span></a></p>
				</section>

			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}

	<script type="text/javascript">
		$(document).ready(function() {
			if($('body.ratings').length>0)
			IFLY.ratingsreviews.init();
			//getParams();
		});
	</script>
</body>
</html>