{embed="default_site:inc/head"}
<body class="video-testimonials info-page one-col testimonials ">

<style>
.channel_photo{
	background-color: black;
	float: left;
	height: 90px;
	margin-left: 10px;
	margin-top: 0px;
	width: 120px;
}

.channel_item{
	/*
	border: solid #b9b9b9 7px;
	border-radius: 5px 5px 5px 5px;
			-moz-border-radius: 5px 5px 5px 5px;
			-webkit-border-radius: 5px 5px 5px 5px;
			-o-border-radius: 5px 5px 5px 5px; */
	background-image: url('../images/botonbottom.png');
	background-repeat: no-repeat;
	cursor: pointer;
	float: left;
	height: 141px;
	margin-left: 9px;
	margin-top: 10px;
	width: 180px;
}

.channel_text{
	color: #000000;
	float: left;
	font-size: 12px;
	height: 90px;
	margin-left: 10px;
	margin-top: 0px;
	width: 120px;
	font-size:14px;

}

.channel_title{
	color: #eeeeee;
	float: left;
	font-size: 12px;
	font-weight: bold;
	height: 36px;
	margin-left: 10px;
	margin-top: 5px;
	width: 120px;

	text-shadow:
		1px 1px 0px rgba(255,255,255,0.4),
		1px 1px 0px rgba(255,255,255,0.4);
	-moz-text-shadow:
		1px 1px 0px rgba(255,255,255,0.4),
		1px 1px 0px rgba(255,255,255,0.4);
	-webkit-text-shadow:
		1px 1px 0px rgba(255,255,255,0.4),
		1px 1px 0px rgba(255,255,255,0.4);
	-o-text-shadow:
		1px 1px 0px rgba(255,255,255,0.4),
		1px 1px 0px rgba(255,255,255,0.4);
}

</style>
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<iframe src="http://testimonials.iflyworld.com>
				</iframe>
				
			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}

</body>
</html>