			<section class="gallery-block">
				<h1>OUR FAVORITE iFLY PHOTOS &amp; VIDEOS</h1>
				<div class="gallery">
					<div class="gholder">
						<a class="btn-prev" href="#">&lt;</a>
						<a class="btn-next" href="#">&gt;</a>
						<div class="gmask">
							<ul>
								<li><a href="/img/img08.jpg"><img src="/img/img08.jpg" width="174" height="105" alt="image description"></a></li>
								<li><a href="/img/img09.jpg"><img src="/img/img09.jpg" width="174" height="105" alt="image description"></a></li>
								<li><a href="/img/img10.jpg"><img src="/img/img10.jpg" width="174" height="105" alt="image description"></a></li>
								<li><a href="/img/img11.jpg"><img src="/img/img11.jpg" width="174" height="105" alt="image description"></a></li>
								<li><a href="/img/img12.jpg"><img src="/img/img12.jpg" width="174" height="105" alt="image description"></a></li>
								<li><a href="/img/img08.jpg"><img src="/img/img08.jpg" width="174" height="105" alt="image description"></a></li>
								<li><a href="/img/img09.jpg"><img src="/img/img09.jpg" width="174" height="105" alt="image description"></a></li>
								<li><a href="/img/img10.jpg"><img src="/img/img10.jpg" width="174" height="105" alt="image description"></a></li>
								<li><a href="/img/img11.jpg"><img src="/img/img11.jpg" width="174" height="105" alt="image description"></a></li>
								<li><a href="/img/img12.jpg"><img src="/img/img12.jpg" width="174" height="105" alt="image description"></a></li>
							</ul>
						</div>
					</div>
				</div>
			</section><!-- /.gallery-block -->