		<header id="header">
			<div class="logo"><a href="/">I Fly indoor skydiving</a></div>
			<div class="logo alt">I Fly indoor skydiving</div>
			<div class="header-block">
				<div class="header-top">
					<nav class="add-nav">
						{exp:navee:nav nav_title="global_nav_tertiary"}
					</nav>
				</div><!-- /.header-top -->
				<div class="header-holder">
					
					<div class="social">
						{exp:navee:nav nav_title="nav_social"}
					</div>
					<form action="#" class="search-form">
						<fieldset>
							<input class="text" type="text" placeholder="SEARCH" />
							<input class="btn-search" type="submit" value="go" />
						</fieldset>
					</form>
				</div>
				<nav id="nav">
					{exp:navee:custom nav_title="global_nav_header" wrap_type="ul"}
						<li id="{id}">
							<a href="{link}">
					   		{if level == "1"}
					   			<span class="ir">{text}</span>
					   		{if:else}
					   			{text}
					   		{/if}
					   		</a>
					   		<div class="drop">{kids}</div>
					   </li>
					{/exp:navee:custom}
				</nav>
			</div><!-- /.header-block -->
		</header>