
{exp:navee:custom nav_title="global_nav_header" wrap_type="ul"}
	<li id="{id}">
		<a href="{link}">
   		{if level == "1"}
   			<span class="ir">{text}</span>
   		{if:else}
   			{text}
   		{/if}
   		</a>
   		{kids}
   </li>
{/exp:navee:custom}

{exp:navee:custom nav_title="global_nav_footer" wrap_type="none"}

      {if level == "1"}   
         <div class="block">
            <h4>{text}</h4>

      {if:else}
         {if is_first_item_on_level}<nav class="footer-list"><ul>{/if}
         <li><a href="{link}">{text}</a></li>
         {if is_last_item_on_level}</ul></nav>{/if}
      {/if}

      {if level == "2" && is_last_item_on_level}
         </div>
      {/if}

   	{kids}
   
{/exp:navee:custom}

{exp:navee:custom nav_title="global_nav_tertiary" wrap_type="ul"}
   <li><a href="{link}">{text}</a></li>
{/exp:navee:custom}