	<div id="progress-indicator" class="gifting">
		<ul>
			<li id="step1">begin</li>
			<li id="step2">details</li>
			<li id="step3">buy a gift card</li>
			<li id="step4">checkout</li>
			<li id="step5">confirmation</li>
		</ul>
	</div>