			<section class="block-section">
				<article class="block">
					<div class="block-holder">
						<img src="/img/img05.jpg" width="313" height="186" alt="image description" class="image">
						<div class="text-block">
							<h2>Book now and get more fly time</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat.</p>
						</div>
						<a href="#" class="btn red"><em></em><span>1 day special offer</span></a>
					</div>
				</article>
				<article class="block">
					<div class="block-holder">
						<img src="/img/img06.jpg" width="313" height="186" alt="image description" class="image">
						<div class="text-block">
							<h2>FIND US ON FACEBOOK</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat.</p>
						</div>
						<a href="#" class="btn red"><em></em><span>ifly on FACEBOOK</span></a>
					</div>
				</article>
				<article class="block">
					<div class="block-holder">
						<img src="/img/img07.jpg" width="313" height="186" alt="image description" class="image">
						<div class="text-block">
							<h2>LOREM IPSUM DOLOR SIT AMIT.</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque feugiat.</p>
						</div>
						<a href="#" class="btn red"><em></em><span>LEARN MORE</span></a>
					</div>
				</article>
			</section><!-- /.block-section -->