{exp:http_header status="404"} 

{embed="default_site:inc/head"}

<body class="info-page one-col 404">
	
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<aside>
					<img src="/images/404.jpg" alt="404 error" class="rounded-corners gradient-border">
				</aside>
				
				<article>
					<h1>404 - Page Not Found</h1>
					<div class="intro">
						<p>We're sorry but the page you are looking for cannot be found. Please go back or navigate to a different area using the navigation above or below this page.</p>
					</div>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
					<p>&nbsp;</p>
				</article>	

			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>