{exp:channel:entries channel="home_page" limit="1" disable="categories|category_fields|member_data|pagination"} 

{embed="default_site:inc/head"}

{if embed:local_site != ''}

<body class="home local {embed:local_site}">

	<div id="city-name">
		<span>{local_identifier}</span>
	</div>

	<div id="skyline"></div>

{if:else}
<body class="home">

	<div id="skyline"></div>

{/if}

	<div id="wrapper">

		{embed="default_site:inc/header"}
		
        <div class="visual-block">
            <div class="visual-holder">
                <ul id="slider">

                	{home_heros site="{site_short_name}"}
                    <li>
                    	{if hero_type == "Video"}

                        <article class="video-block">
                        	<h2>{title}	</h2>
                        	<div class="copy">
                            	{hero_description}
                        	</div>
                            
                            <div class="video">
                            	<a href="#{hero_video}" style=" background-image: url(http://img.youtube.com/vi/{hero_video}/0.jpg)">
                             		<span class="play"><em></em><strong></strong></span>
                            	</a>
                            	{if hero_button_text}<span class="cta">{hero_button_text}</span>{/if}
                            </div>
                        </article>
                        
                        {if:else}
                        
                        <article class="image-block">
                        	<div class="copy">
                        		<h2>{title}	</h2>
                            	{hero_description}
                        	</div>
                            <div class="img">
                            	{hero_image}
                            	<a href="{link}" {if target=="External"}target="_blank"{/if}><img src="{image:main}" width="450" height="300" alt="{title}"></a>
                            	{/hero_image}
                            </div>
                        </article>

                        {/if}

                    </li>
                    {/home_heros}
                            
                </ul><!-- /#slider -->

                {if embed:local_site != ''}
                <div id="city-scape" style="background-image : url({home_local_tunnel_skyline})"></div>
                <div class="menu-block local">
					<nav class="menu">
						<ul>
							{home_heros site="{site_short_name}" limt="4"}
							<li {if count=="1"}class="active"{/if}><a href="#{count}">{hero_tab_link}</a></li>
							{/home_heros}
						</ul>
					</nav>
				</div>
				{if:else}
				<div class="menu-block global">
					<nav class="menu">
						<ul>
							{home_heros site="{site_short_name}" limit="5"}
							<li {if count=="1"}class="active"{/if}><a href="#{count}">{hero_tab_link}</a></li>
							{/home_heros}
						</ul>
					</nav>
				</div>
				{/if}

				<div id="video-modal">
					<div class="video-wrapper">
						<a href="#" class="btn red" title="close" >
						<em></em>
						<span>close</span>
						</a>
						<!-- <a class="btn-prev" href="#">&lt;</a>
						<a class="btn-next" href="#">&gt;</a> -->
						<div class="video-player">
							<div id="yt-player"></div>
						</div>
					</div><!-- /.video-wrapper -->
				</div><!-- /#video-modal -->

			</div>
		
		</div><!-- /.visual-block -->

	</div><!-- /#wrapper -->

	<div id="main" role="main">

		<div class="content-block box-section">

			<div class="box-holder">

				{home_flight_wizard}
				<article class="box">
					<a href="#" class="photo"><img src="{image}" width="184" height="158" alt="{title}"></a>
					<div class="description">
                    	<h1>{title}</h1>
						<p>{desc}</p>
						<form action="#" class="uniform quickbook">
							<fieldset>
                                <div class="row">
                                {embed="default_site:form-elements/select-tunnel-locations"}
                                </div>
								<div class="row">
									<a href="#" class="btn date" id="book-date" title="When do you want to fly" ><em></em><span>FLIGHT DATE</span></a>
                                    <div id="calendar-quickbook"></div>
									{embed="default_site:form-elements/select-how-many-flyers"}
								</div>
								<div class="row">
									{embed="default_site:form-elements/select-flyer-type"}
								</div>
								<div class="row">
									<input type="submit" value="Find Flights" class="find-flights disabled">
									<a href="/flight-info/flyer-guide" class="btn flyer-guide"><em></em><span>MORE INFO</span></a>
								</div>
							</fieldset>
						</form>
					</div>
				</article><!-- /.box -->
				{/home_flight_wizard}

				{if home_which == "Review"}

					{home_feedback_reviews}


					<article class="box alt">
						<a href="{button_link}" class="photo"><img src="{thumbnail}" width="184" height="158" alt="{title}"></a>
						<div class="description">
							<h1>{title}</h1>
							<blockquote id="home-review">
							</blockquote>
							<div class="rating"></div>
							<a href="{button_link}" class="btn red"><em></em><span>{button_text}</span></a>
						</div><!-- /.description -->
					</article><!-- /.box -->
					{/home_feedback_reviews}


				{if:else}

					{home_feedback_video}
						<article class="box alt video-testimonial">
                        	<div class="thumb"></div>
							<div class="description">
								<h1>{title}</h1>
								<blockquote>
									<p>{desc}</p>
								</blockquote>	
								<a href="{button_link}" class="btn red"><em></em><span>{button_text}</span></a>
							</div>
						</article><!-- /.box -->
					{/home_feedback_video}



				{/if}


			</div><!-- /.box-holder -->

		</div><!-- /.box-section -->

		<div class="content-block metal-bg">

			<section class="block-section">
				{home_tiles}
				<article class="block">
					<div class="block-holder">

						{if tile_type == 'Image'}
							<img src="{tile_image:thumb}" class="image" width="313" height="186">
							<div class="text-block">
								<h2>{title}</h2>
								{tile_description}
							</div>
							
							{tile_button}

							<a href="{link}" class="btn red" {if target == "External"} target="_blank"{/if}><em></em><span>{text}</span></a>
							{/tile_button}
							

						{if:elseif tile_type == 'Video'}

  							<iframe src="http://www.youtube.com/embed/{tile_video}?autoplay=0&rel=0&wmode=opaque" width="310" height="186"></iframe>

							<div class="text-block">
								<h2>{title}</h2>
								{tile_description}
							</div>
							
							{tile_button}
							<a href="{link}" class="btn red"><em></em><span>{text}</span></a>
							{/tile_button}
							
						

						{if:elseif tile_type == "iFrame"}
							<iframe src="{tile_iframe_link}" width="310" height="370" scrollbars="auto" border="0"></iframe>


						{if:elseif tile_type == "Calendar"}
							<div class="event-overlay"></div>
	                        <div id="calendar-widget"></div>
	                        <h2>iFLY EVENTS</h2>
	                        <p>Choose a highlighted date above.</p>
						{/if}

					</div>
				</article>

				{/home_tiles}

			</section><!-- /.block-section -->		

			<section class="gallery-block">
				<h1>{home_curated_media_title}</h1>
				<div class="gallery">
					<div class="gholder">
						<a class="btn-prev" href="#">&lt;</a>
						<a class="btn-next" href="#">&gt;</a>
						<div class="gmask">
							<ul>
								{home_curated_media  dynamic="off"}

									{if media_type == "Image"}	
										<li><a href="{gallery_image}" class="img"><img src="{gallery_image:Thumbnail}" width="175" height="105" alt="{title}"></a></li>
									{if:else}
										<li class="video-block">
											<a href="http://www.youtube.com/embed/{gallery_video}?rel=0&amp;wmode=transparent" class="youtube" title="{title}">
                            					<img src="http://img.youtube.com/vi/{gallery_video}/0.jpg" width="175" height="105" alt="{title}">
                            					<span class="play"><em></em><strong></strong></span>
                            				</a>
                            			</li>
									{/if}

								{/home_curated_media}
							</ul>
						</div>
					</div>
				</div>
				<div id="gallery-video-overlay">
					<div class="video-player">
						<div id="gallery-player"></div>
					</div>
				</div>
			</section><!-- /.gallery-block -->

			{embed="default_site:inc/buy-pics-button"}

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{/exp:channel:entries}


	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	{embed="default_site:inc/event-dates"}
	
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.initHome();
		});
	</script>
	


</body>
</html>