{embed="default_site:inc/head"}

<body class="info-page search-results">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<section class=" clearfix">
					
						
					<article>

						<h1>No Search Results</h1>

						<p>Unnfortunately you're search term returned no results. Please use the form below to search again.</p>
						{embed="inc/global-search-form"}
					</article>

					

				</section>
			
			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>