					{exp:low_search:results query="{segment_3}" site="default_site" collection="gift_cards|gifting|pre_flight_checklist|tunnels_other|tunnels|events|flyer_guide|flier_type|tiles|template_one|template_two|legal|search" where="any" search_mode="all" show_expired="yes" show_future_entries="yes" status="open" disable="categories|member_data"}

						{if count == 1}
							<p class="num-results">
						      {if low_search_keywords}Your search <em>{low_search_keywords}</em>.{/if}
						      Total results: <strong>{absolute_results}</strong>.
						    </p>
						{/if}

						{if no_results}
						    <p>
						      Sorry, your query did not return any results.
						      Check your spelling or try a different search term.
						    </p>
						{/if}

						{if channel_short_name == "search"}
							<div class="entry">
						    	<h4>{title}</h4>
						    	<p>{low_search_excerpt} - <a href="{search_link}" title="{title}">READ MORE</a></p>
						  	</div>

						{if:elseif page_url != ''} 
						  	<div class="entry">
						    	<h4>{title}</h4>
						    	<p>{low_search_excerpt} - <a href="{page_url}" title="{title}">READ MORE</a></p>
						  	</div>

						{if:else}

							<div class="entry">
						    	<h4>{title}</h4>
						    	<p>{low_search_excerpt} . .  <a href="{comment_url_title_auto_path}">READ MORE</a></p>
						  	</div>

						{/if}						  

						{/exp:low_search:results}