				<div class="continue">
					<a href="#" class="btn"><em></em><span>Check gift card balance</span></a>
				</div>

				{exp:channel:entries channel="flyer_guide" disable="categories|category_fields|member_data|pagination"} 
					
					<h1 class="underline">{title}</h1>
					{if fg_sub}<h2 class="note">{fg_sub}</h2>{/if}
					{fg_types}

					{switch="<div class="clearfix">|"}				

						<article class="flier-type" data-code="{code}{f_code}{/code}">
							<aside>
								<img src="{image:thumb}"  width="138" height="138" alt="{title}">
							</aside>
							<div>
								<h3>{title}</h3>
								{copy}
								<a href="{link}?code={code site='default_site'}{f_code}{/code}" class="btn green"><em></em><span>{text}</span></a>
							</div>
						</article>

					{switch="|</div>"}

					{/fg_types}
				{/exp:channel:entries}