<div id="progress-indicator">
		<ul>
			<li id="step1">enter redeem code</li>
			<li id="step2">booking details</li>
			<li id="step3">choose a package</li>
			<li id="step4">choose a time</li>
			<li id="step6">checkout</li>
			<li id="step7">confirmation</li>
		</ul>
	</div>