		<script type="text/javascript" src="https://dev.iflyworld.com/js/libs/jquery-ui.min.js"></script>
		<script type="text/javascript" src="https://dev.iflyworld.com/js/libs/swfobject.js"></script>
		<script type="text/javascript" src="https://dev.iflyworld.com/js/libs/jquery.uniform.min.js"></script>
		<script type="text/javascript" src="https://dev.iflyworld.com/js/libs/jquery.colorbox.js" ></script>

		<script type="text/javascript" src="https://dev.iflyworld.com/js/plugins.js" ></script>
		<script type="text/javascript" src="https://dev.iflyworld.com/js/script.js" ></script>
		<script type="text/javascript" src="https://dev.iflyworld.com/js/analyticshandler.js" ></script>
		<script type="text/javascript" src="https://dev.iflyworld.com/js/booking.js"></script>
		<script type="text/javascript" src="https://dev.iflyworld.com/js/ratingsreviews.js"></script>
		<script type="text/javascript" src="https://dev.iflyworld.com/js/photovid.js"></script>
		<script type="text/javascript" src="https://dev.iflyworld.com/js/video-testimonials.js"></script>
        <div id="fb-root"></div>
        <!--<script type="text/javascript" src="https://dev.iflyworld.com/min/?b=js/libs&amp;f=swfobject.js,jquery.uniform.min.js,jquery.colorbox.js"></script>
        <script type="text/javascript" src="https://dev.iflyworld.com/min/?b=js&amp;f=plugins.js,script.js,booking.js,ratingsreviews.js,video-testimonials.js,photovid.js"></script> -->
		<script>
			var fbObj = null;
          window.fbAsyncInit = function() {
            FB.init({
              appId      : '409878702400471', // App ID
              channelUrl : 'www.iflyworld.com/channel.php', // Channel File
              status     : true, // check login status
              cookie     : true, // enable cookies to allow the server to access the session
              xfbml      : true  // parse XFBML
            });
			FB.Event.subscribe('auth.login', function(response) {
				 // window.location.reload();
//				var url = window.location.href;
//				if (url.indexOf('?') > -1){
//					url += '&auth=true'
//				}else{
//					url += '?auth=true'
//				}
//				window.location.href = url;
				console.log('FB.Event.subscribe', response);
				if (response.status=='connected') {
					fbObj = response;
					//IFLY.profile.checkLoginStatus();
					IFLY.profile.facebookInit(fbObj,false);
				}
//				IFLY.profile.checkLoginStatus();
			//	console.log('FACEBOOK LOGGING IN');
			//	IFLY.profile.loginFacebook(false);
				//console.log('FB auth.login: ',response);
			});
			FB.getLoginStatus(function(response) {
				//  {
				//     status: 'connected',
				//     authResponse: {
				//        accessToken: '...',
				//        expiresIn:'...',
				//        signedRequest:'...',
				//        userID:'...'
				//     }
				//  }

				// alert('getLoginStatus: ' + response.status);
				console.log('FB.getLoginStatus', response);
				//IFLY.profile.checkLoginStatus();
				if (response.status=='connected') {

						// disabled by CW 4/11/13 incorrectly popping up when page loads
						// IFLY.profile.loginFacebook(false);

				}
			});

          };
//                           Load the SDK Asynchronously
          (function(d){
             var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
             if (d.getElementById(id)) {return;}
             js = d.createElement('script'); js.id = id; js.async = true;
             js.src = "//connect.facebook.net/en_US/all.js";
             ref.parentNode.insertBefore(js, ref);
           }(document));
        </script>

        		{embed="default_site:inc/tunnel-geo-location"}


