		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/libs/swfobject.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/libs/jquery.uniform.min.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/libs/jquery.colorbox.js" ></script>

		<script type="text/javascript" src="https://www.iflyworld.com/js/plugins.js" ></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/script.js" ></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/booking.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/ratingsreviews.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/video-testimonials.js"></script>
		<script type="text/javascript" src="https://www.iflyworld.com/js/photovid.js"></script>

		<script type="text/javascript">
        
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-33782739-1']);
          _gaq.push(['_setDomainName', '.iflyworld.com']);
          _gaq.push(['_trackPageview']);
        
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        
        </script>        

		{embed="default_site:inc/tunnel-geo-location"}