{embed="default_site:inc/head"}

<body class="info-page events">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<section class=" clearfix">
					
					<aside>
						{embed="default_site:events/calendar" date="{segment_2}"}
                        <div id="legend" class="clearfix">
							<span class="today">Today's Date<em></em></span>
							<span class="event">Event Date<em></em></span>
						</div>
					</aside>
					<article>
						{exp:low_events:entries channel="events" show_expired="yes" show_future_entries="yes" date="{segment_2}"}
						<div class="event">
							<p class="meta">
	  							{if event_date:all_day} 
	  								{event_date:start_date format="%F %j, %Y"} 
	  							{if:elseif !event_date:one_day}
	  								{event_date:start_date format="%F %j, %Y"} ({event_date:start_date format="%F %j, %Y"}) 
	  							{if:else}
	  								{event_date:start_date format="%F %j, %Y"} ({event_date:start_time} - {event_date:end_time})
	  							{/if}
	  						</p>
							<h2>{title}</h2>
							<div class="lede">

							{exp:char_limit total="255"}
								{event_description}
							{/exp:char_limit}
	  						</div>
	  						<p><a href="/events/view/{url_title}">MORE INFO</a></p>
	  					</div>
						{/exp:low_events:entries}
					</article>

					

				</section>

			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>