{embed="default_site:inc/head"}

<body class="info-page events">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<section class=" clearfix">
					
					<aside>
						{embed="default_site:events/calendar"}
                        <div id="legend" class="clearfix">
							<span class="today">Today's Date<em></em></span>
							<span class="event">Event Date<em></em></span>
						</div>
					</aside>	
					
					<article>
						{exp:channel:entries channel="events" show_expired="yes" show_future_entries="yes"}
						

						{if event_media}  
							{event_media}  
								{if video}

									<div class="video-player">
										<iframe width="480" height="360" src="http://www.youtube.com/embed/{video}?autoplay=0&autohide=1&controls=1&wmode=transparent&rel=0" frameborder="0" allowfullscreen></iframe>
									</div>
									
								{if:else}
								
									<div class="video-player">
										<img src="{image:thumb}" width="600" height="340">
									</div>
									
								{/if}
							{/event_media}
						{/if}
						<div class="event">
							<h2>{title}</h2>
							<p class="meta">
	  							{if event_date:all_day} 
	  								{event_date:start_date format="%F %j, %Y"} 
	  							{if:elseif !event_date:one_day}
	  								{event_date:start_date format="%F %j, %Y"} ({event_date:start_date format="%F %j, %Y"}) 
	  							{if:else}
	  								{event_date:start_date format="%F %j, %Y"} ({event_date:start_time} - {event_date:end_time})
	  							{/if}
	  						</p>
	  						{event_description}
	  						{if event_form}
	  							{event_form}
	  						{/if}
	  					</div>
						{/exp:channel:entries}
					</article>

				</section>

			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>