{embed="default_site:inc/head"}
<body class="info-page one-col booking step4">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	{embed="default_site:inc/progress-indicator"}	

	<div id="main" class="step4" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<a class="btn-prev" href="#">&lt;</a>
				<a class="btn-next" href="#">&gt;</a>
				<div class="single-step">
                    {exp:channel:entries channel="booking" site="default_site" disable="categories|category_fields|member_data|pagination" entry_id="41"} 
						<h1  class='underline'>{title}</h1>
					
						<h2 class="note"></h2>
    
                    <div id="calendar-wrapper">
                        <div id="calendar-pickadate"></div>
                        <p>Feel free to change your date.</p>
                    </div>
    
                    <div id="time-picker">
                        <form>
                        
                        </form>
                        {booking_page_copy}
                     {/exp:channel:entries}	       
                    </div><!-- /#time-picker -->
				</div>
			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.booking.init.step4();
		});
	</script>
	
</body>
</html>