{embed="default_site:inc/head"}
<body class="info-page one-col booking step7">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	{embed="default_site:inc/progress-indicator"}

	<div id="main" class="step7" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<div class="continue">
					<a href="#" class="btn print-confirm"><em></em><span>PRINT NOW</span></a>
				</div>

				{exp:channel:entries channel="booking" site="default_site" disable="categories|category_fields|member_data|pagination" entry_id="9"} 
						<h1  class='underline'>{title}</h1>
						{if booking_sub_heading}<h2 class="note">{booking_sub_heading}</h2>{/if}						
				{/exp:channel:entries}	
				
				<div class="confirmation-wrapper">
					<h2 id="res-info" class="confirmation"></h2>
					<div class="actions">
						<a href="#" class="btn facebook"><em></em><span>Share on Facebook</span><div></div></a>
						<br>
						<a href="#" class="btn map-locator iframe"><em></em><span>Map Location</span><div></div></a>
					</div>
					
				</div><!-- /.confirmation-waiver -->
				
				<div class="confirmation-wrapper">

					<h2 class="confirmation">Complete your waiver online<br />to save time.</h2>

					<div class="actions">
						<a href="/legal/waiver" class="btn green waiver"><em></em><span>WAIVER</span></a>
					</div>
					<br />
					<h2 class="confirmation">Email the waiver to other flyers.</h2>
					<form id="email-waiver">
						<fieldset class="send-email">
                           <div class="row"><input type="text" name="email" class="text" value="ENTER EMAIL ADDRESS"><a href="#" class="btn add-email"><em></em><span>ADD ANOTHER</span></a></div>
                        </fieldset>
                        <div class="actions">
                            <input type="submit" value="SEND" class="send">
                        </div>
					</form>

				</div><!-- /.confirmation-waiver -->

				<div class="confirmation-wrapper last">
					<h1>Pre-flight Checklist</h1>

					{exp:channel:entries channel="pre_flight_checklist" limit="1" orderby="entry_id" sort="desc" disable="categories|category_fields|member_data|pagination"} 
						{checklist}						
					{/exp:channel:entries}

				</div><!-- /.confirmation-waiver -->

			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.booking.init.step7();
		});
	</script>
	
</body>
</html>