{embed="default_site:inc/head"}

<body class="info-page one-col booking step2">
    	
	{embed="default_site:inc/header"}

    {embed="default_site:inc/progress-indicator"}

	<div id="main" class="step2" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<a class="btn-prev" href="#">&lt;</a>
				<a class="btn-next disabled" href="#">&gt;</a>
				<div id="step-holder">
                	<div class="single-step">
                        {exp:channel:entries channel="booking" site="default_site" disable="categories|category_fields|member_data|pagination" entry_id="39"} 
                            <h1  class='underline'>{title}</h1>
                            <h2 class="note">{booking_sub_heading}</h2>                     
                        {/exp:channel:entries}
        
                        <div id="booking-details">
                            <div id="calendar-booking"></div>
                            <form action="#" class="uniform tunnel-locator">
                                <fieldset>					
                                    <div class="row">
                                        <a href="#" class="btn date"><em></em><span>FLIGHT DATE</span></a>
                                        {embed="default_site:form-elements/select-flyer-type"}
                                        {embed="default_site:form-elements/select-how-many-flyers"}
                                    </div>
                                </fieldset>
                            </form>
        
                            <article class="tunnel-info">
                                <aside>
                                    <img src="" alt="iFly Location Image">
                                </aside>
                                <div>
                                    <h2></h2>
                                    <ul></ul>
                                    <div class="row">
                                        {embed="default_site:form-elements/select-tunnel-locations"}
                                    </div>
                                    <div class="row">
                                        <a href="#" class="btn map-locator iframe"><em></em><span>Map Location</span><div></div></a>
                                    </div>
                                </div>
                                <div class="next">
                                    <input value="NEXT" type="button" class="next disabled"></input>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>
			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
    {embed="default_site:inc/scripts"}
    {embed="default_site:inc/modals"}
	
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.booking.init.step2();
		});

	</script>
</body>
</html>