{if segment_3!=""} {redirect="home/404"} {/if}

{embed="default_site:inc/head"}

<body class="info-page one-col booking 	gifting step1">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	{embed="default_site:inc/progress-indicator-gifting"}

	<div id="main" class="gifting step1" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<section class=" clearfix">

					{exp:channel:entries channel="gift_cards" site="default_site" entry_id="45" disable="categories|category_fields|member_data|pagination" dynamic="off"}	
					
					<article>
						<h1>{title}</h1>
						{if gift_sub}<h2>{gift_sub}</h2>{/if}
						{gift_copy}
						
						<div class="actions">
						{if gift_button_redeem}
							{gift_button_redeem}
							<p><a href="{link}" class="btn green"><em></em><span>{text}</span></a></p>
							{/gift_button_redeem}
						{/if}
							<p>Or</p>
						{if gift_button_buy}
							{gift_button_buy}
							<p><a href="{link}" class="btn green"><em></em><span>{text}</span></a></p>
							{/gift_button_buy}
						{/if}
						</div><!-- /.actions -->

						<div class="check-balance">
							<h2>{gift_check_balance_copy}</h2>
							<p><a href="#" class="btn green launch"><em></em><span>{gift_modal_link}</span></a></p>
						</div>
					</article>

					{/exp:channel:entries}

				</section>

			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>