{embed="default_site:inc/head"}
<body class="info-page one-col booking gifting step3">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	{embed="default_site:inc/progress-indicator-gifting"}

	<div id="main" class="gifting step3" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<a class="btn-prev" href="#">&lt;</a>
				<a class="btn-next" href="#">&gt;</a>
				<div id="step-holder">
                	<div class="single-step">
				{exp:channel:entries channel="gifting" entry_id="22" site="default_site" disable="categories|category_fields|member_data|pagination"} 
				
				<h1 class='underline'>{title}</h1>
				<div class="intro">
					{if gifting_sub}<h2 class="note">{gifting_sub}</h2>{/if}
					{if gifting_copy}{gifting_copy}{/if}
				</div>
                

				<div class="options">
					<h3>Pick a Package</h3>
					<h3>Or</h3>
					<h3>Dollar Amount</h3>
				</div>

				<div id="packages">

					<table id="rec-packages" class="main">
<!--					<table class="main packages">
						<thead>
							<tr>
								<th>Package</th>
								<th>Description</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="package">Earn Your Wings </td>
								<td class="desc">Earn Your Wings with our most popular first time flyer package. Includes two flights for one person in the wind tunnel. <a href="#" class="tooltip ir" data-title="Title" data-content="This is some content">more info</a></td>
								<td class="price">
									<span>$59.95<em class="asterisk">*</em></span>
									<form action="#" class="uniform tunnel-locator">
										<select name="1" id="quantity">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
										<input type="submit" value="ADD" class="add">
									</form>
								</td>
							</tr>
							<tr>
								<td class="package">Earn Your Wings </td>
								<td class="desc">Earn Your Wings with our most popular first time flyer package. Includes two flights for one person in the wind tunnel. <a href="#" class="tooltip ir" data-title="Title" data-content="This is some content">more info</a></td>
								<td class="price">
									<span>$59.95<em class="asterisk">*</em></span>
									<form action="#" class="uniform tunnel-locator">
										<select name="1" id="quantity">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
										<input type="submit" value="ADD" class="add">
									</form>
								</td>
							</tr>
							<tr>
								<td class="package">Earn Your Wings </td>
								<td class="desc">Earn Your Wings with our most popular first time flyer package. Includes two flights for one person in the wind tunnel. <a href="#" class="tooltip ir" data-title="Title" data-content="This is some content">more info</a></td>
								<td class="price">
									<span>$59.95<em class="asterisk">*</em></span>
									<form action="#" class="uniform tunnel-locator">
										<select name="1" id="quantity">
											<option>1</option>
											<option>2</option>
											<option>3</option>
										</select>
										<input type="submit" value="ADD" class="add">
									</form>
								</td>
							</tr>
						</tbody>
-->					</table>
					<div class="legal">
						{gifting_legal}
					</div>

					{/exp:channel:entries}

				</div> <!-- /#packages -->


				<form class="uniform amount">
					<div class="row">
						<input type="radio" name="amount" value="100" class="large">
						<label>$100</label>
					</div>
					<div class="row">
						<input type="radio" name="amount" value="200" class="large">
						<label>$200</label>
					</div>
					<div class="row">
						<input type="radio" name="amount" value="300" class="large">
						<label>$300</label>
					</div>
					<div class="row">
						<input type="radio" name="amount" value="400" class="large">
						<label>$400</label>
					</div>
					<div class="row">
						<input type="radio" name="amount" value="" class="large variable">
						<input type="text" name="amount" class="text amount other" value="other amount">
						
					</div>
					<input type="submit" value="Purchase Gift Card" class="purchase">
				</form>

			</div><!-- /.content-wrapper -->
            </div>
            </div>
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.booking.init.step3gifting();
		});
	</script>
	
</body>
</html>