{if segment_3!=""} {redirect="home/404"} {/if}
{embed="default_site:inc/head"}
<body class="info-page one-col booking gifting redeem">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	{embed="default_site:inc/progress-indicator-gifting-redeem.php"}

	<div id="main" class="gifting redeem" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<a class="btn-prev" href="#">&lt;</a>
				<a class="btn-next" href="#">&gt;</a>

				{exp:channel:entries channel="gifting" entry_id="44" site="default_site" disable="categories|category_fields|member_data|pagination"} 
				
				<h1 class='underline'>{title}</h1>
				<div class="intro">
					{if gifting_sub}<h2 class="note">{gifting_sub}</h2>{/if}
					{if gifting_copy}{gifting_copy}{/if}
				</div>

				<form id="redeem" class="uniform">
					<input type="text" class="text" name="voucher_number" value="ENTER YOUR 16 DIGIT GIFT CODE">
					<input type="submit" value="Purchase Gift Card" class="submit green">
				</form>

				<div id="redeem-examples">
					<p>Examples</p>
					{gifting_examples}
					<img src="{image}">
					{/gifting_examples}
				</div>

				{/exp:channel:entries}

			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>