{if segment_3!=""} {redirect="home/404"} {/if}
{embed="default_site:inc/head"}
	{if site_id != '1'}
        <body class="info-page tunnel-locator local">
	  	{embed="default_site:inc/local-identifier"}

	{if:else}
        <body class="info-page tunnel-locator">

    {/if}
    
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">
               	<div id="tunnel-booking"></div>

			{exp:channel:entries channel="find_location" limit="1" site="default_site" disable="categories|category_fields|member_data|pagination" dynamic="off" require_entry="yes"}

				{if no_results}{redirect="home/404"}{/if}  

				<h1 class="underline">{title}</h1>
				{if location_sub_heading}<h2 class="note">{location_sub_heading}</h2>{/if}
				<div class="tunnel-sort">
				{participating_tunnels site="default_site"}

				<section class="clearfix">
					
					<aside>
						<img src="{tunnel_thumbnail_image:thumb}" width="185" height="158" alt="{title}">
					</aside>

					<article data-latlong="{tunnel_latitude},{tunnel_longitude}">
						<h3>{title}</h3>
						<p>{tunnel_brief_description}</p>
						<p>Hours: {tunnel_hours}</p>
						<p>Phone: {tunnel_contact_phone}</p>
						<p>Location: {tunnel_address}{add1}{if add2}, {add2}{/if}, {city}, {state} {zip}{/tunnel_address}</p>
						<div class="buttons">
							<a href="{tunnel_google_map}" class="btn map-locator iframe"><em></em><span>Map Location</span><div></div></a>
							<a href="{tunnel_more_info_link}" class="btn"><em></em><span>More Info</span></a>
						</div>
						<form action="#" class="uniform tunnel-locator">
							<fieldset>
								<div class="row">
									<a href="#" class="btn date"><em></em><span>FLIGHT DATE</span></a>
									{embed="default_site:form-elements/select-flyer-type"}
									{embed="default_site:form-elements/select-how-many-flyers"}
									<input type="submit" value="Find Flights" class="find-flights">
								</div>
							</fieldset>
						</form>
					</article>
				</section>
				
				{/participating_tunnels}
				{non_participating_tunnels site="default_site"}
				
				{if count == "1"}
					<section class="extra clearfix">
				{if:elseif count == total_results}
					<section class="last clearfix">
				{if:else}
					<section class="clearfix">
				{/if}
					
					<aside>
						<img src="{t_image:thumb}" width="185" height="158" alt="{title}" />
					</aside>

					<article data-latlong="{t_latitude},{t_longitude}">
						<h3>{title}</h3>
						<p>{t_descriptor}</p>
						<p>Hours:{t_hours}</p>
						<p>Phone: {t_phone}</p>
						<p>Location: {t_address}</p>
						<p><a href="{t_web_link}" title="More Info" class="more-info">MORE INFO</a></p>
					</article>
				</section>

				{/non_participating_tunnels}
            </div>

			{/exp:channel:entries}
			
			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.findLocation.tunnelLocatorBookingInit();
		});
	</script>

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>