{embed="default_site:inc/head"}

<body class="info-page one-col">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<section class=" clearfix">

					{exp:channel:entries channel="template_one" limit="1" disable="categories|category_fields|member_data|pagination"}	

					
					<aside>

						<div class="video-wrapper">
						
							<a class="btn-prev" href="#">&lt;</a>
							<a class="btn-next" href="#">&gt;</a>
						
								<ul id="slider">
		                    	
		                    	{if info_image}
		                    		{info_image}
		                    			<li><img src="{url:thumb}" alt="{title}"></li>
		                    		{/info_image}
		                    	{if:elseif info_video}
		                    		{info_video}
		                    			<li>
		                    				<iframe width="480" height="360" src="http://www.youtube.com/embed/{video}?autoplay=0&autohide=1&controls=1&wmode=transparent" frameborder="0" allowfullscreen></iframe>
		                    			</li>
		                    		{/info_video}
		                    		{if info_iframe}
										<iframe src="{info_iframe}" width="600" height="400"></iframe>
									{/if}
				
		                		{/if}
		                    		
		                    	</ul><!-- /#slider -->

		                    </div>
						
					</aside>	
			
					
					<article>
						<h1>{title}</h1>
						{info_copy}
						{info_form}
					</article>

					{/exp:channel:entries}

				</section>

			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>