{if segment_3!=""} {redirect="home/404"} {/if}
{embed="default_site:inc/head"}
<body class="info-page booking step1">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				{embed="default_site:inc/flyer-guide"}

			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.booking.init.step1();
		});

	</script>
	
</body>
</html>