{if segment_3!=""} {redirect="home/404"} {/if}
{embed="default_site:inc/head"}
<body class="photo-video curated info-page">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">
			<div class="content-wrapper clearfix">

				<section class=" clearfix">
                {exp:channel:entries channel="curated_landing" limit="1" disable="categories|category_fields|member_data|pagination"}
                    
			         <h1>{title}</h1>
                     {if curated_sub}<h2>{curated_sub}</h2>{/if}
                 {/exp:channel:entries}
                 
                    <div class="row media-toggle">
                        <a href="javascript:void(0);" class="btn photo-toggle red"><em></em><span>PHOTOS</span></a>
                        <a href="javascript:void(0);" class="btn video-toggle"><em></em><span>VIDEOS</span></a> 
                        <div class="paginate">
                            <a class="previous" href="javascript:void(0);">previous</a><span>1 of 4</span>
                            <a class="next" href="javascript:void(0);">next</a>
                        </div>
                    </div>

    			</section>

                <div class="grid-holder">
                    <div id="grid-photo">
                        {exp:channel:entries channel="curated_media" search:media_type="Image" disable="categories|category_fields|member_data|pagination"} 
                            <div class="item image">
                                <a href="{gallery_image}"><img src="{gallery_image:Thumbnail}" class="gradient-border drop-shadow rounded-corners"></a>
                            </div>
                        {/exp:channel:entries}
                    </div>
                    <div id="grid-video">
                        {exp:channel:entries channel="curated_media" search:media_type="Video" disable="categories|category_fields|member_data|pagination"} 
                        <div class="video-block">
                            <a href="http://www.youtube.com/embed/{gallery_video}?rel=0&amp;wmode=transparent" class="youtube" title="{title}">
                                <img src="http://img.youtube.com/vi/{gallery_video}/0.jpg" width="175" height="105" alt="{title}">
                                <span class="play"><em></em><strong></strong></span>
                            </a>
                        </div>
                        {/exp:channel:entries}
                    </div>
                </div><!-- /.grid-holder -->

                <div class="footer-nav">
                    <div class="paginate">
                        <a class="previous" href="javascript:void(0);">previous</a><span>1 of 4</span><a class="next" href="javascript:void(0);">next</a>
                    </div>
                </div>
            </div><!-- /.content-wrapper -->
            
			{embed="default_site:inc/buy-pics-button"}
            
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
    {embed="default_site:inc/scripts"}
    {embed="default_site:inc/modals"}
	
</body>
</html>