{if segment_3!=""} {redirect="home/404"} {/if}
{embed="default_site:inc/head"}
<body class="info-page booking step1">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">
	
		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				{exp:channel:entries channel="flier_type" limit="1" disable="categories|category_fields|member_data|pagination" require_entry="yes"}

							{if no_results}{redirect="home/404"}{/if} 

				
				<section class=" clearfix">

						<?php
							if ( isset($_REQUEST['thanks']) ) :
						?>

                        <div id="thanks">
                            {if flier_form_thanks != ''}
                                {flier_form_thanks}
                            {if:else}
                                <p>Default thank you message.</p>
                            {/if}
                        </div>	

						<?php
							endif;
						?>

					{if flier_detail_media}



					<div class="visual-block">
                    
                        <div class="visual-holder">

							{flier_detail_media}   	

                               	{if total_rows > 1}

									{if row_count == 1}	

									<div class="video-wrapper">
									
										<ul id="slider">
	                    	
	                				{/if}

	                    			{if image}
									
										<div class="video-player">
											<img src="{image:main}" width="600" height="340">
										</div>
										
									{if:else}
									
										<div class="video-player">
											<iframe width="480" height="360" src="http://www.youtube.com/embed/{video}?autoplay=0&autohide=1&controls=1&wmode=transparent&rel=0" frameborder="0" allowfullscreen></iframe>
										</div>
										
									{/if}
		                    
		                    		{if row_count == total_rows}
	                    				
	                    				</ul><!-- /#slider -->

	                    			</div><!-- /.video-wrapper -->

	                				{/if}		                		

	                			{if:else}

	                			
	                				{if image}
										<div class="video-wrapper">
										<div class="video-player">
											<img src="{image}">
										</div>
										</div>
										
									{if:else}
										<div class="video-wrapper">
										<div class="video-player">
											<iframe width="480" height="360" src="http://www.youtube.com/embed/{video}?autoplay=0&autohide=1&controls=1&wmode=transparent&rel=0" frameborder="0" allowfullscreen></iframe>
										</div>
										</div>
										
									{/if}

		                		{/if}

                            {/flier_detail_media} 
                               

						</div><!-- /.visual-holder -->
					
					</div><!-- /.visual-block -->

					{/if}

					<article>
						<h1>{title}</h1>

                        
						{flier_detail_copy}
						<br />
                        {if site_id == '1'}
                        <div class="row">
                        	<p class="tunnel-prompt">Pick your flight location</p>
                            {embed="default_site:form-elements/select-tunnel-locations"}
                        </div>
                        {/if}
                        <div class="packages"></div>
    					{flier_form}
					</article>

				</section>

				{/exp:channel:entries}

			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	<script type="text/javascript">
		$(document).ready(function() {
			IFLY.booking.init.step1();
		});

	</script>
	
	
</body>
</html>