                article.event-tile {
                    height:342px;
                }
				article.event-tile div.block-holder{
					padding-top: 20px;
					height: 308px;
					border-radius: 3px;
					-webkit-border-radius: 3px;
				}
				article.event-tile div.block-holder p{
					padding-bottom: 50px;
				}
                div.event-overlay {
                    z-index: 2;
                }
				div.event-overlay a {
					color:#000;
					text-decoration:underline;
				}
				div.event-overlay a:hover {
					text-decoration:none;
				}
			    div.event-overlay h2 {
				    padding-top:20px;
					font-size:20px; 
				 	text-transform:none;
					color: #000;  
			    }
				div.event-overlay p {
                    font-size:11px;
					padding:0px;
					margin:0px;
			   }
			
                div.event-overlay {
                    position:absolute;
                    display:none;
                    clear:none;
                    width: 281px;
					height: 318px;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
					background: rgb(255, 255, 255); /* The Fallback */
					background: rgba(255, 255, 255, 0.95);
                    padding:12px 16px 12px 16px;
                    margin:-20px 0px 0px;
					overflow:hidden;
                    font-family:Helvetica, Arial, sans-serif;
					color:#000;
					text-align:left;
               }
				div.event-overlay a.closeButton {
                    background:transparent url(/images/calendar_sprite.png) no-repeat top right;
                    height:19px;
                    width:19px;	
                    text-indent:-10000px;
                    float:right;
					clear:both;
					position:relative;
					overflow:hidden;
				}
				
                #calendar-widget, #event-widget, #calendar-booking {
                    font-family:Lucida Sans,"Lucida Sans Unicode", "Lucida Grande", sans-serif;
                    font-size:11px;
                    margin:0px auto 15px;
                    width: 216px;
                    /*height: 194px;*/
                    -webkit-box-shadow:5px 2px 8px #000;
                    -moz-box-shadow:5px 2px 8px #000;
                    box-shadow:5px 2px 8px #000;
                    -webkit-border-radius: 5px;
                    -moz-border-radius: 5px;
                    border-radius: 5px;
                    overflow:visible;
                    background-image: linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
                    background-image: -o-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
                    background-image: -moz-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
                    background-image: -webkit-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
                    background-image: -ms-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
                    
                    background-image: -webkit-gradient(
                        linear,
                        left top,
                        left bottom,
                        color-stop(0.6, rgb(255,255,255)),
                        color-stop(0.9, rgb(240,240,240))
                    );
                }
                #calendar-widget a, #event-widget a, #calendar-booking a, #calendar-pickadate a {
                    text-decoration:none;
                    color:#858585;
                }
                #calendar-widget table.ui-datepicker-calendar, #event-widget table.ui-datepicker-calendar, #calendar-booking table.ui-datepicker-calendar, #calendar-pickadate table.ui-datepicker-calendar {
                    text-align: center;
                    display: inline-table;
                    margin: 0px auto;
                    padding: 0px 0px 5px;
                    width: 100%;
                    height: 150px;
                    border-spacing: 1px 0px;
                }
                #calendar-widget table.ui-datepicker-calendar thead, #event-widget table.ui-datepicker-calendar thead, #calendar-booking table.ui-datepicker-calendar thead, #calendar-pickadate table.ui-datepicker-calendar thead {
                    background-color:#f2f2f2;
                }
                #calendar-widget table.ui-datepicker-calendar th, #event-widget table.ui-datepicker-calendar th, #calendar-booking table.ui-datepicker-calendar th, #calendar-pickadate table.ui-datepicker-calendar th {
                    font-weight:normal;
                    color:#858585;
                    padding:3px 0px;
                }
                #calendar-widget table.ui-datepicker-calendar tbody td, #event-widget table.ui-datepicker-calendar tbody td, #calendar-booking table.ui-datepicker-calendar tbody td, #calendar-pickadate table.ui-datepicker-calendar tbody td{
                    border-right:1px solid #FFF;
                }
				#calendar-widget table.ui-datepicker-calendar tbody td:last-child, #event-widget table.ui-datepicker-calendar tbody td:last-child, #calendar-booking table.ui-datepicker-calendar tbody td:last-child, #calendar-pickadate table.ui-datepicker-calendar tbody td:last-child {
					border-right:none;
				}
                #calendar-widget div.ui-datepicker-header, #event-widget div.ui-datepicker-header, #calendar-booking div.ui-datepicker-header, #calendar-pickadate div.ui-datepicker-header {
                    height: 32px;
                    background-color: #0D83FC;
                    padding: 6px 6px 0px 6px;
                    -webkit-border-radius: 5px 5px 0px 0px;
                    -moz-border-radius: 5px 5px 0px 0px;
                    border-radius: 5px 5px 0px 0px;
                }
                #calendar-widget a.ui-datepicker-next, #event-widget a.ui-datepicker-next, #calendar-booking a.ui-datepicker-next, #calendar-pickadate a.ui-datepicker-next {
                    float:right;
                }
                #calendar-widget div.ui-datepicker-title, #event-widget div.ui-datepicker-title, #calendar-booking div.ui-datepicker-title, #calendar-pickadate div.ui-datepicker-title {
                    width:100%;
                    color:#FFF;
                    display: compact;
                    clear:none;
                    text-align:center;
                    margin:0px auto;
                    padding: 5px 0px 0px;
                }
                #calendar-widget a.ui-datepicker-prev.ui-corner-all, a.ui-datepicker-next.ui-corner-all, #event-widget a.ui-datepicker-prev.ui-corner-all, #calendar-booking a.ui-datepicker-prev.ui-corner-all, #calendar-pickadate a.ui-datepicker-prev.ui-corner-all {
                    height:19px;
                    width:19px;	
                    margin: 4px 0px 0px;
                    overflow:hidden;
                    background:transparent url(/images/calendar_sprite.png) no-repeat top left;
                    text-indent:-10000px;
                    float:left;
                }
                #calendar-widget a.ui-datepicker-next.ui-corner-all, #event-widget a.ui-datepicker-next.ui-corner-all, #calendar-booking a.ui-datepicker-next.ui-corner-all, #calendar-pickadate a.ui-datepicker-next.ui-corner-all {
                    background-position:-19px 0px;
                    float:right;
                }
                /* Individual day styles */
                #calendar-widget a.ui-state-active, #event-widget a.ui-state-active, #calendar-booking a.ui-state-active, #calendar-pickadate a.ui-state-active {
                    color:#FFFFFF;
                    
                }
                #calendar-widget td.ui-datepicker-current-day, #event-widget td.ui-datepicker-current-day, #calendar-booking td.ui-datepicker-current-day, #calendar-pickadate td.ui-datepicker-current-day{
                    background-color:#aaa;
                }
                #calendar-widget td.highlight, #event-widget td.highlight, #calendar-booking td.highlight, #calendar-pickadate td.highlight{
                    background-color:#0d3798;
                }
                #calendar-widget td.highlight a, #event-widget td.highlight a, #calendar-booking td.highlight a, #calendar-pickadate td.highlight a{
                    color:#FFFFFF;
                }
				#calendar-quickbook, #calendar-booking, #calendar-pickadate {
					position:absolute;
					z-index:5;	
					font-family:Lucida Sans,"Lucida Sans Unicode", "Lucida Grande", sans-serif;
					font-size:11px;
					margin:0px auto 15px;
					width: 216px;
					/*height: 194px;*/
					-webkit-box-shadow:5px 2px 8px #000;
					-moz-box-shadow:5px 2px 8px #000;
					box-shadow:5px 2px 8px #000;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
					border-radius: 5px;
					overflow:visible;
					background-image: linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
					background-image: -o-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
					background-image: -moz-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
					background-image: -webkit-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
					background-image: -ms-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
					
					background-image: -webkit-gradient(
						linear,
						left top,
						left bottom,
						color-stop(0.6, rgb(255,255,255)),
						color-stop(0.9, rgb(240,240,240))
					);
			}
#calendar-pickadate {
	position:relative;
}
#calendar-quickbook {
	display:none;
	top: 3px;
	left: 9px;
}
#calendar-booking {
	/*display:none;*/
	top: 218px;
	left: 210px;
	}

#calendar-quickbook a {
	text-decoration:none;
	color:#858585;
}
table.ui-datepicker-calendar {
	text-align: center;
	display: inline-table;
	margin: 0px auto;
	padding: 0px 0px 5px;
	width: 100%;
	height: 150px;
	border-spacing: 1px 0px;
}
table.ui-datepicker-calendar thead{
	background-color:#f2f2f2;
}
table.ui-datepicker-calendar th{
	font-weight:normal;
	color:#858585;
	padding:3px 0px;
}
table.ui-datepicker-calendar tbody td{
	border-right:1px solid #FFF;
}
div.ui-datepicker-header {
	height: 32px;
	background-color: #0D83FC;
	padding: 6px 6px 0px 6px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
a.ui-datepicker-next {
	float:right;
}
div.ui-datepicker-title {
	width:100%;
	color:#FFF;
	display: compact;
	clear:none;
	text-align:center;
	margin:0px auto;
	padding: 5px 0px 0px;
}
a.ui-datepicker-prev.ui-corner-all, a.ui-datepicker-next.ui-corner-all {
	height:19px;
	width:19px;	
	margin: 4px 0px 0px;
	overflow:hidden;
	background:transparent url(../images/calendar_sprite.png) no-repeat top left;
	text-indent:-10000px;
	float:left;
}
a.ui-datepicker-next.ui-corner-all {
	background-position:-19px 0px;
	float:right;
}
/* Individual day styles */
#calendar-quickbook a.ui-state-active, #calendar-booking a.ui-state-active {
	color:#FFFFFF;
	
}
#calendar-quickbook td.ui-datepicker-current-day{
	background-color:#aaa;
}
#calendar-quickbook td.highlight{
	background-color:#0d3798;
}
#calendar-quickbook td.highlight a{
	color:#FFFFFF;
}
.ui-datepicker-buttonpane {
	margin:0 auto;
	text-align:center;	
}
.ui-datepicker-unselectable.ui-state-disabled {
	color: #DEDEDE;
}