/* Home page hero background */
body.local #skyline{
	width:100%;
	height : 544px;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	background: #020a3d url(/images/local-home-static-cloud.jpg) no-repeat 50% 0;
	background-size:100% auto;
}

/* City Name */

body.local.seattle #city-name {
	width : 100%;
	z-index: 10;
	position: absolute;
}
body.local.seattle #city-name span {
	width: 250px;
	height : 38px;
	margin : 0 auto;
	text-indent: -999em;
	display: block;	
	background : transparent url(/images/local-seattle.png) 0 0 no-repeat;
}

/* Hero Area */
body.local.seattle #city-scape {
	width: 220px;
	height : 112px;
	float: left;
	margin-bottom: -43px;
	background : transparent url(/images/local-seattle.png) 0 100% no-repeat;
}
body.local .menu {
	width: 735px;
	float: right;
}
body.local .menu li{
	padding:8px 16px;
}
body.local .menu ul {
	padding : 9px 0 0 0;
}

body.local.seattle .visual-block .static-image {
	position: absolute;
	display: inline-block;
	background: transparent;
	clear: none;
	top: 0px;
	/*border: 3px solid #979696;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.2);
	-webkdit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.2);*/
	right: 20px;
}
.visual-block .image-block {
	width: 500px;
	padding: 0 0 0 24px;
	font: 12px/14px Helvetica, Arial, sans-serif;
	color: #FEFEFE;
	position: relative;
	z-index: 2;
}