
/**************************************************************************
HOME PAGE
***************************************************************************/
.content-block.box-section{
	padding : 0;
	background:#00010a url(/images/bg-box-section.jpg) 50% 0;
	background-size: 100% 100%;
}
.box-holder{
	max-width: 950px;
	padding: 15px 0px 2px 0;
	margin:0 auto;
	overflow:hidden;
	text-align:center;
	background:url(/images/sep-box-section.gif) no-repeat 50% 50%;
}
.box-holder .box{
	width :50%;
	color:#fff;
	float : left;
	text-align:left;
	vertical-align:top;
	display:inline-block;
	
}

.box-holder .box p{
	margin:0 0 8px;clear: both;
}
.box-holder .photo{
	float:left;
	margin-right: 20px;
	border:1px solid #9197aa;
	border-radius:1px;
	-webkit-border-radius:1px;
}
.box-holder .alt .photo{
	margin:0 15px 0 30px;
}
.box-holder .photo img{
	vertical-align:top;
}
.box-holder .description{
	max-width:242px;
	float:left;
	position: relative;
}
.box-holder .description h1 {
	text-align: left;
	line-height: 1em;
	margin-bottom: 0px;
}
.box-holder .description .row {
	margin-bottom: 4px;
	float : left;
}
.box-holder .alt .description{
	overflow:hidden;
	padding: 0 0 1px 0;
}
.box-holder .description div.rating {
	margin: 2px 0 5px 0;
}
.btn.date {
	float : left;
	min-width: 105px;
}
.btn.locations {
	width : 28px;
	height: 34px;
	margin:-5px 0 0 10px;
	z-index:5;
}
.btn.locations strong{
	display: inline-block;
	width: 100%;
	height: 16px;
	background: #3e3f45 url(/images/sprite-general.png) no-repeat 11px -59px;
}
.header-block h1{
	margin:0;
	float:left;
	font:27px/29px Helvetica, Arial, sans-serif;
	color:#fff;
}
.header-block h1{
	margin:0 0 3px;
}

.tunnel-locator .row{
	width:100%;
	overflow:hidden;
	margin:0 0 3px;
}
body.booking .tunnel-locator .row {
	overflow:visible;
}

.tunnel-locator select{
	float:left;
	width:130px;
	margin:9px 0;
}
.tunnel-locator select.flyers{width:172px;}
.box .header-block{
	overflow:hidden;
	float:none;
}
.box blockquote{
	font:italic 17px/21px Helvetica, Arial, sans-serif;
	color:#fff;
	margin:0;
}
.box blockquote .more{
	color:#fff;
	font-size:12px;
	font-style:normal;
	text-decoration:underline;
}
.box blockquote .more:hover{text-decoration:none;color:#C7262D;}
.box blockquote cite{
	display:block;
	font:12px/18px Helvetica, Arial, sans-serif;
	margin:-1px 0 2px;
}

.box .star-block{
	overflow:hidden;
	margin:0 0 5px;
}
.box .star{display:inline-block;}
.box .star img{vertical-align:top;}


.block-section{
	text-align:center;
	max-width:1000px;
	margin:0 auto;
	padding:40px 0 43px;
}
.block-section .block{
	vertical-align:top;
	display:inline-block;
	margin:0 2px;
	width:313px;
	border:3px solid transparent;
	text-align:center;
	border-radius:6px;
	-webkit-border-radius:6px;
	color:#fff;
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.6);
	background-image: linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -o-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(180,182,191)),
        color-stop(0.53, rgb(255,255,255)),
        color-stop(1, rgb(172,175,189))
    );
}
.block-section .block-holder{
	background:url(/images/bg-block.jpg) repeat-y;
	border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	width:100%;
	padding:0 0 14px;
	height: 360px;
}
.block .image{
	display:inline-block;
	margin:0 0 9px;
}
.block .image img{
	display:block;
	border-radius:3px 3px 0 0;
	-webkit-border-radius:3px 3px 0 0;
}
.block .text-block{
	padding:0 30px 5px;
	min-height:120px;
}
.block h2{
	margin:0 0 1px;
	text-transform:uppercase;
	font:bold 20px/25px Helvetica, Arial, sans-serif;
}
.block p{margin:0;}


/**************************************************************************
INFO PAGE
***************************************************************************/
body.info-page {
	background: #051230 url(/images/bg-page-metallic.jpg) 50% 0 repeat-y;
	background-size:100% 100%;
}
body.info-page .content-wrapper{
	width : 925px;
	margin : 0 auto;
	padding : 10px;
	border : 3px transparent;
	background : #051230 url(/images/bg-content-sky.jpg) 50% 0 repeat-y;
	border : 3px solid #b1b3bc;
	position: relative;
}
body.info-page article p {
	color : #fff;
	margin : 0 0 13px 0;
	padding-top:0px;
	/*font: 100 140%/160% Helvetica, Arial, sans-serif;*/
}
body.info-page h1,
body.info-page h2 {
	margin-bottom: 1em;
	text-align: center;
}
body.info-page .intro {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
body.info-page .intro p {
	font-size: 17px;
	line-height: 22px;
}
/**************************************************************************
TWO COLUMN
***************************************************************************/
body.two-col .content-wrapper{
	width : 925px;
	margin : 0 auto;
	padding : 10px;
	border : 3px transparent;
	border : 3px solid #b1b3bc;
	background : #0E4DA1 url(/images/bg-content-sky.jpg) 50% 0 repeat-y;
}

body.two-col section {
	margin : 0 0 20px 0;	
}
body.two-col article {
	float : right;
	width : 62%;
	clear : left;
	padding-top: 2.50%;
}

body.two-col aside {
	float : left;
}

/**************************************************************************
ONE COLUMN
***************************************************************************/

body.one-col h1, body.photo-video h1 {
	padding:  15px inherit 15px;
	background: transparent url(/images/header-underline.png) 50% 100% no-repeat;
}

body.one-col .content-block {
	padding : 0px 0 40px 0;
}
body.one-col section {
	padding : 0 40px;
	margin : 0 0 20px 0;	
}
body.one-col article {
	margin : 20px 0 0 0;
}
body.one-col aside{
	text-align : center;
}

/**************************************************************************
ONE COLUMN FORM
***************************************************************************/
body.one-col.form h4:first-child {
	margin-bottom : 40px;
}
body.one-col.form article p.first{
	margin-bottom: 50px;
}
body.one-col.form article p.second{
	margin-bottom: 20px;
}
body.one-col.form article dd,
body.one-col.form article dt,
body.one-col.form article label {
	color : #fff;
	margin: 0;
	font-size : 17px;
	line-height:30px;
	display: block;
}
body.one-col.form h2 {
	padding:0px 0px 40px;
	text-align:center;	
}
body.one-col.form article form {
	margin-top: 30px;
}
body.one-col.form .row {
	margin-bottom: 20px;
}
body.photo-video form.find-photovid input[type=text] {
	display: inline-block;
	margin-top: 3px;
	vertical-align: top;
}

body.one-col.form article input[type=submit]{
	text-indent: -999em;
	width : 73px;
	height: 37px;
	border : none;
	background : transparent url(/images/sprite-form.png) 0 -59px no-repeat;
}


/**************************************************************************
TUNNEL LOCATOR
***************************************************************************/
body.tunnel-locator div.sort{
	margin-bottom: 40px;
	position: relative;
	float: right;
}
body.tunnel-locator div.buttons{
	margin: 5px 0;
}
body.tunnel-locator section {
	padding-bottom : 10px;
	margin-bottom : 15px;
	border-bottom : 1px solid #9b9b9b;
}
body.tunnel-locator section.extra{
	border : none;
}
body.tunnel-locator section.last{
	border : none;
	margin : 0;
}
body.tunnel-locator aside {
	float : left;
}
body.tunnel-locator aside img {
	border : 1px solid #9b9b9b;
}
body.tunnel-locator article {
	float : right;
	width : 78%;
}

body.tunnel-locator article h2{
	line-height: 1em;
}
h2.note {
	text-align: center;
	padding-bottom: 55px;	
}
body.booking h2.note {
	padding-bottom: 25px;
	text-transform:none;	
}
body.tunnel-locator article p{
	/*font-size : 100%;*/
	margin : 0;
}
body.tunnel-locator .btn.green {
	/*margin-left : 10px;*/
	margin-left: 23px;
	margin-top: 0px;
}

body.tunnel-locator a.more-info {
	border-bottom : 1px solid #404144;
}
body.tunnel-locator a.more-info:hover {
	text-decoration: none;
	border-bottom : 1px solid #fff;
}	


/**************************************************************************
BOOKING FLOW
***************************************************************************/

/* INDICATOR */

body.booking #progress-indicator {
	width : 870px;
	height : 43px;
	margin : -13px auto 10px auto;
	background : url(/images/booking-sprite.png) -6px -4px;
}
body.booking #progress-indicator.gifting {
	width : 574px;
	background : url(/images/booking-sprite.png) -3px -262px;
}
body.booking #progress-indicator ul {
	padding: 17px 0 0 7px;	
}
body.booking #progress-indicator.gifting ul {
	padding-left: 30px;	
}
body.booking #progress-indicator li {
	float: left;
	line-height: 13px;
	color: #8F8F90;
	padding: 0 26px 0 0;
	list-style-type: none;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	margin: 0 0px 0 4px;
	background: url(/images/booking-sprite.png) right -65px;
	text-transform: uppercase;
	font: bold 13px/14px Helvetica, Arial, sans-serif;
}

body.booking.step1 #progress-indicator li#step1,
body.booking.step2 #progress-indicator li#step2,
body.booking.step3 #progress-indicator li#step3,
body.booking.step4 #progress-indicator li#step4,
body.booking.step5 #progress-indicator li#step5,
body.booking.step6 #progress-indicator li#step6,
body.booking.step7 #progress-indicator li#step7 {
	color : #0f3ea1;
	background-position: right -87px;
}
body.booking #progress-indicator li#step5 {
	/*background : none;*/
}
body.booking #progress-indicator li#step7,
body.booking #progress-indicator.gifting li#step5 {
	padding-right : 0;
	margin-right : 0;
	background : none;
}

/********************************** SHARED ************************/
body.booking .content-wrapper {
	width: 905px;
	padding : 20px 20px 40px 20px;
}
body.booking .content-wrapper h1{
	padding-top : 5px;
	font-size: 31px;
}
body.booking a.btn-next,
body.booking a.btn-prev {
	top : 50%;
}
body.booking a.btn-prev {
	left : -20px;
}
body.booking a.btn-next {
	right : -20px;
}
body.booking div.actions {
	text-align: center;
}
body.booking p.note {
	font-size:17px;
}
body.booking h2 {
	text-transform:capitalize;	
}
body.booking legend{
	font-size: 22px;
	line-height: 1.4em;
	color: #fff;
	text-align: center;
	padding: 0 0 10px 0;
}
body.booking #calendar-wrapper {
	width : 300px;
	margin : 0 auto;
}
body.booking #calendar-wrapper p {
	text-align: center;
	color : #fff;
	margin: 0 auto 20px;
}
body.booking table.main {
	width : 98%;
	margin: 20px auto;
	color : #fff;
	border-collapse: collapse;
}
body.booking table.main th,
body.booking table.main td{
	font-size : 22px;
	text-align: center;
	font-weight: 400;
}
body.booking table.main  th {
	padding-bottom: 10px;
}
body.booking table.main td.package {
	/*white-space:nowrap;*/
	width: 17%;
	line-height: 1.3em;
}
body.booking table.main td.desc {
	font-size: 12px;
	text-align: left;
} 
body.booking table.main tbody {
	border-top : 1px solid #acacad;
	border-left: 1px solid #acacad;
}
body.booking table.main td {
	border-bottom  : 1px solid #acacad;
	border-right: 1px solid #acacad;
	padding : 20px;
}
body.booking div.continue {
	position: absolute;
	top: 14px;
	right: 14px;
}
body.booking a.learn-more {
	border-bottom: 1px solid #8aa7eb;	
}
body.booking a:hover.learn-more {
	text-decoration: none;
}
.divider {
	height : 20px;
	width : 100%;
	margin: -20px 0 20px 0;
	background: transparent url(/images/header-underline.png) 50% 100% no-repeat;
}

body.booking .intro {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}
body.booking .intro p {
	font-size: 17px;
	line-height: 22px;
}


/********************************** STEP 1 *******************************/
body.booking.step1 p.note{
	margin-bottom: 1em;
}
body.booking.step1 .content-wrapper {
	padding: 30px 20px 0 20px;
}
body.booking.step1 article.flier-type {
	float : left;
	width : 49%;
	margin : 0 1% 4% 0;
}
body.booking.step1 article.flier-type div {
	width: 63%;
	float : left;
}
body.booking.step1 article.flier-type aside {
	float : left;
	margin : 0 4% 0 0;
}
body.booking.step1 article.flier-type h3 {
	font-size: 25px;
	text-transform: uppercase;
	text-shadow : -1px -1px 1px #5985DB, 1px 1px 1px #555;
	letter-spacing: 0em;
}
body.booking.step1 article.flier-type p {
	height: 94px;
}


/********************************** STEP 1 PACKAGE OVERVIEW ***************************/
body.booking.step1.overview h4{
	text-transform: uppercase;
	font-weight: 400;
}
body.booking.step1.overview h4.main{
	margin: 40px 0 20px 0;
}
body.booking.step1.overview .package {
	margin : 0 0 20px 0;
}
body.booking.step1.overview .package p {
	margin :0;
}

/********************************** STEP 2 - BOOKING DETAILS *************************/


body.booking.step2 #booking-details {
	color : #fff;
	margin-top: 30px;
}
body.booking.step2 #booking-details form {
	width : 490px;
	margin : 0 auto;
	padding-left: 42px;
}
body.booking.step2 #booking-details form div,
body.booking.step2 #booking-details form a {
	margin: 0 10px 0 0;
}
body.booking.step2 #booking-details legend {
	font-size: 27px;
	text-align: center;
	padding: 15px 0 5px 0;
	letter-spacing: 0.05em;
}
body.booking.step2 .tunnel-info {
	width: 450px;
	margin: 25px auto;
}
body.booking.step2 .tunnel-info aside,
body.booking.step2 .tunnel-info > div {
	float : left;
	margin: 0 10px 0 0;
}
body.booking.step2 .tunnel-info ul {
	padding : 0;
	margin : 0 0 10px 0;
}
body.booking.step2 .tunnel-info li {
	list-style-type: none;
}
body.booking.step2 div.next {
	margin: 20px 0 0 192px;
}

/********************************** STEP 3 - Recommended Packages *************/

body.booking.step3 h1 {
	padding-top: 4px
}

body.booking.step3 div.actions {
	margin : 20px auto;
}
body.booking.step3 p.note {
	/*font-size: 22px;
	line-height: 1em;
	padding: 0px 0 8px 0;*/
}

/********************************** STEP 4 - DATE & TIME *********************/
body.booking.step4 p.note {
	width: 550px;
	margin: 0 auto 20px;
	/*font-size: 22px;
	padding: 0;
	line-height: 1em;*/
}
body.booking.step4 h2.note {
	padding-bottom: 30px;
}
body.booking.step4 #time-picker form {
	width : 85%;
	margin : 0 auto;
}
body.booking.step4 #time-picker fieldset {
	width: 20%;
	float: left;
	padding-left: 20px;
	margin-left: 13px;
	border-left: 1px solid #ACACAD;
}
body.booking.step4 #time-picker fieldset.first {
	padding-left: 0;
	margin-left: 23px;
	border: none;
}

/* non JS */
body.booking.step4 fieldset em {
	width : 49%;
	display: inline-block;
}
body.booking.step4 label {
	color : #fff;
}
/* JS */
.js body.booking.step4 input[type=radio] {
	display: none;
}
.js body.booking.step4 label {	
	color: black;
	padding: 3px 5px 3px 8px;
	width: 58px;
	float: left;
	font-style: normal;
	background-color: white;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	border-radius: 7px;
	font-size : 12px;
	text-align:center;
}
.js body.booking.step4 label.your-time {
	background-color: #358313;
	color: #fff;
}
.js body.booking.step4 label.unavailable {
	background-color: #989898;
	color: #858585;
	cursor: default;
}

body.booking.step4 #legend{
	clear: both;
	/*float: right;*/
	margin: 10px auto;
	width: 100%;
	text-align: center;
	padding: 20px 0px 0px;
}
body.event-list #legend{
	width: 230px;
	clear: both;
	margin: 10px auto;
	padding: 5px 0px 0px;
}
body.booking.step4 #legend span, body.event-list #legend span {
	/*float : left;*/
	color : #fff;
	padding-right:20px;
	vertical-align: top;
}
body.event-list #legend span {
	display:block;
	text-align:right;
	padding-right:0px;
}

body.booking.step4 #legend em, body.event-list #legend em{
	width : 16px;
	height: 16px;
	display: inline-block;
	margin-right : 10px;
	background-color: #fff;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	-khtml-border-radius: 10px;
	border:2px #FFF solid;
	margin-top: -3px;
}
body.event-list #legend em{
	margin-left : 10px;
	margin-top: -2px;
}

body.booking.step4 #legend span.green em{
	background-color: 	#358313;
}
body.booking.step4 #legend span.black em{
	background-color: #989898;
}

body.event-list #legend span.today em{
	background-color:#858585;
}
body.event-list #legend span.event em{
	background-color:#0D3798;
}
body.event-list #legend span.current em{
	background-color:#358313;
}


body.booking.step4 .actions {
	clear : both;
	color : #fff;
	width : 70%;
	text-align: center;
	margin : 0px auto;
}
body.booking.step4 .actions p {
}

/****************************** STEP 5 - CART ************************/
body.booking.step5 #nav,
body.booking.step5 .header-holder,
body.booking.step5 #footer .block-holder div.block,
body.booking.step5 .btn-prev,
body.booking.step5 .btn-next {
	display: none;
}
body.booking.step5 header,
body.booking.step6 header,
body.booking.step7 header  {
	height : 100px;
}
body.booking.step5 .logo ,
body.booking.step6 .logo,
body.booking.step7 .logo {
	display: none;
}
body.booking.step5 .logo.alt,
body.booking.step6 .logo.alt, 
body.booking.step7 .logo.alt  {
	margin-top: 10px;
	display: block;
}
body.booking.step5 span.qty {
	display: block;
	margin : 0 0 10px 0;
}
body.booking.step5 td {
	padding : 10px;
}
body.booking.step5 td h3 {
	font-size: 22px;
	font-weight: 400;
	white-space: nowrap;
}
body.booking.step5 td p {
	font-size: 13px;
	margin: 0;
}
body.booking.step5 div#promo-code {
	float : right;
	margin-right: 5px;
}
body.booking.step5 div#promo-code legend {
	display: none;
}
body.booking.step5 div#promo-code input.text {
	width : 190px;
}
body.booking.step5 div#restrictions {
	width: 500px;
	float: left;
	font-size: 13px;
	color : #fff;
	margin: 20px 0 0 20px;
}
body.booking.step5 div#restrictions h3 {
	font-size: 13px;
	color : #fff;
	text-transform: uppercase;
}
body.booking.step5 div#restrictions ul {
	margin : 0;
}
body.booking.step5 div#restrictions p {
	margin-left : 27px;
}
body.booking.step5 div#summary {
	float : right;
	margin-right: 8px;
}
body.booking.step5 div#summary table {
	width : 100%;
	width : 275px;
	float : right;
}
body.booking.step5 div#summary th {
	text-align: right;
	border-bottom: 1px solid #ACACAD;
	border-right: 1px solid #ACACAD;
	padding : 10px;
	width : 50%;
}
body.booking.step5 div#summary form {
	float : right;
	clear : both;
	margin: 0px;
}
body.booking.step5 div#summary form label {
	font-size: 12px;
	color: white;
	float: left;
	padding-top: 14px;
	text-align: right;
	line-height: 1em;
	margin:0px;
}
.booking.step5 div.checker {
  float : right;
  margin : 15px 10px 0 4px;
}
body.step5 div#summary input[type="checkbox"] {
	margin: 15px 8px 0px 2px;
}
body.booking.step5 div#summary form .checkout {
	vertical-align: bottom;
	float: right;
}
body.booking.step5 form.uniform {
	position: relative;
}

/**************************** Step 6 ********************************/
body.booking.step6 #nav,
body.booking.step6 .header-holder,
body.booking.step6 #footer .block-holder div.block,
body.booking.step6 .btn-prev,
body.booking.step6 .btn-next {
	display: none;
}
body.booking.step6 .checkout-wrapper {
	padding-left: 73px;
}
body.booking.step6 p.lock {
	font-size : 20px;
	line-height: 30px;
	font-weight: 700;
	padding-left : 25px;
	margin : 15px 0 0 -25px;
	background : url(/images/booking-sprite.png) -0px -110px no-repeat;
}
body.booking.step6 p.secure  {
	margin : 0 0 15px 0;
}

body.booking.step6 fieldset div{
	margin : 0px;
	padding:10px 0px;
}
body.booking.step6 fieldset div.radio, body.booking.step6 fieldset div.checker {
	padding:0px 2px;	
}
body.booking.step6 fieldset div.selector {
	padding:0px 0px 0px 8px;	
}
body.booking.step6 fieldset.cc-info {
	margin-top: 10px;
}
body.booking.step6 .payment-method label {
	color : #fff;
	display: block;
	font-size: 20px;	
	padding-top: 5px;
}
body.booking.step6 .save-cc label,
body.booking.step6 .payment-method div label {
	color : #fff;
	padding-top: 5px;
	font-size: 12px;
	display: inline-block;
}

body.booking.step6 label {
	font-size : 20px;
	display : block;
	margin : 0 0 5px 0;
	letter-spacing: 0.05em;
}
body.booking.step6 fieldset > div {
	float : left;
	margin-right : 20px;
}
body.booking.step6 .payment-method > div {
	margin-right: 25px;
}
body.booking.step6 div.expiry {
	margin : 8px 35px 0 0;
}
body.booking.step6 label.cc {
	width : 192px;
	height: 27px;
	background : url(/images/booking-sprite.png) 0 -152px;
	margin-top: 3px;
}
body.booking.step6 label.ccv {
	width : 41px;
	height: 26px;
	background : url(/images/booking-sprite.png) 0 -200px;
}

/**************************** Step 7 ********************************/
body.booking.step7 #nav,
body.booking.step7 .header-holder,
body.booking.step7 #footer .block-holder div.block,
body.booking.step7 .btn-prev,
body.booking.step7 .btn-next {
	display: none;
}
body.booking.step7 h2.confirmation {
	padding-bottom: 15px;
	text-transform:none;
}
body.booking.step7 h2.confirmation span {
	color : #e2383f;	
}
body.booking.step7 .confirmation-wrapper {
	width: 420px;
	margin: 0 auto;
	text-align: center;	
	border-bottom: 1px solid #9b9b9b;
	padding: 10px 0;
}
body.booking.step7 .confirmation-wrapper.last {
	border-bottom: none;
}
body.booking .confirmation-wrapper.last h1 {
	background:none;
	padding-bottom:0px;
}

.confirmation-wrapper.last h2 {
	padding:15px 0px 0px;
}

body.booking.step7 .actions a{
	display: inline-block;
	margin-bottom: 10px;
}
body.booking.step7 h3 {
	font-size: 22px;
}
body.booking.step7 p {
	margin-top: 0;
	padding-top:0px;
}


/**************************************************************************
GIFTING PROCESS
***************************************************************************/

/* Step 1 */
body.booking.gifting.step1 form#redeem {
	text-align: center;
	width : 330px;
	margin: 0 auto;
}
body.booking.gifting.step1 input[type=text] {
	width : 250px;
}
body.booking.gifting.step1 form#redeem .submit {
	margin : 10px 0 0 0;
}
body.booking.gifting.step1 div#redeem-examples {
	text-align: center;
	width : 711px;
	margin : 40px auto 0 auto;
}
body.booking.gifting.step1 .content-wrapper {
	padding : 20px 20px 40px 20px;
}
body.booking.gifting.step1 article ul {
	list-style-type: none;
	text-align: center;
	margin : 40px 0;
}
body.booking.gifting.step1 article li {
	margin : 1em;
	font-size: 18px;
}
body.booking.gifting.step1 .check-balance {
	text-align: center;
	margin: 40px 0 0 0;
}

/* Step 2 */
body.booking.gifting.step2 #booking-details form {
	width: 500px;
	padding-left:0px;
}
body.booking.gifting.step2 #booking-details div.row {
	width : 390px;
	margin : 0 auto;
}
body.booking.gifting.step2 .tunnel-info div{
	width: 200px;
}
body.booking.gifting.step2 .next {
	margin: 20px 0 0 192px;
}



/* Step 3 */
body.booking.gifting.step3 .intro {
	width : 80%;
	margin : 0 auto 40px auto;
}
body.booking.gifting.step3 .options h3  {
	float: left;
}
body.booking.gifting.step3 .options h3 {
	text-align : center;
}
body.booking.gifting.step3 .options h3:first-child {
	width : 65%;
}
body.booking.gifting.step3 .options h3:last-child {
	width : 30%;
}
body.booking.gifting.step3 #packages {
	width : 60%;
	float : left;
}
body.booking.gifting.step3 td.price {
	white-space: nowrap;
	padding : 10px;
}
body.booking.gifting.step3 em.asterisk {
	font-size: 12px;
	vertical-align: text-top;
}
body.booking.gifting.step3 p.note {
	width : 60%;
	margin : 0 auto;
	line-height: 1.4em;
	font-size: 12px;
}
body.booking.gifting.step3 td.price form {
	margin : 10px 0 0 0;
}
body.booking.gifting.step3 #uniform-quantity.selector {
	float: left;
}
body.booking.gifting.step3 .add {
	float: left;
	margin: -2px 0 0 5px;
}
body.booking.gifting.step3 form.amount {
	width : 25%;
	float : right;
	margin : 50px 0 0 0;
} 
body.booking.gifting.step3 input.purchase{
	margin : 30px 0;
}
body.booking.gifting.step3 form.amount .row {
	height: 50px;
}
body.booking.gifting.step3 form.amount label {
	font-size: 22px;
}

/**************************************************************************
REDEEM A FIGT CARD
***************************************************************************/

/* Step 1 */
body.booking.gifting.redeem form#redeem {
	text-align: center;
	width : 330px;
	margin: 0 auto;
}
body.booking.gifting.redeem input[type=text] {
	width : 250px;
}
body.booking.gifting.redeem form#redeem .submit {
	margin : 10px 0 0 0;
}
body.booking.gifting.redeem div#redeem-examples {
	text-align: center;
	width : 711px;
	margin : 40px auto 0 auto;
}
body.booking.gifting.redeem .content-wrapper {
	padding : 20px 20px 40px 20px;
}


/**************************************************************************
PHOTO VIDEO MANAGER
***************************************************************************/


body.photo-video .content-wrapper{
	width : 925px;
	margin : 0 auto;
	padding : 10px;
	border : 3px transparent;
	background : none;
	border : none;
	min-height: 800px;
}
form.find-photovid .row {
	padding-top:20px;
}
form.find-photovid span.formtext {
	color:#FFFFFF;	
}


/**************************************************************************
EVENT LIST
***************************************************************************/
body.event-list aside {
	width : 38%;
	padding-top: 2.5%;
	text-align: center;
}
body.event-list div.event {
	margin-bottom: 30px;
}
body.event-list h2  {
	margin : 0;
	text-transform: uppercase;
}
body.event-list article p {
	margin : 0;
	padding: 0px;
}

/**************************************************************************
RATINGS & REVIEWS
***************************************************************************/

.star-rating {
    display:inline-block;
    background:transparent url(/images/stars.png) 0px 0px no-repeat;
    text-indent:-10000px;
    margin:0px;
    padding:0px;
    width: 77px;
    height:13px;
    
}
.star-rating.star5 {
    background-position:0px 0px;
}
.star-rating.star4 {
    background-position:0px -13px;
}
.star-rating.star3 {
    background-position:0px -26px;
}
.star-rating.star2 {
    background-position:0px -39px;
}
.star-rating.star1 {
    background-position:0px -52px;
}
body.ratings #ratings-distribution p{
	margin: 0 1.5em;
}
body.ratings .progress-bar {
	color : #fff;
	font-style: 12px;
	height : 25px;
}
body.ratings .progress-bar span {
	width: 100px;
	height : 7px;
	background: #fff;
	display: inline-block;
	line-height: 7px;
	margin : 0 5px;
}
body.ratings .progress-bar span em {
	height: 7px;
	background : #c7262d;
	display: inline-block;
}

body.ratings div.note{
	text-align: center;
	margin-bottom: 35px;
}
body.ratings div.note p {
	font-size: 17px;
	margin: 0.5em 0;
}
body.ratings span.average,
body.ratings  h3 {
	font-size : 17px;
	color: #fff;
	line-height: 22px;
}
body.ratings div.pagination {
	float : left;
	width : 20%;
	padding-top: 10px;
}
body.ratings div.sort {
	float : left;
	width : 80%;
}
body.ratings div.sort span,
body.ratings div.sort form {
	float : left;
}
body.ratings div.review {
	padding : 15px 0 25px 0;
	font-size: 14px;
	border-top: 1px solid #9b9b9b;
}

body.ratings div.info {
	float : left;
	width : 15%;
}
body.ratings div.info span.star-rating{
	margin-bottom: 6px;
}
body.ratings div.info span,
body.ratings div.info em {
	color: #fff;
	display: block;
}
body.ratings div.info em {
	font-style: normal;
	font-weight: 700;
}
body.ratings div.comment {
	float : left;
	width : 80%;
}
body.ratings div.comment p {
	margin-top : 0;
	padding-top:0px;
}
body.ratings div.comment strong {
	font-size : 17px;
}

body.ratings #sort-pagination {
	margin-bottom: 25px;
}
body.ratings .pagination div {
	float : left;
}
body.ratings .pagination div.pages {
	line-height: 22px;
	color : #fff;
	margin : 0 10px;
}
body.ratings .pagination div.pages span {
	padding : 0 2px;
}
body.ratings a.prev,
body.ratings a.next {
	width : 22px;
	height: 22px;
	background:transparent url(/images/sprite-photovid.png) no-repeat;
}
body.ratings a.next {
	background-position: top right;
}
body.ratings .sort > span {
	line-height: 36px;
	color: #fff;
	margin-right: 10px;
}


/**************************************************************************
MODALS
***************************************************************************/
#login.overlay {
	width:865px;
	text-align:center;
	margin:0 auto;
}
#login.overlay h1 {
	color:#000;
	padding: 15px inherit 15px;
	background: transparent url(/images/overlay-underline.png) 50% 100% no-repeat;
}
#login.overlay div.return-user {
	float:left;
	width:432px;
	display:inline-block;
	border-right:thin #999 solid;
}
#login.overlay div.new-user {
	float:right;
	width:432px;	
	display:inline-block;	
}
#login.overlay input.text, textarea.text {
	margin-bottom: 10px;
}
