body.photo-video .content-wrapper{
	width : 975px;
	margin : 0 auto;
	padding : 10px 0px;
	border : 3px transparent;
	background : none;
	border : none;
	min-height: 600px;
}

form.find-photovid .btn.date {
	float: none;
	width:80px;
	vertical-align: top;
	margin-top: 4px;
}

form.find-photovid span.vert-divider {
	display: inline-block;
	overflow: visible;
	width: 30px;
	height:40px;
	background: transparent url(/images/vertical-divider.png) top center no-repeat;
}

form.find-photovid #uniform-flyer-location.selector span, form.find-photovid  #uniform-flyer-location.selector {
	width: 135px;
	text-align:left;
	padding-right:35px
}
form.find-photovid #uniform-photovid-flight-time.selector, form.find-photovid #uniform-photovid-flight-time.selector span {
	width:60px;
	text-align:left;
}

form.find-photovid .row {
	text-align:center;
	margin:0 auto;
}
form.find-photovid span.formtext {
	color: white;
	width:50px;
	display:inline-block;
	vertical-align: top;
	margin-top: 12px;
}
form.find-photovid #calendar-quickbook{
	top: 63px;
	left: 560px;
}
div.row.media-toggle {
	text-align:left;	
	float:left;
	padding: 15px 0px 2px;
}
#grid-photo, #grid-video {
	display:none;
	margin:5px 0px 0px -8px;	
}
#grid-photo .item, #grid-video .item{
	margin:5px 5px 8px 5px;	
	
}
#grid-photo .item a, #grid-video .item a{
	display: block;
	/*margin:auto;
	background:transparent url(/images/photovid-video-icon.png) center center no-repeat;*/
}

.item.video .play strong, .item.video .play {
	background: url(/images/photovid-video-icon.png) no-repeat 50% 50%;
	width: 29px;
	height: 31px;
	border:none;
}
body.photo-video div.selector select {
	height: 100%;
}
div.paginate {
	position:absolute;
	right:0px;
	
	clear:none;
	display:block;
	float:left;
	margin:-23px 17px 0px 0px;
}

div.paginate a{
	display: inline-block;
	overflow: hidden;
	text-indent:-10000px;
	width:23px;
	height:22px;
	background:transparent url(/images/sprite-photovid.png) no-repeat;
}
div.paginate a.previous{
	background-position: top left;
}
div.paginate a.next{
	background-position: top right;
}
div.paginate span {
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	text-align:center;
	padding:0px 7px;
	vertical-align: middle;
}
div.footer-nav {
	height:50px;	
}
div.footer-nav .paginate{
	margin-top:10px;
}
body.photo-video #cboxMiddleLeft {
	/*width: 0px;
	background: none;*/
}
body.photo-video img.cboxPhoto {
	border-radius:6px;
	-webkit-border-radius:6px;
	margin:0 2px;
	border:3px solid transparent;
	background-color : #999;
	background-image: linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -o-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(180,182,191)),
        color-stop(0.53, rgb(255,255,255)),
        color-stop(1, rgb(172,175,189))
    );
}
body.photo-video #cboxTopLeft,  body.photo-video #cboxTopCenter, body.photo-video #cboxTopRight, body.photo-video #cboxMiddleRight, body.photo-video #cboxMiddleLeft, body.photo-video #cboxBottomLeft, body.photo-video #cboxBottomRight, body.photo-video #cboxBottomCenter {
	display:none;	
}
body.photo-video #cboxContent {
	background: none;
	overflow: visible;
}
body.photo-video #cboxLoadedContent {
	margin-bottom:0px;
}
body.photo-video #cboxClose {
	right: -25px;	
}
.grid-holder {
	height: 685px;
	overflow: hidden;
}
/*
*/