{embed="default_site:inc/head"}
<body class="info-page tunnel-locator">
	
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">
			
				<h1 class="underline">Contact Us</h1>

				{if segment_last == "thank_you"}
				<p>Thank you, we've recieved your message and someone will be in touch soon.</p>
				{/if}
				

				{exp:freeform:composer 
				    form_name="contact"
				    composer_template_name="standard"
				    return="contact-us/thank_you"
				} 
				
			
			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>