{embed="default_site:inc/head"}

<body class="info-page one-col search-results">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<section class=" clearfix">
					
					<h1>Search Results</h1>

						
						{if site_short_name == "default_site"}
						
							{embed="default_site:home/search-global-channels"}
						{if:else}
						
							{embed="default_site:home/search-local-channels"}
						{/if}


			
			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>