					<select name="code" title="First time, return flyer, experienced or group" id="flyer-type">
						{exp:channel:entries channel="flyer_codes" site="default_site" disable="categories|category_fields|member_data|pagination" dynamic="off" fixed_order="93|96|94|95"}
                          	<option value="{f_code}">{related_entries id="f_type"}{title}{/related_entries}</option>
                       	{/exp:channel:entries}
						<option selected="selected">FLYER TYPE</option>
					</select>