								<select name="tunnel" title="Pick your iFLY location" id="flyer-location" class="locations">
									{exp:channel:entries site="default_site" channel="tunnel_codes" disable="categories|category_fields|member_data|pagination" dynamic="off" status="not closed" sort="asc" orderby="title"}
                                    <option value="{t_code}">{related_entries id="t_tunnel"}{title}{/related_entries}</option>
                                    {/exp:channel:entries}
                                    <option selected="selected">FLIGHT LOCATION</option>
                                </select>