{if segment_3!=""} {redirect="home/404"} {/if}
{embed="default_site:inc/head"}
<body class="info-page one-col waiver">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				{exp:channel:entries channel="legal" limit="1" disable="categories|category_fields|member_data|pagination" require_entry="yes"}

							{if no_results}{redirect="home/404"}{/if}  
				<h1 class="underline">{title}</h1>
				{if location_sub_heading}<h2 class="note">{legal_sub_heading}</h2>{/if}
				{legal_copy}
				{/exp:channel:entries}


				{if segment_2 == "waiver"}
					<?php
						if (isset($_REQUEST['res'])) :
					?>

					<iframe src="http://access.iflyworld.com/waiver/web/<?php echo $_REQUEST['tunnel'] ?>/<?php echo $_REQUEST['res'] ?>/<?php echo $_REQUEST['guest'] ?>/welcome" width="925" height="910" border="0"></iframe>

					<?php
						else :
					?>

						{if site_id == '1'}

						 	<select class="locations" name="tunnel" id="waiver-location" title="Select your tunnel">
                                <option>Please Select Your Tunnel</option>
                                {exp:channel:entries channel="tunnel_codes" disable="categories|category_fields|member_data|pagination" dynamic="off" site="default_site" status="not closed"}
                               		<option value="{t_code}">{related_entries id="t_tunnel"}{title}{/related_entries}</option>
                              	{/exp:channel:entries}
                            </select>

                        {if:elseif site_id != "1"}
                        	<div id="waiver-iframe"></div>	
                        {if:else}       	
                      	
							<iframe id="waiver-iframe" src="http://access.iflyworld.com/waiver/web/tunnel/res/guest/welcome" width="925" height="910" border="0"></iframe>	

						{/if}


					<?php
						endif;
					?>
				{/if}
				
				

				
			
			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}

	<script>
		IFLY.updateWaiverLocation();
	</script>
	
</body>
</html>