{embed="default_site:inc/head"}
<body class="info-page one-col lostpassword">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}
	<div id="main" role="main">
		<div class="content-block">
			<div class="content-wrapper rounded-corners gradient-border clearfix">
				<section class=" clearfix">
					<h1>Reset Your Password</h1>
					<div class="note">
						<h2>Please enter a new password below for your account.</h2>
					</div>
                        <form id="lost-password" name="lostpassword" method="post">
                            <fieldset>
                                <div class="clearfix">
                                    <label for="password">Enter a Password*</label>
                                    <input type="password" id="password" name="password" class="text required password" size="20" value="">
                                </div>
                                <div class="clearfix">
                                    <label for="confirm_password">Re-enter your password*</label>
                                    <input type="password" id="confirm_password" name="confirm_password" class="text required password" size="20" value="">
                                </div>
                            </fieldset>
                            <p class="lost-status"></p>
                            <a href="#" class="btn reset"><em></em><span>RESET PASSWORD</span></a>
                        </form>
				</section>
			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}

	<script type="text/javascript">
		$(document).ready(function() {
			if($('body.lostpassword').length>0)
			IFLY.ratingsreviews.init();
			//getParams();
		});
	</script>
</body>
</html>