.box-form .btn-date em,
.popup-block .btn em{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7c7a7e', endColorstr='#68696e',GradientType=0 );}
.box-form .btn-now em{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#76a460', endColorstr='#5c9b40',GradientType=0 );}
.btn-find em,
.block .btn em,
.box .btn-more em{filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d26c70', endColorstr='#d35459',GradientType=0 );}
