/**************************************************************************
Markup Elements
***************************************************************************/
h1, h2, h3, h4 {
	margin : 0;
	font-weight: 400;
}

h1 {
	color: #fff;
	text-align: center;
	font: 34px/38px Helvetica, Arial, sans-serif;
}

h2 {
	color : #fff;
	letter-spacing: 0.05em;
	font: 32px/38px Helvetica, Arial, sans-serif;
	/*text-shadow: -1px -1px 1px #999, 1px 1px 1px #999;*/
}
h4 {
	color : #fff;
	letter-spacing: 0.05em;
	font: 17px/22px Helvetica, Arial, sans-serif;
}

a {
	color : #fff;
}
a:hover {
	color : #999;
	text-decoration: underline;
}
a:visited {
	color : #fff;
}


/**************************************************************************
Structural Elements
***************************************************************************/
.content-block{
	width:100%;
	overflow:hidden;
	border-bottom:3px solid #757575;
	padding: 0 0 40px 0;
}

/**************************************************************************
STYLING Elements
***************************************************************************/

.uppercase {
	text-transform: uppercase;
}
.drop-shadow {
	box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.6);
}
.rounded-corners {
	border-radius:6px;
	-webkit-border-radius:6px;
}

.gradient-border {
	margin:0 2px;
	border:3px solid transparent;
	background-color : #999;
	background-image: linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -o-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -moz-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    background-image: -ms-linear-gradient(bottom, rgb(180,182,191) 0%, rgb(255,255,255) 53%, rgb(172,175,189) 100%);
    
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, rgb(180,182,191)),
        color-stop(0.53, rgb(255,255,255)),
        color-stop(1, rgb(172,175,189))
    );
}
.metal-bg{
	background:#25262b url(../images/bg-block-section.jpg) no-repeat 50% 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/**************************************************************************
INFO PAGE
***************************************************************************/
body.info-page {
	background: transparent url(../images/bg-page-metallic.jpg) 50% 0 no-repeat;
	background-size:auto 100%;
}
body.info-page .content-wrapper{
	width : 925px;
	margin : 0 auto;
	padding : 10px;
	border : 3px transparent;
	background : #000 url(../images/bg-content-sky.jpg) 50% 0 no-repeat;
	border : 3px solid #b1b3bc;
}
body.info-page article p {
	color : #fff;
	margin : 0 0 13px 0;
	font: 100 140%/160% Helvetica, Arial, sans-serif;
}
/**************************************************************************
TWO COLUMN
***************************************************************************/
body.two-col .content-wrapper{
	width : 925px;
	margin : 0 auto;
	padding : 10px;
	border : 3px transparent;
	border : 3px solid #b1b3bc;
	background : #0E4DA1 url(../images/bg-content-sky.jpg) 50% 0 no-repeat;
}

body.two-col section {
	margin : 0 0 20px 0;	
}
body.two-col article {
	float : right;
	width : 62%;
	clear : left;
	padding-top: 2.50%;
}

body.two-col aside {
	float : left;
}


/**************************************************************************
ONE COLUMN
***************************************************************************/

body.one-col h1, body.photo-video h1 {
	padding-bottom:  15px;
	background: transparent url(../images/header-underline.png) 50% 100% no-repeat;
}

body.one-col .content-block {
	padding : 0px 0 40px 0;
}
body.one-col section {
	padding : 0 40px;
	margin : 0 0 20px 0;	
}
body.one-col article {
	margin : 20px 0 0 0;
}
body.one-col aside{
	text-align : center;
}

/**************************************************************************
ONE COLUMN FORM
***************************************************************************/
body.one-col.form h4:first-child {
	margin-bottom : 40px;
}
body.one-col.form article p.first{
	margin-bottom: 50px;
}
body.one-col.form article p.second{
	margin-bottom: 20px;
}
body.one-col.form article p,
body.one-col.form article dd,
body.one-col.form article dt,
body.one-col.form article label {
	color : #fff;
	margin: 0;
	font-size : 17px;
	line-height: 20px;
	display: block;
}
body.one-col.form article form {
	margin-top: 30px;
}
body.one-col.form .row {
	margin-bottom: 20px;
}
body.one-col.form article input[type=text], body.photo-video form.find-photovid input[type=text]{
	display: block;
	border : none;
	width : 190px;
	height : 44px;
	text-align: center;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	outline: none;
	padding : 0 5px;
	background : transparent url(../images/sprite-form.png) -2px -6px no-repeat;
}
body.photo-video form.find-photovid input[type=text] {
	display:inline-block;
}

body.one-col.form article input[type=submit]{
	text-indent: -999em;
	width : 73px;
	height: 37px;
	border : none;
	background : transparent url(../images/sprite-form.png) 0 -59px no-repeat;
}


/**************************************************************************
TUNNEL LOCATOR
***************************************************************************/
body.tunnel-locator div.sort{
	margin-bottom: 40px;
	position: relative;
}
body.tunnel-locator div.buttons{
	margin: 5px 0;
}
body.tunnel-locator section {
	padding-bottom : 10px;
	margin-bottom : 15px;
	border-bottom : 1px solid #9b9b9b;
}
body.tunnel-locator section.extra{
	border : none;
}
body.tunnel-locator section.last{
	border : none;
	margin : 0;
}
body.tunnel-locator aside {
	float : left;
}
body.tunnel-locator aside img {
	border : 1px solid #9b9b9b;
}
body.tunnel-locator article {
	float : right;
	width : 78%;
}
body.tunnel-locator article h2{
	line-height: 1em;
}
body.tunnel-locator article p{
	font-size : 100%;
	margin : 0;
}
body.tunnel-locator .btn.green {
	/*margin-left : 10px;*/
	margin-left: 23px;
	margin-top: 0px;
}
body.tunnel-locator .btn.map-locator {
	position: relative;
}
body.tunnel-locator .btn.map-locator span{
	margin-left : 30px;
}
body.tunnel-locator .btn.map-locator div {
	width : 28px;
	height : 28px;
	position: absolute;
	top : 2px;
	left : 5px;
	background : url(../images/sprite.png) -63px -126px no-repeat;
}
body.tunnel-locator a.more-info {
	border-bottom : 1px solid #404144;
}
body.tunnel-locator a.more-info:hover {
	text-decoration: none;
	border-bottom : 1px solid #fff;
}

/**************************************************************************
CALENDAR
***************************************************************************/
#calendar-quickbook {
	position:absolute;
	z-index:5;	
	font-family:Lucida Sans,"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:11px;
	margin:0px auto 15px;
	width: 216px;
	/*height: 194px;*/
	-webkit-box-shadow:5px 2px 8px #000;
	-moz-box-shadow:5px 2px 8px #000;
	box-shadow:5px 2px 8px #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	overflow:visible;
	background-image: linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
	background-image: -o-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
	background-image: -moz-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
	background-image: -webkit-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
	background-image: -ms-linear-gradient(top, rgb(255,255,255) 60%, rgb(240,240,240) 90%);
	
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0.6, rgb(255,255,255)),
		color-stop(0.9, rgb(240,240,240))
	);
}
#calendar-quickbook {
	display:none;
	top: 3px;
	left: 9px;
}

#calendar-quickbook a {
	text-decoration:none;
	color:#858585;
}
table.ui-datepicker-calendar {
	text-align: center;
	display: inline-table;
	margin: 0px auto;
	padding: 0px 0px 5px;
	width: 100%;
	height: 150px;
	border-spacing: 1px 0px;
}
table.ui-datepicker-calendar thead{
	background-color:#f2f2f2;
}
table.ui-datepicker-calendar th{
	font-weight:normal;
	color:#858585;
	padding:3px 0px;
}
table.ui-datepicker-calendar tbody td{
	border-right:1px solid #FFF;
}
div.ui-datepicker-header {
	height: 32px;
	background-color: #0D83FC;
	padding: 6px 6px 0px 6px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
	border-radius: 5px 5px 0px 0px;
}
a.ui-datepicker-next {
	float:right;
}
div.ui-datepicker-title {
	width:100%;
	color:#FFF;
	display: compact;
	clear:none;
	text-align:center;
	margin:0px auto;
	padding: 5px 0px 0px;
}
a.ui-datepicker-prev.ui-corner-all, a.ui-datepicker-next.ui-corner-all {
	height:19px;
	width:19px;	
	margin: 4px 0px 0px;
	overflow:hidden;
	background:transparent url(../images/calendar_sprite.png) no-repeat top left;
	text-indent:-10000px;
	float:left;
}
a.ui-datepicker-next.ui-corner-all {
	background-position:-19px 0px;
	float:right;
}
/* Individual day styles */
#calendar-quickbook a.ui-state-active {
	color:#FFFFFF;
	
}
#calendar-quickbook td.ui-datepicker-current-day{
	background-color:#aaa;
}
#calendar-quickbook td.highlight{
	background-color:#0d3798;
}
#calendar-quickbook td.highlight a{
	color:#FFFFFF;
}
body.photo-video .content-wrapper{
	width : 925px;
	margin : 0 auto;
	padding : 10px;
	border : 3px transparent;
	background : none;
	border : none;
	min-height: 800px;
}
