{embed="default_site:inc/head"}
<body class="info-page one-col flyer">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}
	<div id="main" role="main">
		<div class="content-block">
			<div class="content-wrapper rounded-corners gradient-border clearfix">
				<section class=" clearfix">
					<h1>Flyer Information</h1>
					<div class="note">
						<h2>Select a thumbnail below to view your purchased media.<br />Click the download button in the overlay to save a copy.</h2>
					</div>
                    
				</section>
			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}

	<script type="text/javascript">
		$(document).ready(function() {
			
			//if($('body.flyer').length>0)
			//IFLY.profile.init();
			//getParams();
		});
	</script>
</body>
</html>