{if segment_3!=""} {redirect="home/404"} {/if}
{embed="default_site:inc/head"}
	{if site_id != '1'}
        <body class="info-page one-col local">
	  	{embed="default_site:inc/local-identifier"}

	{if:else}
        <body class="info-page one-col">

    {/if}
	{embed="default_site:inc/header"}

	<div id="main" role="main">
	
		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				{exp:channel:entries channel="template_one" limit="1" disable="categories|category_fields|member_data|pagination" require_entry="yes"}

				{if no_results}{redirect="home/404"}{/if} 

				
				<section class=" clearfix">

					{embed="inc/thanks"}

					{if info_media}



					<div class="visual-block">
                    
                        <div class="visual-holder">

							{info_media}  	

                               	{if total_rows > 1}

									{if row_count == 1}	

									<div class="video-wrapper">
									
										<ul id="slider">
	                    	
	                				{/if}

	                    			{if image}
									
										<div class="video-player">
											<img src="{image:thumb}" width="600" height="340">
										</div>
										
									{if:else}
									
										<div class="video-player">
											<iframe width="480" height="360" src="http://www.youtube.com/embed/{video}?autoplay=0&autohide=1&controls=1&wmode=transparent&rel=0" frameborder="0" allowfullscreen></iframe>
										</div>
										
									{/if}
		                    
		                    		{if row_count == total_rows}
	                    				
	                    				</ul><!-- /#slider -->

	                    			</div><!-- /.video-wrapper -->

	                				{/if}		                		

	                			{if:else}

	                			
	                				{if image}
										<div class="video-wrapper">
										<div class="video-player">
											<img src="{image}">
										</div>
										</div>
										
									{if:else}
										<div class="video-wrapper">
										<div class="video-player">
											<iframe width="480" height="360" src="http://www.youtube.com/embed/{video}?autoplay=0&autohide=1&controls=1&wmode=transparent&rel=0" frameborder="0" allowfullscreen></iframe>
										</div>
										</div>
										
									{/if}

		                		{/if}

                            {/info_media} 
                               

						</div><!-- /.visual-holder -->
					
					</div><!-- /.visual-block -->

					{/if}

					<article>
						<h1>{title}</h1>
						{info_copy}
						{info_form}
					</article>

				</section>

				{/exp:channel:entries}

			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>