{if segment_3!=""} {redirect="home/404"} {/if}

{embed="default_site:inc/head"}
	{if site_id != '1'}
        <body class="info-page two-col local">
	  	{embed="default_site:inc/local-identifier"}

	{if:else}
        <body class="info-page two-col">

    {/if}

	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				{exp:channel:entries channel="template_two" limit="1" disable="categories|category_fields|member_data|pagination" require_entry="yes"}

							{if no_results}{redirect="home/404"}{/if}  

				<h1>{title}</h1>
				{if template_two_sub}<h2>{template_two_sub}</h2>{/if}

				{template_two_content}
				
				<section class=" clearfix">

					<article>
						<h3>{title}</h3>
						{copy}
						{if link_text && link_url}<p><a href="{link_url}" class="btn red"><em></em><span>{link_text}</span></a></p>{/if}
					</article>
					
					<aside class="gradient-border drop-shadow rounded-corners">
						<img src="{image:thumb}" alt="{title}">
					</aside>

				</section>

				{/template_two_content}
				
				{/exp:channel:entries}
				
			</div><!-- /.content-wrapper -->

		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>