{if segment_3!=""} {redirect="home/404"} {/if}

{embed="default_site:inc/head"}
	{if site_id != '1'}
        <body class="info-page one-col local">
	  	{embed="default_site:inc/local-identifier"}

	{if:else}
        <body class="info-page one-col">

    {/if}

	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<section class=" clearfix">

					{embed="default_site:inc/thanks"}

					{exp:channel:entries channel="template_one" limit="1" disable="categories|category_fields|member_data|pagination" require_entry="yes"}

							{if no_results}{redirect="home/404"}{/if} 	

					{if info_image}
					<aside>

						{info_image}

							{if total_files > 1}

								{if count == 1}
								<div class="video-wrapper">
						
								<a class="btn-prev" href="#">&lt;</a>
								<a class="btn-next" href="#">&gt;</a>
						
								<ul id="slider">
		                    	
		                		{/if}
		                    		<li><img src="{url:thumb}" alt="{title}"></li>
 		                    
 		                    	{if count == total_files}
		                    	</ul><!-- /#slider -->

		                    	</div>

		                		{/if}

		                	{if:else}
								<img src="{url:thumb}" alt="{title}">
		                	{/if}

 						{/info_image}
						
					</aside>	
					{/if}
					
					<article>
						<h1>{title}</h1>
						{info_copy}
						{info_form}
					</article>

					{/exp:channel:entries}

				</section>

			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>