{embed="default_site:inc/head"}

<body class="info-page booking one-col">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<section class=" clearfix">

					<article>
						{exp:channel:entries channel="booking" limit="1" disable="categories|category_fields|member_data|pagination"} 
							<h1>{title}</h1>
							<h2 class="note">{sub_heading}</h2>
							{page_copy}
						{/exp:channel:entries}
						
					</article>

				</section>

			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>