						{exp:low_events:calendar channel="events" date="{segment_2}"}
						<div id="calendar">
						    <div id="title">
						      	<a class="prev" href="{path="events/{prev_month_url}"}" title="{prev_month format='%F %Y'}">&larr;</a>
						      	<strong>{this_month format="%F %Y"}</strong>
						      	<a class="next" href="{path="events/{next_month_url}"}" title="{next_month format='%F %Y'}">&rarr;</a>
						    </div>
							<table> 
						    	<thead>
						      		<tr>
						        	{weekdays}<th scope="col">{weekday_1}</th>{/weekdays}
						      		</tr>
						    	</thead>
						    	<tbody>
						      		{weeks}
						        	<tr{if is_given_week} class="given-week"{/if}>
						          	{days}
						            	<td class="{if is_current}current{/if}{if is_given} given{/if}{if is_today} today{/if} {if events_on_day}highlight{/if}">
						              	{if events_on_day}
						                	<a href="{path="events/{day_url}"}">{day_number}</a>
						              	{if:else}
						                	<span>{day_number}</span>
						              	{/if}
						            	</td>
						          	{/days}
						        	</tr>
						      	{/weeks}
						    	</tbody>
						  	</table>
						</div><!-- /#calendar -->
						{/exp:low_events:calendar}