{embed="default_site:inc/head"}

<body class="info-page events">
	{embed="default_site:inc/local-identifier"}
	{embed="default_site:inc/header"}

	<div id="main" role="main">

		<div class="content-block">

			<div class="content-wrapper rounded-corners gradient-border clearfix">

				<section class=" clearfix">
					
					<aside>
						{exp:low_events:calendar channel="events" date="{segment_2}"}
						<div id="calendar">
						    <div id="title">
						      	<a class="prev" href="{path="events/{prev_month_url}"}" title="{prev_month format='%F %Y'}">&larr;</a>
						      	<strong>{this_month format="%F %Y"}</strong>
						      	<a class="next" href="{path="events/{next_month_url}"}" title="{next_month format='%F %Y'}">&rarr;</a>
						    </div>
							<table> 
						    	<thead>
						      		<tr>
						        	{weekdays}<th scope="col">{weekday_1}</th>{/weekdays}
						      		</tr>
						    	</thead>
						    	<tbody>
						      		{weeks}
						        	<tr{if is_given_week} class="given-week"{/if}>
						          	{days}
						            	<td class="{if is_current}current{/if}{if is_given} given{/if}{if is_today} today{/if} {if events_on_day}highlight{/if}">
						              	{if events_on_day}
						                	<a href="{path="events/{day_url}"}">{day_number}</a>
						              	{if:else}
						                	<span>{day_number}</span>
						              	{/if}
						            	</td>
						          	{/days}
						        	</tr>
						      	{/weeks}
						    	</tbody>
						  	</table>
						</div><!-- /#calendar -->
                        <div id="legend" class="clearfix">
							<span class="today">Today's Date<em></em></span>
							<span class="event">Event Date<em></em></span>
						</div>

						{/exp:low_events:calendar}

						
					</aside>	
					
					<article>
						{exp:low_events:entries channel="events" show_expired="yes" show_future_entries="yes" date="{segment_2}"}
						<div class="event">
							<p class="meta">
	  							{if event_date:all_day} 
	  								{event_date:start_date format="%F %j, %Y"} 
	  							{if:elseif !event_date:one_day}
	  								{event_date:start_date format="%F %j, %Y"} ({event_date:start_date format="%F %j, %Y"}) 
	  							{if:else}
	  								{event_date:start_date format="%F %j, %Y"} ({event_date:start_time} - {event_date:end_time})
	  							{/if}
	  						</p>
							<h2>{title}</h2>
							<div class="lede">

							{exp:char_limit total="255"}
								{event_description}
							{/exp:char_limit}
	  						</div>
	  						<p><a href="/events/view/{url_title}">MORE INFO</a></p>
	  					</div>
						{/exp:low_events:entries}
					</article>

					

				</section>

			</div><!-- /.
		</div><!-- /.content-block -->

	</div><!-- /#main -->

	{embed="default_site:inc/footer"}
	{embed="default_site:inc/scripts"}
	{embed="default_site:inc/modals"}
	
</body>
</html>